{% if module['id'] is defined %}
    {% set moduleId = module['id'] %}
    {% set moduleName = module['name'] %}
    {% set moduleRoute = module['route'] %}
    {% set moduleDisplay_name = module['display_name'] %}
    {% set moduleDescription = module['description'] %}
    {% set moduleApp_type = module['app_type'] %}
    {% set moduleCategory = module['category'] %}
    {% set moduleSub_category = module['sub_category'] %}
    {% set moduleVersion = module['version'] %}
    {% set moduleRepo = module['repo'] %}
    {% set moduleClass = module['class'] %}
    {% set moduleSettings = module['settings'] %}
    {% set moduleMenu_id = module['menu_id'] %}
    {% set moduleMenu = module['menu'] %}
    {% set moduleApps = module['apps'] %}
{% else %}
    {% set moduleId = '' %}
    {% set moduleName = '' %}
    {% set moduleRoute = '' %}
    {% set moduleDisplay_name = '' %}
    {% set moduleDescription = '' %}
    {% set moduleApp_type = '' %}
    {% set moduleCategory = '' %}
    {% set moduleSub_category = '' %}
    {% set moduleVersion = '' %}
    {% set moduleRepo = '' %}
    {% set moduleClass = '' %}
    {% set moduleSettings = '' %}
    {% set moduleMenu_id = '' %}
    {% set moduleMenu = '' %}
    {% set moduleApps = '' %}
{% endif %}
{% if type === 'components' %}
    {% set title = 'component' %}
{% elseif type === 'views' %}
    {% set title = 'view' %}
{% endif %}
<div class="row">
    <div class="col">
        {{adminltetags.useTag('fields',
            [
                'component'                      : component,
                'componentName'                  : componentName,
                'componentId'                    : componentId,
                'sectionId'                      : sectionId,
                'fieldId'                        : 'id',
                'fieldLabel'                     : title ~ ' ID',
                'fieldType'                      : 'input',
                'fieldHelp'                      : true,
                'fieldHelpTooltipContent'        : title ~ ' ID',
                'fieldRequired'                  : true,
                'fieldBazScan'                   : true,
                'fieldBazPostOnCreate'           : false,
                'fieldBazPostOnUpdate'           : true,
                'fieldHidden'                    : true,
                'fieldDisabled'                  : true,
                'fieldValue'                     : moduleId
            ]
        )}}
        {{adminltetags.useTag('fields',
            [
                'component'                      : component,
                'componentName'                  : componentName,
                'componentId'                    : componentId,
                'sectionId'                      : sectionId,
                'fieldId'                        : 'type',
                'fieldLabel'                     : 'Module Type',
                'fieldType'                      : 'input',
                'fieldHelp'                      : true,
                'fieldHelpTooltipContent'        : 'Module Type',
                'fieldRequired'                  : true,
                'fieldBazScan'                   : true,
                'fieldBazPostOnCreate'           : false,
                'fieldBazPostOnUpdate'           : true,
                'fieldHidden'                    : true,
                'fieldDisabled'                  : true,
                'fieldValue'                     : type
            ]
        )}}
    </div>
</div>
<div class="row">
    <div class="col">
        {{adminltetags.useTag('fields',
            [
                'component'                      : component,
                'componentName'                  : componentName,
                'componentId'                    : componentId,
                'sectionId'                      : sectionId,
                'fieldId'                        : 'name',
                'fieldLabel'                     : title ~ ' Name',
                'fieldType'                      : 'input',
                'fieldHelp'                      : true,
                'fieldHelpTooltipContent'        : title ~ ' Name Example: Dashboard',
                'fieldRequired'                  : true,
                'fieldBazScan'                   : true,
                'fieldBazPostOnUpdate'           : true,
                'fieldDataInputMinLength'        : 1,
                'fieldDataInputMaxLength'        : 50,
                'fieldValue'                     : moduleName
            ]
        )}}
    </div>
    {% if module['route'] is defined %}
    <div class="col">
        {{adminltetags.useTag('fields',
            [
                'component'                      : component,
                'componentName'                  : componentName,
                'componentId'                    : componentId,
                'sectionId'                      : sectionId,
                'fieldId'                        : 'route',
                'fieldLabel'                     : title ~ ' Route',
                'fieldType'                      : 'input',
                'fieldHelp'                      : true,
                'fieldHelpTooltipContent'        : title ~ ' Route Example: mysite.com/dashboard/accounts "accounts" is the route to access this module.',
                'fieldRequired'                  : true,
                'fieldBazScan'                   : true,
                'fieldBazPostOnUpdate'           : true,
                'fieldDataInputMinLength'        : 1,
                'fieldDataInputMaxLength'        : 50,
                'fieldValue'                     : moduleRoute
            ]
        )}}
    </div>
    {% endif %}
    {% if type === 'views' %}
        <div class="col">
            {{adminltetags.useTag('fields',
                [
                    'component'                      : component,
                    'componentName'                  : componentName,
                    'componentId'                    : componentId,
                    'sectionId'                      : sectionId,
                    'fieldId'                        : 'display_name',
                    'fieldLabel'                     : 'view Display name',
                    'fieldType'                      : 'input',
                    'fieldHelp'                      : true,
                    'fieldHelpTooltipContent'        : 'view Display name',
                    'fieldRequired'                  : true,
                    'fieldBazScan'                   : true,
                    'fieldBazPostOnUpdate'           : true,
                    'fieldDataInputMinLength'        : 1,
                    'fieldDataInputMaxLength'        : 50,
                    'fieldValue'                     : moduleDisplay_name
                ]
            )}}
        </div>
    {% endif %}
</div>
<div class="row">
    <div class="col">
        {{adminltetags.useTag('fields',
            [
                'component'                      : component,
                'componentName'                  : componentName,
                'componentId'                    : componentId,
                'sectionId'                      : sectionId,
                'fieldId'                        : 'description',
                'fieldLabel'                     : title ~ ' Description',
                'fieldType'                      : 'textarea',
                'fieldDataMaxLength'             : 1024,
                'fieldHelp'                      : true,
                'fieldHelpTooltipContent'        : 'Description of the component',
                'fieldRequired'                  : false,
                'fieldBazScan'                   : true,
                'fieldBazPostOnUpdate'           : true,
                'fieldDataInputMaxLength'        : 1024,
                'fieldTextareaRows'              : 2,
                'fieldValue'                     : moduleDescription
            ]
        )}}
    </div>
</div>
<div class="row">
    <div class="col">
        {{adminltetags.useTag('fields',
            [
                'component'                      : component,
                'componentName'                  : componentName,
                'componentId'                    : componentId,
                'sectionId'                      : sectionId,
                'fieldId'                        : 'app_type',
                'fieldLabel'                     : title ~ ' App type',
                'fieldType'                      : 'input',
                'fieldHelp'                      : true,
                'fieldHelpTooltipContent'        : title ~ ' app type.',
                'fieldRequired'                  : true,
                'fieldBazScan'                   : true,
                'fieldBazPostOnUpdate'           : true,
                'fieldDataInputMinLength'        : 1,
                'fieldDataInputMaxLength'        : 50,
                'fieldValue'                     : moduleApp_type
            ]
        )}}
    </div>
    <div class="col">
        {{adminltetags.useTag('fields',
            [
                'component'                      : component,
                'componentName'                  : componentName,
                'componentId'                    : componentId,
                'sectionId'                      : sectionId,
                'fieldId'                        : 'category',
                'fieldLabel'                     : title ~ ' category',
                'fieldType'                      : 'input',
                'fieldHelp'                      : true,
                'fieldHelpTooltipContent'        : title ~ ' category.',
                'fieldRequired'                  : true,
                'fieldBazScan'                   : true,
                'fieldBazPostOnUpdate'           : true,
                'fieldDataInputMinLength'        : 1,
                'fieldDataInputMaxLength'        : 50,
                'fieldValue'                     : moduleCategory
            ]
        )}}
    </div>
    <div class="col">
        {{adminltetags.useTag('fields',
            [
                'component'                      : component,
                'componentName'                  : componentName,
                'componentId'                    : componentId,
                'sectionId'                      : sectionId,
                'fieldId'                        : 'sub_category',
                'fieldLabel'                     : title ~ ' sub category',
                'fieldType'                      : 'input',
                'fieldHelp'                      : true,
                'fieldHelpTooltipContent'        : title ~ ' sub category',
                'fieldRequired'                  : true,
                'fieldBazScan'                   : true,
                'fieldBazPostOnUpdate'           : true,
                'fieldDataInputMinLength'        : 1,
                'fieldDataInputMaxLength'        : 50,
                'fieldValue'                     : moduleSub_category
            ]
        )}}
    </div>
</div>
<div class="row">
    <div class="col">
        {{adminltetags.useTag('fields',
            [
                'component'                      : component,
                'componentName'                  : componentName,
                'componentId'                    : componentId,
                'sectionId'                      : sectionId,
                'fieldId'                        : 'version',
                'fieldLabel'                     : title ~ ' version',
                'fieldType'                      : 'input',
                'fieldHelp'                      : true,
                'fieldHelpTooltipContent'        : title ~ ' version.',
                'fieldRequired'                  : true,
                'fieldBazScan'                   : true,
                'fieldBazPostOnUpdate'           : true,
                'fieldDataInputMinLength'        : 1,
                'fieldDataInputMaxLength'        : 50,
                'fieldValue'                     : moduleVersion
            ]
        )}}
    </div>
    <div class="col-md-10">
        {{adminltetags.useTag('fields',
            [
                'component'                      : component,
                'componentName'                  : componentName,
                'componentId'                    : componentId,
                'sectionId'                      : sectionId,
                'fieldId'                        : 'repo',
                'fieldLabel'                     : title ~ ' repo',
                'fieldType'                      : 'input',
                'fieldHelp'                      : true,
                'fieldHelpTooltipContent'        : title ~ ' repo.',
                'fieldRequired'                  : true,
                'fieldBazScan'                   : true,
                'fieldBazPostOnUpdate'           : true,
                'fieldDataInputMinLength'        : 1,
                'fieldDataInputMaxLength'        : 1024,
                'fieldValue'                     : moduleRepo
            ]
        )}}
    </div>
</div>
{% if module['class'] is defined %}
<div class="row">
    <div class="col">
        {{adminltetags.useTag('fields',
            [
                'component'                      : component,
                'componentName'                  : componentName,
                'componentId'                    : componentId,
                'sectionId'                      : sectionId,
                'fieldId'                        : 'class',
                'fieldLabel'                     : title ~ ' class',
                'fieldType'                      : 'input',
                'fieldHelp'                      : true,
                'fieldHelpTooltipContent'        : title ~ ' class.',
                'fieldRequired'                  : true,
                'fieldBazScan'                   : true,
                'fieldBazPostOnUpdate'           : true,
                'fieldDataInputMinLength'        : 1,
                'fieldDataInputMaxLength'        : 2048,
                'fieldValue'                     : moduleClass
            ]
        )}}
    </div>
</div>
{% endif %}
{% if type === 'views' %}
    {% set rows = 10 %}
{% else %}
    {% set rows = 2 %}
{% endif %}
<div class="row">
    <div class="col">
        {{adminltetags.useTag('fields',
            [
                'component'                      : component,
                'componentName'                  : componentName,
                'componentId'                    : componentId,
                'sectionId'                      : sectionId,
                'fieldId'                        : 'settings',
                'fieldLabel'                     : title ~ ' Settings',
                'fieldType'                      : 'textarea',
                'fieldDataMaxLength'             : 1024,
                'fieldHelp'                      : true,
                'fieldHelpTooltipContent'        : 'Settings of the component',
                'fieldRequired'                  : false,
                'fieldBazScan'                   : true,
                'fieldBazPostOnUpdate'           : true,
                'fieldDataInputMaxLength'        : 1024,
                'fieldTextareaRows'              : rows,
                'fieldValue'                     : moduleSettings
            ]
        )}}
    </div>
</div>
{% if module['menu_id'] is defined %}
<div class="row">
    <div class="col">
        {{adminltetags.useTag('fields',
            [
                'component'                      : component,
                'componentName'                  : componentName,
                'componentId'                    : componentId,
                'sectionId'                      : sectionId,
                'fieldId'                        : 'menu_id',
                'fieldLabel'                     : title ~ ' menu id',
                'fieldType'                      : 'input',
                'fieldHelp'                      : true,
                'fieldHelpTooltipContent'        : title ~ ' menu id.',
                'fieldRequired'                  : true,
                'fieldBazScan'                   : true,
                'fieldBazPostOnUpdate'           : true,
                'fieldDataInputMinLength'        : 1,
                'fieldDataInputMaxLength'        : 50,
                'fieldValue'                     : moduleMenu_id
            ]
        )}}
    </div>
    <div class="col-md-10">
        {{adminltetags.useTag('fields',
            [
                'component'                      : component,
                'componentName'                  : componentName,
                'componentId'                    : componentId,
                'sectionId'                      : sectionId,
                'fieldId'                        : 'menu',
                'fieldLabel'                     : title ~ ' Menu',
                'fieldType'                      : 'textarea',
                'fieldDataMaxLength'             : 2048,
                'fieldHelp'                      : true,
                'fieldHelpTooltipContent'        : 'Menu of the component',
                'fieldRequired'                  : false,
                'fieldBazScan'                   : true,
                'fieldBazPostOnUpdate'           : true,
                'fieldDataInputMaxLength'        : 2048,
                'fieldTextareaRows'              : 2,
                'fieldValue'                     : moduleMenu
            ]
        )}}
    </div>
</div>
{% endif %}
<div class="row">
    <div class="col">
        {{adminltetags.useTag('fields',
            [
                'component'                      : component,
                'componentName'                  : componentName,
                'componentId'                    : componentId,
                'sectionId'                      : sectionId,
                'fieldId'                        : 'apps',
                'fieldLabel'                     : title ~ ' Apps',
                'fieldType'                      : 'textarea',
                'fieldDataMaxLength'             : 2048,
                'fieldHelp'                      : true,
                'fieldHelpTooltipContent'        : 'Apps of the component',
                'fieldRequired'                  : false,
                'fieldBazScan'                   : true,
                'fieldBazPostOnUpdate'           : true,
                'fieldDataInputMaxLength'        : 2048,
                'fieldTextareaRows'              : 2,
                'fieldValue'                     : moduleApps
            ]
        )}}
    </div>
</div>