<!-- htmlhint tag-pair:false --><!-- htmlmin:ignore -->
{% set apptypesURL = links.url('devtools/modules/q/module/true/type/apptypes/id/0') %}
{% set componentsURL = links.url('devtools/modules/q/module/true/type/components/id/0') %}
{% set packagesURL = links.url('devtools/modules/q/module/true/type/packages/id/0') %}
{% set middlewaresURL = links.url('devtools/modules/q/module/true/type/middlewares/id/0') %}
{% set viewsURL = links.url('devtools/modules/q/module/true/type/views/id/0') %}
{% set subViewsURL = links.url('devtools/modules/q/module/true/type/views/subview/true/id/0') %}
{% set bundlesURL = links.url('devtools/modules/q/bundles/true/id/0') %}
{% if includecoremodules is defined and includecoremodules === true %}
    {% set componentsURL = componentsURL ~ '/includecoremodules/true' %}
    {% set packagesURL = packagesURL ~ '/includecoremodules/true' %}
    {% set middlewaresURL = middlewaresURL ~ '/includecoremodules/true' %}
    {% set viewsURL = viewsURL ~ '/includecoremodules/true' %}
{% endif %}
{% if selectedAppType is defined and selectedAppType != 0 %}
    {% set componentsURL = componentsURL ~ '/apptype/' ~ selectedAppType %}
    {% set packagesURL = packagesURL ~ '/apptype/' ~ selectedAppType %}
    {% set middlewaresURL = middlewaresURL ~ '/apptype/' ~ selectedAppType %}
    {% set viewsURL = viewsURL ~ '/apptype/' ~ selectedAppType %}
    {% set subViewsURL = subViewsURL ~ '/apptype/' ~ selectedAppType %}
    {% set bundlesURL = bundlesURL ~ '/apptype/' ~ selectedAppType %}
{% endif %}
<div class="row">
    <div class="col">
        {% set includeCoreModulesChecked = false %}
        {% if includecoremodules is defined and includecoremodules == true %}
            {% set includeCoreModulesChecked = true %}
        {% endif %}
        {{adminltetags.useTag('fields',
            [
                'component'                      : component,
                'componentName'                  : componentName,
                'componentId'                    : componentId,
                'sectionId'                      : sectionId,
                'fieldId'                        : 'include_core_modules',
                'fieldLabel'                     : 'Include Core Modules?',
                'fieldHelp'                      : true,
                'fieldHelpTooltipContent'        : 'Include Core modules in the list of modules?',
                'fieldType'                      : 'checkbox',
                'fieldCheckboxType'              : 'info',
                'fieldCheckboxChecked'           : includeCoreModulesChecked,
                'fieldCheckboxAdditionClass'     : 'text-sm text-uppercase',
                'fieldBazPostOnCreate'           : true,
                'fieldBazPostOnUpdate'           : true,
                'fieldBazJstreeSearch'           : true,
                'fieldBazScan'                   : true
            ]
        )}}
    </div>
    <div class="col text-center">
        {{adminltetags.useTag('buttons',
            [
                'componentId'           : componentId,
                'sectionId'             : sectionId,
                'buttonType'            : 'button',
                'buttons'               :
                    [
                        'check-for-changes' : [
                            'title'                   : 'Check for module changes',
                            'type'                    : 'info',
                            'icon'                    : 'code'
                        ]
                    ]
            ]
        )}}
    </div>
    <div class="col">
        {{adminltetags.useTag('buttons',
            [
                'componentId'                       : componentId,
                'sectionId'                         : sectionId,
                'buttonType'                        : 'DropdownSplitButtons',
                'buttonLabel'                       : false,
                'dropdownButtonId'                  : 'main',
                'dropdownButtonTitle'               : 'Add new module',
                'dropdownButtonIcon'                : 'plus',
                'dropdownButtonAdditionalClass'     : 'text-uppercase',
                'dropdownAlign'                     : 'right',
                'buttonPosition'                    : 'right',
                'dropdowns'                         :
                    {
                        'apptypes' : {
                            'title'                   : 'App Type',
                            'type'                    : 'primary',
                            'additionalClass'         : 'contentAjaxLink',
                            'url'                     : apptypesURL
                        },
                        'components' : {
                            'title'                   : 'Component',
                            'type'                    : 'primary',
                            'additionalClass'         : 'contentAjaxLink',
                            'url'                     : componentsURL
                        },
                        'packages' : {
                            'title'                   : 'Package',
                            'type'                    : 'primary',
                            'additionalClass'         : 'contentAjaxLink',
                            'url'                     : packagesURL
                        },
                        'middlewares' : {
                            'title'                   : 'Middleware',
                            'type'                    : 'primary',
                            'additionalClass'         : 'contentAjaxLink',
                            'url'                     : middlewaresURL
                        },
                        'views' : {
                            'title'                   : 'View',
                            'type'                    : 'primary',
                            'additionalClass'         : 'contentAjaxLink',
                            'url'                     : viewsURL
                        },
                        'subviews' : {
                            'title'                   : 'Sub View',
                            'type'                    : 'primary',
                            'additionalClass'         : 'contentAjaxLink',
                            'url'                     : subViewsURL
                        },
                        'divider' : 'divider',
                        'bundles' : {
                            'title'                   : 'Modules Bundle',
                            'type'                    : 'primary',
                            'additionalClass'         : 'contentAjaxLink',
                            'url'                     : bundlesURL
                        }
                    }
            ]
        )}}
        {{adminltetags.useTag('buttons',
            [
                'component'                      : component,
                'componentName'                  : componentName,
                'componentId'                    : componentId,
                'sectionId'                      : sectionId,
                'buttonType'                    : 'button',
                'buttons'                       :
                    [
                        'modules-link'    : [
                            'title'                   : 'link',
                            'size'                    : 'xs',
                            'disabled'                : true,
                            'hidden'                  : true,
                            'url'                     : '#'
                        ]
                    ]
            ]
        )}}
    </div>
</div>
<hr>
<div class="row mb-1">
    <div class="col">
        {{adminltetags.useTag('fields',
            [
                'component'                            : component,
                'componentName'                        : componentName,
                'componentId'                          : componentId,
                'sectionId'                            : sectionId,
                'fieldId'                              : 'app_type',
                'fieldLabel'                           : false,
                'fieldType'                            : 'select2',
                'fieldHelp'                            : true,
                'fieldHelpTooltipContent'              : 'Select app type to see only that app type modules.',
                'fieldRequired'                        : false,
                'fieldBazScan'                         : true,
                'fieldBazPostOnCreate'                 : false,
                'fieldBazPostOnUpdate'                 : false,
                'fieldDataSelect2OptionsArray'         : true,
                'fieldDataSelect2Options'              : appTypes,
                'fieldDataSelect2OptionsKey'           : 'id',
                'fieldDataSelect2OptionsValue'         : 'name',
                'fieldDataSelect2OptionsSelected'      : selectedAppType
            ]
        )}}
    </div>
    <div class="col">
        {{adminltetags.useTag('buttons',
            [
                'componentId'                       : componentId,
                'sectionId'                         : sectionId,
                'buttonType'                        : 'DropdownSplitButtons',
                'buttonLabel'                       : false,
                'dropdownButtonId'                  : 'bulk',
                'dropdownButtonTitle'               : '(0) Bulk Actions',
                'dropdownButtonIcon'                : 'wand-magic-sparkles',
                'dropdownButtonDisabled'            : true,
                'dropdownButtonAdditionalClass'     : 'text-uppercase',
                'dropdownAlign'                     : 'right',
                'buttonPosition'                    : 'right',
                'dropdowns'                         :
                    {
                        'install' : {
                            'title'                   : 'Install'
                        },
                        'uninstall' : {
                            'title'                   : 'Uninstall'
                        },
                        'updatedependencies' : {
                            'title'                   : 'Update Dependencies Version'
                        },
                        'divider0' : 'divider',
                        'remove' : {
                            'title'                   : 'Remove'
                        },
                        'divider1' : 'divider',
                        'truncate' : {
                            'title'                   : 'Truncate DB'
                        },
                        'run_script' : {
                            'title'                   : 'Run Install/Uninstall Script'
                        },
                        'divider2' : 'divider',
                        'cancel' : {
                            'title'                   : 'Cancel'
                        }
                    }
            ]
        )}}
    </div>
</div>
<div class="row">
    <div class="col">
        {% set modulesTable = '' %}
        {% for moduletype, modulesArr in modules %}
            {% if modulesArr['childs'] is defined and modulesArr['childs']|length > 0 %}
                {% for module in modulesArr['childs'] %}
                    {% set installed = 'NO' %}
                    {% if module['name'] == 'Core' %}
                        {% set installed = 'YES' %}
                    {% endif %}
                    {% if module['installed'] is defined and module['installed'] == true %}
                        {% set installed = 'YES' %}
                    {% endif %}
                    {% if module['display_name'] is not defined %}
                        {% set module['display_name'] = module['name'] %}
                    {% endif %}
                    {% if module['module_type'] is not defined %}
                        {% set module['module_type'] = moduletype %}
                    {% endif %}
                    {% set subview = '' %}
                    {% set moduleType = module['module_type'] %}
                    {% if module['module_type'] == 'views' %}
                        {% set subview = 'data-subview="false"' %}
                        {% if module['is_subview'] == true %}
                            {% set moduleType = 'views (sub)' %}
                            {% set subview = 'data-subview="true"' %}
                        {% endif %}
                    {% endif %}
                    {% set dropdowns =
                        '<a href="#" data-id="' ~ module['id'] ~ '" data-type="' ~ module['module_type'] ~ '" class="dropdown-item text-success generateRelease">
                            <i class="fas fa-fw fa-xs fa-wand-magic-sparkles"></i> <span class="text-xs text-uppercase">Generate Release</span>
                        </a>'
                    %}
                    {% if module['name'] != 'Core' %}
                        {% if module['module_type'] != 'apptypes' and module['module_type'] != 'bundles' %}
                            {% set dropdowns = dropdowns ~
                                '<a href="#" data-id="' ~ module['id'] ~ '" data-type="' ~ module['module_type'] ~ '" ' ~ subview ~ ' class="dropdown-item text-primary cloneModule">
                                    <i class="fas fa-fw fa-xs fa-clone"></i> <span class="text-xs text-uppercase">Clone</span>
                                </a>'
                            %}
                        {% endif %}
                        {% set dropdowns = dropdowns ~
                            '<div class="dropdown-divider"></div>
                            <a href="#" data-id="' ~ module['id'] ~ '" data-type="' ~ module['module_type'] ~ '" ' ~ subview ~ ' class="dropdown-item text-danger removeModule">
                                <i class="fas fa-fw fa-xs fa-trash"></i> <span class="text-xs text-uppercase">Remove</span>
                            </a>'
                        %}
                        {% if module['module_type'] == 'bundles' %}
                            {% set dropdowns = dropdowns ~
                                '<div class="dropdown-divider"></div>
                                <a href="#" data-id="' ~ module['id'] ~ '" data-type="' ~ module['module_type'] ~ '" ' ~ subview ~ ' class="dropdown-item text-primary commitModuleJson">
                                    <i class="fas fa-fw fa-xs fa-code"></i> <span class="text-xs text-uppercase">Commit Bundle Json To Repo</span>
                                </a>'
                            %}
                        {% endif %}
                    {% endif %}
                    {% set actionButtons =
                        '<div class="btn-group">
                            <a href="#" type="button" data-id="' ~ module['id'] ~ '" data-type="' ~ module['module_type'] ~ '" ' ~ subview ~ ' class="pl-2 pr-2 text-white btn btn-primary btn-xs editModule">
                                <i class="fas fa-fw fa-xs fa-edit"></i> <span class="text-xs text-uppercase">Edit</span>
                            </a>
                            <button type="button" class="pl-2 pr-2 btn btn-default btn-xs dropdown-toggle dropdown-icon" data-toggle="dropdown" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                                <div class="dropdown-menu dropdown-menu-right" role="menu">' ~ dropdowns ~ '</div>
                            </button>
                        </div>'
                    %}
                    {% set modulesTable = modulesTable ~
                        '<tr>' ~
                            '<td>' ~ module['id'] ~ '</td>' ~
                            '<td>' ~ module['name'] ~ '</td>' ~
                            '<td>' ~ module['display_name'] ~ '</td>' ~
                            '<td>' ~ module['app_type'] ~ '</td>' ~
                            '<td>' ~ moduleType ~ '</td>' ~
                            '<td>' ~ module['version'] ~ '</td>' ~
                            '<td>' ~ installed ~ '</td>' ~
                            '<td>' ~ actionButtons ~ '</td>' ~
                        '</tr>'
                    %}
                {% endfor %}
            {% endif %}
        {% endfor %}
        {{adminltetags.useTag('fields',
            [
                'component'                      : component,
                'componentName'                  : componentName,
                'componentId'                    : componentId,
                'sectionId'                      : sectionId,
                'fieldId'                        : 'modules',
                'fieldLabel'                     : 'Modules',
                'fieldType'                      : 'html',
                'fieldAdditionalClass'           : 'mb-0',
                'fieldHelp'                      : true,
                'fieldHelpTooltipContent'        : 'Modules',
                'fieldRequired'                  : false,
                'fieldBazScan'                   : true,
                'fieldBazPostOnUpdate'           : true,
                'fieldHtmlContent'               :
                    '<div class="row">' ~
                    '    <div class="col">' ~
                    '        <table id="' ~ componentId ~ '-' ~ sectionId ~ '-modules-table" class="table table-sm table-hover responsive nowrap mb-0" width="100%" cellspacing="0">' ~
                    '            <thead>' ~
                    '                <tr>' ~
                    '                    <th class="text-uppercase">ID</th>' ~
                    '                    <th class="text-uppercase">name</th>' ~
                    '                    <th class="text-uppercase">Display name</th>' ~
                    '                    <th class="text-uppercase">app type</th>' ~
                    '                    <th class="text-uppercase">module type</th>' ~
                    '                    <th class="text-uppercase">version</th>' ~
                    '                    <th class="text-uppercase">installed</th>' ~
                    '                    <th class="text-uppercase">Actions</th>' ~
                    '                </tr>' ~
                    '            </thead>' ~
                    '            <tbody>' ~
                    modulesTable ~
                    '            </tbody>' ~
                    '        </table>' ~
                    '    </div>' ~
                    '</div>'
            ]
        )}}
    </div>
</div>
<!-- htmlmin:ignore -->