{% if module['id'] is defined %}
    {% set moduleName = module['name'] %}
    {% set moduleId = module['id'] %}
    {% if clone is defined and clone == true %}
        {% set moduleId = '' %}
        {% set moduleName = module['name'] ~ ' (Clone)' %}
    {% endif %}
{% else %}
    {% set moduleName = 'New' %}
    {% set moduleId = '0' %}
{% endif %}
{% if bundle['id'] is defined %}
    {% set moduleName = bundle['name'] %}
    {% set moduleId = bundle['id'] %}
{% endif %}
{{adminltetags.useTag('content',
    [
        'component'                     : component,
        'componentName'                 : componentName,
        'componentId'                   : componentId,
        'parentComponentId'             : parent,
        'sectionId'                     : type,
        'contentType'                   : 'sectionWithForm',
        'cardHeader'                    : true,
        'cardFooter'                    : true,
        'cardType'                      : 'primary',
        'cardIcon'                      : 'th',
        'cardTitle'                     : 'Modules : ' ~ moduleName ~ ' (' ~ type ~ ')',
        'cardAdditionalClass'           : 'rounded-0',
        'cardBodyInclude'               : 'modules/module',
        'formButtons'                   :
        [
            'updateButtonId'                : moduleId,
            'addActionUrl'                  : 'devtools/modules/add',
            'addSuccessRedirectUrl'         : 'devtools/modules',
            'updateActionUrl'               : 'devtools/modules/update',
            'updateSuccessRedirectUrl'      : 'devtools/modules',
            'cancelActionUrl'               : 'devtools/modules',
            'closeActionUrl'                : 'devtools/modules'
        ]
    ]
)}}