{% if components is defined and components|length > 0 %}
    {% set defaultDashboardHidden = 'hidden' %}
    {% set defaultDashboard = 0 %}
    {% set defaultGuestsPageHidden = 'hidden' %}
    {% set defaultGuestsPage = 0 %}
    {% set defaultUsersPageHidden = 'hidden' %}
    {% set defaultUsersPage = 0 %}
    {% if dashboards is not defined %}
        {% set dashboards = [] %}
    {% endif %}
    {% if pages is not defined %}
        {% set pages = [] %}
    {% endif %}
    {% if app['default_component_guests'] is defined and app['default_component_guests'] != 0 %}
        {% set appDefaultComponentGuests = app['default_component_guests'] %}
    {% else %}
        {% set appDefaultComponentGuests = 0 %}
    {% endif %}
    {% if appDefaultComponentGuests == pageComponentId and pages|length > 0 %}
        {% set defaultGuestsPageHidden = '' %}
        {% if app['settings']['defaultGuestPage'] is defined %}
            {% set defaultGuestsPage = app['settings']['defaultGuestPage'] %}
        {% endif %}
    {% endif %}
    {% if app['default_component_users'] is defined and app['default_component_users'] != 0 %}
        {% set appDefaultComponentUsers = app['default_component_users'] %}
    {% else %}
        {% set appDefaultComponentUsers = 0 %}
    {% endif %}
    {% if appDefaultComponentUsers == dashboardComponentId and dashboards|length > 0 %}
        {% set defaultDashboardHidden = '' %}
        {% if app['settings']['defaultDashboard'] is defined %}
            {% set defaultDashboard = app['settings']['defaultDashboard'] %}
        {% endif %}
    {% endif %}
    {% if appDefaultComponentUsers == pageComponentId and pages|length > 0 %}
        {% set defaultUsersPageHidden = '' %}
        {% if app['settings']['defaultUserPage'] is defined %}
            {% set defaultUsersPage = app['settings']['defaultUserPage'] %}
        {% endif %}
    {% endif %}
    {% if app['errors_component'] is defined and app['errors_component'] != 0 %}
        {% set appErrorsComponent = app['errors_component'] %}
    {% else %}
        {% set appErrorsComponent = 0 %}
    {% endif %}
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    {{adminltetags.useTag('fields',
                        [
                            'component'                             : component,
                            'componentName'                         : componentName,
                            'componentId'                           : componentId,
                            'sectionId'                             : sectionId,
                            'fieldId'                               : 'default_component_guests',
                            'fieldLabel'                            : 'Default Component (Guests)',
                            'fieldType'                             : 'select2',
                            'fieldHelp'                             : true,
                            'fieldHelpTooltipContent'               : 'Select a default component for this app for guests.',
                            'fieldBazScan'                          : true,
                            'fieldBazJstreeSearch'                  : true,
                            'fieldBazPostOnCreate'                  : true,
                            'fieldBazPostOnUpdate'                  : true,
                            'fieldRequired'                         : true,
                            'fieldDataSelect2Options'               : selectGuestComponents,
                            'fieldDataSelect2OptionsKey'            : 'id',
                            'fieldDataSelect2OptionsValue'          : 'name',
                            'fieldDataSelect2OptionsArray'          : true,
                            'fieldDataSelect2AddDataAttrFromData'   : ['route'],
                            'fieldDataSelect2OptionsSelected'       : appDefaultComponentGuests
                        ]
                    )}}
                </div>
                <div class="col" id="default_guest_page" {{defaultGuestsPageHidden}}>
                    {{adminltetags.useTag('fields',
                        [
                            'component'                            : component,
                            'componentName'                        : componentName,
                            'componentId'                          : componentId,
                            'sectionId'                            : sectionId,
                            'fieldId'                              : 'default_guest_page',
                            'fieldLabel'                           : 'Default Guest Page',
                            'fieldType'                            : 'select2',
                            'fieldHelp'                            : true,
                            'fieldHelpTooltipContent'              : 'Default guest page for this app.',
                            'fieldRequired'                        : true,
                            'fieldBazScan'                         : true,
                            'fieldBazJstreeSearch'                 : true,
                            'fieldBazPostOnCreate'                 : true,
                            'fieldBazPostOnUpdate'                 : true,
                            'fieldDataSelect2Options'              : pages,
                            'fieldDataSelect2OptionsKey'           : 'id',
                            'fieldDataSelect2OptionsValue'         : 'name',
                            'fieldDataSelect2OptionsArray'         : true,
                            'fieldDataSelect2OptionsSelected'      : defaultGuestsPage
                        ]
                    )}}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    {{adminltetags.useTag('fields',
                        [
                            'component'                             : component,
                            'componentName'                         : componentName,
                            'componentId'                           : componentId,
                            'sectionId'                             : sectionId,
                            'fieldId'                               : 'default_component_users',
                            'fieldLabel'                            : 'Default Component (Users)',
                            'fieldType'                             : 'select2',
                            'fieldHelp'                             : true,
                            'fieldHelpTooltipContent'               : 'Select a default component for this app for logged in users.',
                            'fieldBazScan'                          : true,
                            'fieldBazJstreeSearch'                  : true,
                            'fieldBazPostOnCreate'                  : true,
                            'fieldBazPostOnUpdate'                  : true,
                            'fieldRequired'                         : true,
                            'fieldDataSelect2Options'               : selectUserComponents,
                            'fieldDataSelect2OptionsKey'            : 'id',
                            'fieldDataSelect2OptionsValue'          : 'name',
                            'fieldDataSelect2OptionsArray'          : true,
                            'fieldDataSelect2AddDataAttrFromData'   : ['route'],
                            'fieldDataSelect2OptionsSelected'       : appDefaultComponentUsers
                        ]
                    )}}
                </div>
                <div class="col" id="default_dashboard" {{defaultDashboardHidden}}>
                    {{adminltetags.useTag('fields',
                        [
                            'component'                            : component,
                            'componentName'                        : componentName,
                            'componentId'                          : componentId,
                            'sectionId'                            : sectionId,
                            'fieldId'                              : 'default_dashboard',
                            'fieldLabel'                           : 'Default Dashboard',
                            'fieldType'                            : 'select2',
                            'fieldHelp'                            : true,
                            'fieldHelpTooltipContent'              : 'Default dashboard for this app.',
                            'fieldRequired'                        : true,
                            'fieldBazScan'                         : true,
                            'fieldBazJstreeSearch'                 : true,
                            'fieldBazPostOnCreate'                 : true,
                            'fieldBazPostOnUpdate'                 : true,
                            'fieldDataSelect2Options'              : dashboards,
                            'fieldDataSelect2OptionsKey'           : 'id',
                            'fieldDataSelect2OptionsValue'         : 'name',
                            'fieldDataSelect2OptionsArray'         : true,
                            'fieldDataSelect2OptionsSelected'      : defaultDashboard
                        ]
                    )}}
                </div>
                <div class="col" id="default_user_page" {{defaultUsersPageHidden}}>
                    {{adminltetags.useTag('fields',
                        [
                            'component'                            : component,
                            'componentName'                        : componentName,
                            'componentId'                          : componentId,
                            'sectionId'                            : sectionId,
                            'fieldId'                              : 'default_user_page',
                            'fieldLabel'                           : 'Default User Page',
                            'fieldType'                            : 'select2',
                            'fieldHelp'                            : true,
                            'fieldHelpTooltipContent'              : 'Default user page for this app.',
                            'fieldRequired'                        : true,
                            'fieldBazScan'                         : true,
                            'fieldBazJstreeSearch'                 : true,
                            'fieldBazPostOnCreate'                 : true,
                            'fieldBazPostOnUpdate'                 : true,
                            'fieldDataSelect2Options'              : pages,
                            'fieldDataSelect2OptionsKey'           : 'id',
                            'fieldDataSelect2OptionsValue'         : 'name',
                            'fieldDataSelect2OptionsArray'         : true,
                            'fieldDataSelect2OptionsSelected'      : defaultUsersPage
                        ]
                    )}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{adminltetags.useTag('fields',
                [
                    'component'                      : component,
                    'componentName'                  : componentName,
                    'componentId'                    : componentId,
                    'sectionId'                      : sectionId,
                    'fieldId'                        : 'errors_component',
                    'fieldLabel'                     : 'Errors Component',
                    'fieldType'                      : 'select2',
                    'fieldHelp'                      : true,
                    'fieldHelpTooltipContent'        : 'Select an errors component for this app.',
                    'fieldBazScan'                   : true,
                    'fieldBazJstreeSearch'           : true,
                    'fieldBazPostOnCreate'           : true,
                    'fieldBazPostOnUpdate'           : true,
                    'fieldRequired'                  : true,
                    'fieldDataSelect2Options'        : selectGuestComponents,
                    'fieldDataSelect2OptionsKey'     : 'id',
                    'fieldDataSelect2OptionsValue'   : 'name',
                    'fieldDataSelect2OptionsArray'   : true,
                    'fieldDataSelect2OptionsSelected': appErrorsComponent
                ]
            )}}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            {{adminltetags.useTag('fields',
                [
                    'component'                      : component,
                    'componentName'                  : componentName,
                    'componentId'                    : componentId,
                    'sectionId'                      : sectionId,
                    'fieldId'                        : 'components',
                    'fieldLabel'                     : 'Components',
                    'fieldType'                      : 'html',
                    'fieldAdditionalClass'           : 'mb-0',
                    'fieldHelp'                      : true,
                    'fieldHelpTooltipContent'        : 'Components are building blocks of an app. Each component together with their backend packages performs a specific task.',
                    'fieldRequired'                  : false,
                    'fieldBazJstreeSearch'           : true,
                    'fieldBazScan'                   : true,
                    'fieldBazPostOnCreate'           : true,
                    'fieldBazPostOnUpdate'           : true
                ]
            )}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% set componentIds = [] %}
            {% set menuIds = [] %}
            {% include 'apps/tables/modules' with
                [
                    'component'             : component,
                    'componentId'           : componentId,
                    'parent'                : parent,
                    'sectionId'             : sectionId,
                    'moduleType'            : 'component',
                    'mandatoryModules'      : mandatoryComponents,
                    'modules'               : components
                ]
            %}
            {% for component in components %}
                {% set componentIds[componentId ~ '-' ~ sectionId ~ '-component-' ~ component['id']] = component['id'] %}
                {% set menuIds[componentId ~ '-' ~ sectionId ~ '-component-menu-' ~ component['id']] = component['menu_id'] %}
                {% set needAuthIds[componentId ~ '-' ~ sectionId ~ '-component-need_auth-' ~ component['id']] = component['id'] %}
            {% endfor %}
            {% set componentIds = json_encode(componentIds, 16) %}
            {% set menuIds = json_encode(menuIds, 16) %}
            {% set needAuthIds = json_encode(needAuthIds, 16) %}
        </div>
    </div>
{% else %}
    <label>No components available for this app type. Go to <a href="{{links.url('modules')}}" class="contentAjaxLink">modules</a> and download components.</label>
    {% set componentIds = json_encode([]) %}
    {% set menuIds = json_encode([]) %}
    {% set needAuthIds = json_encode([]) %}
{% endif %}
<script>
/* globals Sortable paginatedPNotify */
var dataCollectionComponent, dataCollectionSection, dataCollectionSectionForm;

if (!window['dataCollection']['{{componentId}}']) {
    dataCollectionComponent =
        window['dataCollection']['{{componentId}}'] = { };
} else {
    dataCollectionComponent =
        window['dataCollection']['{{componentId}}'];
}
if (!dataCollectionComponent['{{componentId}}-{{sectionId}}']) {
    dataCollectionSection =
        dataCollectionComponent['{{componentId}}-{{sectionId}}'] = { };
} else {
    dataCollectionSection =
        dataCollectionComponent['{{componentId}}-{{sectionId}}'];
}
if (!dataCollectionSection['{{componentId}}-{{sectionId}}-form']) {
    dataCollectionSectionForm =
        dataCollectionSection['{{componentId}}-{{sectionId}}-form'] = { };
} else {
    dataCollectionSectionForm =
        dataCollectionSection['{{componentId}}-{{sectionId}}-form'];
}

dataCollectionSection =
    $.extend(dataCollectionSection, {
        '{{componentId}}-{{sectionId}}-default_component_guests'        : {
            'placeholder'   : 'SELECT DEFAULT COMPONENT FOR GUESTS',
            afterInit: function() {
                $('#{{componentId}}-{{sectionId}}-default_component_guests').on('select2:select', function (e) {
                    var data = e.params.data;

                    if ($(data.element).data()['route'] && $(data.element).data()['route'] === 'dashboards') {
                        $('#{{componentId}}-{{sectionId}}-default_component_guests').val(0).trigger('change');
                        paginatedPNotify('error', {
                            title   : 'Only logged in users can have dashboards!'
                        });
                    } else if ($(data.element).data()['route'] && $(data.element).data()['route'] === 'pages') {
                        $('#{{componentId}}-{{sectionId}}-default_guest_page').attr('disabled', false);
                        $('#default_guest_page').attr('hidden', false);
                    } else {
                        $('#{{componentId}}-{{sectionId}}-default_guest_page').attr('disabled', true);
                        $('#default_guest_page').attr('hidden', true);
                        $('#{{componentId}}-{{sectionId}}-default_guest_page').val(0).trigger('change');
                    }
                });
            }
        },
        '{{componentId}}-{{sectionId}}-default_guest_page'              : {
            'placeholder'   : 'SELECT DEFAULT PAGE FOR GUESTS'
        },
        '{{componentId}}-{{sectionId}}-default_component_users'         : {
            'placeholder'   : 'SELECT DEFAULT COMPONENT FOR USERS',
            afterInit: function() {
                $('#{{componentId}}-{{sectionId}}-default_component_users').on('select2:select', function (e) {
                    var data = e.params.data;

                    if ($(data.element).data()['route'] && $(data.element).data()['route'] === 'dashboards') {
                        $('#{{componentId}}-{{sectionId}}-default_dashboard').attr('disabled', false);
                        $('#default_dashboard').attr('hidden', false);
                        $('#{{componentId}}-{{sectionId}}-default_user_page').attr('disabled', true);
                        $('#default_user_page').attr('hidden', true);
                        $('#{{componentId}}-{{sectionId}}-default_user_page').val(0).trigger('change');
                    } else if ($(data.element).data()['route'] && $(data.element).data()['route'] === 'pages') {
                        $('#{{componentId}}-{{sectionId}}-default_user_page').attr('disabled', false);
                        $('#default_user_page').attr('hidden', false);
                        $('#{{componentId}}-{{sectionId}}-default_dashboard').attr('disabled', true);
                        $('#default_dashboard').attr('hidden', true);
                        $('#{{componentId}}-{{sectionId}}-default_dashboard').val(0).trigger('change');
                    } else {
                        $('#{{componentId}}-{{sectionId}}-default_dashboard').attr('disabled', true);
                        $('#default_dashboard').attr('hidden', true);
                        $('#{{componentId}}-{{sectionId}}-default_dashboard').val(0).trigger('change');
                        $('#{{componentId}}-{{sectionId}}-default_user_page').attr('disabled', true);
                        $('#default_user_page').attr('hidden', true);
                        $('#{{componentId}}-{{sectionId}}-default_user_page').val(0).trigger('change');
                    }
                });
            }
        },
        '{{componentId}}-{{sectionId}}-default_dashboard'               : {
            'placeholder'   : 'SELECT DEFAULT DASHBOARD FOR USERS'
        },
        '{{componentId}}-{{sectionId}}-default_user_page'               : {
            'placeholder'   : 'SELECT DEFAULT PAGE FOR USERS'
        },
        '{{componentId}}-{{sectionId}}-errors_component'                : {
            'placeholder'   : 'SELECT ERRORS COMPONENT'
        },
        '{{componentId}}-{{sectionId}}-components'                      : {
            afterInit: function() {
                var componentIds = { };
                componentIds = JSON.parse('{{componentIds}}');

                if (Object.keys(componentIds).length === 0) {//if not able to parse json properly during wizard
                    $('#{{componentId}}-{{sectionId}}-component-table input').each(function(index, input) {
                        if ($(input).data('type') === 'component') {
                            componentIds[$(input)[0].id] = $(input).data('id');
                        }
                    });

                    if (Object.keys(componentIds).length > 0) {
                        initCheckboxes();
                    }
                } else if (Object.keys(componentIds).length > 0) {
                    initCheckboxes();
                }

                function initCheckboxes() {
                    window['dataCollection']['{{componentId}}']['{{componentId}}-{{sectionId}}']['data']['components'] = { };

                    for (var componentCheckbox in componentIds) {
                        $('#' + componentCheckbox).off();
                        $('#' + componentCheckbox).click(function() {
                            var id = $(this)[0].id;
                            extractComponentCheckboxData(id, componentIds[componentCheckbox], true);
                        });
                        extractComponentCheckboxData(componentCheckbox, componentIds[componentCheckbox]);
                    }
                }

                function extractComponentCheckboxData(componentCheckbox, component, enableDisableCheckboxes = false) {
                    var componentId = $('#' + componentCheckbox).data('id');
                    var menuId = $('#' + componentCheckbox).data('menu');
                    var appId = $('#' + componentCheckbox).data('app_id');

                    if ($('#' + componentCheckbox)[0].checked === true) {
                        window['dataCollection']['{{componentId}}']['{{componentId}}-{{sectionId}}']['data']['components'][componentId] = true;
                        if (enableDisableCheckboxes) {
                            if (Object.keys($('#{{componentId}}-{{sectionId}}-component-menu-' + componentId)).length > 0) {
                                $('#{{componentId}}-{{sectionId}}-component-menu-' + componentId).attr('disabled', false);
                            }
                            if (Object.keys($('#{{componentId}}-{{sectionId}}-component-need_auth-' + componentId)).length > 0) {
                                $('#{{componentId}}-{{sectionId}}-component-need_auth-' + componentId).attr('disabled', false);
                            }
                        }
                        $('#{{componentId}}-{{sectionId}}-default_component_guests').find('[value="' + componentId + '"]').attr('disabled', false);
                        $('#{{componentId}}-{{sectionId}}-default_component_guests').trigger('change');
                        $('#{{componentId}}-{{sectionId}}-default_component_users').find('[value="' + componentId + '"]').attr('disabled', false);
                        $('#{{componentId}}-{{sectionId}}-default_component_users').trigger('change');
                        $('#{{componentId}}-{{sectionId}}-errors_component').find('[value="' + componentId + '"]').attr('disabled', false);
                        $('#{{componentId}}-{{sectionId}}-errors_component').trigger('change');
                    } else {
                        window['dataCollection']['{{componentId}}']['{{componentId}}-{{sectionId}}']['data']['components'][componentId] = false;
                        if (enableDisableCheckboxes) {
                            if (Object.keys($('#{{componentId}}-{{sectionId}}-component-menu-' + componentId)).length > 0) {
                                $('#{{componentId}}-{{sectionId}}-component-menu-' + componentId).attr('disabled', true);
                                $('#{{componentId}}-{{sectionId}}-component-menu-' + componentId)[0].checked = false;
                                window['dataCollection']['{{componentId}}']['{{componentId}}-{{sectionId}}']['data']['menus'][menuId][appId]['enabled'] = false;
                            }
                            if (Object.keys($('#{{componentId}}-{{sectionId}}-component-need_auth-' + componentId)).length > 0) {
                                $('#{{componentId}}-{{sectionId}}-component-need_auth-' + componentId).attr('disabled', true);
                                $('#{{componentId}}-{{sectionId}}-component-need_auth-' + componentId)[0].checked = false;
                                window['dataCollection']['{{componentId}}']['{{componentId}}-{{sectionId}}']['data']['need_auths'][componentId] = false;
                            }
                        }
                        $('#{{componentId}}-{{sectionId}}-default_component_guests').find('[value="' + componentId + '"]').attr('disabled', true);
                        $('#{{componentId}}-{{sectionId}}-default_component_guests').trigger('change');
                        $('#{{componentId}}-{{sectionId}}-default_component_users').find('[value="' + componentId + '"]').attr('disabled', true);
                        $('#{{componentId}}-{{sectionId}}-default_component_users').trigger('change');
                        $('#{{componentId}}-{{sectionId}}-errors_component').find('[value="' + componentId + '"]').attr('disabled', true);
                        $('#{{componentId}}-{{sectionId}}-errors_component').trigger('change');
                    }
                }

                $(document).ready(function() {
                    if (!$.fn.DataTable.isDataTable('#{{componentId}}-{{sectionId}}-component-table')) {
                        $('#{{componentId}}-{{sectionId}}-component-table').DataTable({
                              columns: [
                                { orderable: false },
                                { orderable: false },
                                { orderable: false },
                                null,
                                { orderable: false },
                                null,
                              ]
                            }
                        );
                    }
                });
            }
        },
        '{{componentId}}-{{sectionId}}-menus'                           : {
            afterInit: function() {

                var menuIds = { };
                menuIds = JSON.parse('{{menuIds}}');

                if (Object.keys(menuIds).length === 0) {//if not able to parse json properly during wizard
                    $('#{{componentId}}-{{sectionId}}-component-table input').each(function(index, input) {
                        if ($(input).data('type') === 'menu') {
                            menuIds[$(input)[0].id] = $(input).data('menu');
                        }
                    });

                    if (Object.keys(menuIds).length > 0) {
                        initCheckboxes();
                    }
                } else if (Object.keys(menuIds).length > 0) {
                    initCheckboxes();
                }

                function initCheckboxes() {
                    window['dataCollection']['{{componentId}}']['{{componentId}}-{{sectionId}}']['data']['menus'] = { };

                    for (var menuCheckbox in menuIds) {
                        $('#' + menuCheckbox).click(function() {
                            var id = $(this)[0].id;
                            extractMenuCheckboxData(id, menuIds[menuCheckbox]);
                        });
                        extractMenuCheckboxData(menuCheckbox, menuIds[menuCheckbox]);
                    }
                }

                function extractMenuCheckboxData(menuCheckbox, menu) {
                    var appId = $('#' + menuCheckbox).data('app_id');
                    var menuId = $('#' + menuCheckbox).data('menu');

                    if (appId && menuId) {
                        window['dataCollection']['{{componentId}}']['{{componentId}}-{{sectionId}}']['data']['menus'][menuId] = { };
                        window['dataCollection']['{{componentId}}']['{{componentId}}-{{sectionId}}']['data']['menus'][menuId][appId] = { };

                        if ($('#' + menuCheckbox)[0].checked === true) {
                            window['dataCollection']['{{componentId}}']['{{componentId}}-{{sectionId}}']['data']['menus'][menuId][appId]['enabled'] = true;
                        } else {
                            window['dataCollection']['{{componentId}}']['{{componentId}}-{{sectionId}}']['data']['menus'][menuId][appId]['enabled'] = false;
                        }
                    }
                }
            }
        },
        '{{componentId}}-{{sectionId}}-need_auths'                      : {
            afterInit: function() {
                var needAuthIds = { };
                needAuthIds = JSON.parse('{{needAuthIds}}');

                if (Object.keys(needAuthIds).length === 0) {//if not able to parse json properly during wizard
                    $('#{{componentId}}-{{sectionId}}-component-table input').each(function(index, input) {
                        if ($(input).data('type') === 'needauth') {
                            needAuthIds[$(input)[0].id] = $(input).data('id');
                        }
                    });

                    if (Object.keys(needAuthIds).length > 0) {
                        initCheckboxes();
                    }
                } else if (Object.keys(needAuthIds).length > 0) {
                    initCheckboxes();
                }

                function initCheckboxes() {
                    window['dataCollection']['{{componentId}}']['{{componentId}}-{{sectionId}}']['data']['need_auths'] = { };

                    for (var noAuthCheckbox in needAuthIds) {
                        if ($('#' + noAuthCheckbox).length > 0) {
                            $('#' + noAuthCheckbox).click(function() {
                                var id = $(this)[0].id;
                                extractComponentCheckboxData(id);
                            });
                            extractComponentCheckboxData(noAuthCheckbox);
                        }
                    }
                }

                function extractComponentCheckboxData(noAuthCheckbox) {
                    var componentId = $('#' + noAuthCheckbox).data('component_id');

                    if ($('#' + noAuthCheckbox)[0].checked === true) {
                        window['dataCollection']['{{componentId}}']['{{componentId}}-{{sectionId}}']['data']['need_auths'][componentId] = true;
                    } else {
                        window['dataCollection']['{{componentId}}']['{{componentId}}-{{sectionId}}']['data']['need_auths'][componentId] = false;
                    }
                }
            }
        },
        '{{componentId}}-{{sectionId}}-form'                            : {
            rules: {
                '{{componentId}}-{{sectionId}}-default_component_guests': 'required',
                '{{componentId}}-{{sectionId}}-default_component_users' : 'required',
                '{{componentId}}-{{sectionId}}-errors_component'        : 'required',
            },
            messages: {
                '{{componentId}}-{{sectionId}}-default_component_guests': 'Please select app default component for guests',
                '{{componentId}}-{{sectionId}}-default_component_users' : 'Please select app default component for users',
                '{{componentId}}-{{sectionId}}-errors_component'        : 'Please select app errors component',
            }
        }
    });
</script>