{% set jsTreeMenu = menuBaseStructure %}
{% if not app['menu_structure'] %}
    {% set app['menu_structure'] = [] %}
{% endif %}
<div class="row vdivide">
    <div class="col-md-4">
        {{adminltetags.useTag('fields',
            [
                'component'                                 : component,
                'componentName'                             : componentName,
                'componentId'                               : componentId,
                'sectionId'                                 : sectionId,
                'fieldId'                                   : 'menu_structure',
                'fieldLabel'                                : 'App Menu',
                'fieldType'                                 : 'jstree',
                'fieldHelp'                                 : true,
                'fieldHelpTooltipContent'                   : 'App Menu Structure. Select menu item to change menu properties.',
                'fieldRequired'                             : false,
                'fieldBazScan'                              : true,
                'fieldJstreeSearch'                         : true,
                'fieldBazPostOnCreate'                      : false,
                'fieldBazPostOnUpdate'                      : true,
                'fieldJstreeDataSrcArr'                     : ["menus":["srcArr" : jsTreeMenu]],
                'fieldJstreeAdd'                            : false,
                'fieldJstreeEdit'                           : false,
                'fieldJstreeExpand'                         : true,
                'fieldJstreeCollapse'                       : true,
                'fieldJstreeFirstOpen'                      : true,
                'fieldJstreeAllOpen'                        : true,
                'fieldJstreeToggleAllChildren'              : true,
                'fieldJstreeIncludeRootInPath'              : false,
                'fieldJstreeSelectEndNodeOnly'              : false,
                'fieldJstreeShowDots'                       : true,
                'fieldJstreeDoubleClickToggle'              : true,
                'fieldJstreeMultiple'                       : false,
                'fieldJstreeSearchCaseSensitive'            : false,
                'fieldJstreeSearchShowOnlyMatches'          : false,
                'fieldJstreeSearchShowOnlyMatchesChildren'  : false,
                'fieldJstreeHideJstreeIcons'                : false,
                'fieldJstreeAdditionalClass'                : 'text-uppercase'
            ]
        )}}
    </div>
    <div class="col">
        <div class="row">
            <div class="col">
                {{adminltetags.useTag('buttons',
                    [
                        'componentId'           : componentId,
                        'sectionId'             : sectionId,
                        'buttonType'            : 'button',
                        'buttons'               :
                            [
                                'add-menu-item' : [
                                    'title'                   : 'Custom Menu',
                                    'size'                    : 'xs',
                                    'type'                    : 'primary',
                                    'position'                : 'right',
                                    'icon'                    : 'plus',
                                    'url'                     : '#'
                                ]
                            ]
                    ]
                )}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'menu_id',
                        'fieldLabel'                     : 'Menu Id',
                        'fieldType'                      : 'input',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'Menu Id',
                        'fieldRequired'                  : true,
                        'fieldBazScan'                   : true,
                        'fieldBazJstreeSearch'           : false,
                        'fieldBazPostOnCreate'           : false,
                        'fieldBazPostOnUpdate'           : false,
                        'fieldDataInputMinLength'        : 1,
                        'fieldDataInputMaxLength'        : 50,
                        'fieldValue'                     : '',
                        'fieldDisabled'                  : true,
                        'fieldHidden'                    : true
                    ]
                )}}
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'menu_title',
                        'fieldLabel'                     : 'Title',
                        'fieldType'                      : 'input',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'Menu title',
                        'fieldRequired'                  : true,
                        'fieldBazScan'                   : true,
                        'fieldBazJstreeSearch'           : false,
                        'fieldBazPostOnCreate'           : false,
                        'fieldBazPostOnUpdate'           : false,
                        'fieldDataInputMinLength'        : 1,
                        'fieldDataInputMaxLength'        : 50,
                        'fieldValue'                     : '',
                        'fieldDisabled'                  : true
                    ]
                )}}
            </div>
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'is_submenu',
                        'fieldLabel'                     : 'is Submenu?',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'Is the menu item a submenu or a link',
                        'fieldRequired'                  : false,
                        'fieldType'                      : 'checkbox',
                        'fieldCheckboxType'              : 'info',
                        'fieldCheckboxChecked'           : '',
                        'fieldDisabled'                  : true,
                        'fieldBazJstreeSearch'           : false,
                        'fieldBazPostOnCreate'           : false,
                        'fieldBazPostOnUpdate'           : false,
                        'fieldBazScan'                   : true
                    ]
                )}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'menu_parent',
                        'fieldLabel'                     : 'Parent',
                        'fieldType'                      : 'select2',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'Menu Item Parent',
                        'fieldBazScan'                   : true,
                        'fieldBazJstreeSearch'           : false,
                        'fieldBazPostOnCreate'           : false,
                        'fieldBazPostOnUpdate'           : false,
                        'fieldRequired'                  : true,
                        'fieldDisabled'                  : true,
                        'fieldDataSelect2Options'        : [],
                        'fieldDataSelect2OptionsKey'     : 'id',
                        'fieldDataSelect2OptionsValue'   : 'text',
                        'fieldDataSelect2OptionsArray'   : true,
                        'fieldDataSelect2OptionsSelected': ''
                    ]
                )}}
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-md-10">
                        {% include 'common/fontawesome.html' %}
                        {{adminltetags.useTag('fields',
                            [
                                'component'                      : component,
                                'componentName'                  : componentName,
                                'componentId'                    : componentId,
                                'sectionId'                      : sectionId,
                                'fieldId'                        : 'menu_icon',
                                'fieldLabel'                     : 'Icon',
                                'fieldType'                      : 'select2',
                                'fieldHelp'                      : true,
                                'fieldHelpTooltipContent'        : 'Menu Item Icon',
                                'fieldBazScan'                   : true,
                                'fieldBazJstreeSearch'           : false,
                                'fieldBazPostOnCreate'           : false,
                                'fieldBazPostOnUpdate'           : false,
                                'fieldRequired'                  : true,
                                'fieldDisabled'                  : true,
                                'fieldDataSelect2Options'        : fontawesomeIcons,
                                'fieldDataSelect2OptionsKey'     : 'id',
                                'fieldDataSelect2OptionsValue'   : 'text',
                                'fieldDataSelect2OptionsArray'   : true,
                                'fieldDataSelect2OptionsSelected': ''
                            ]
                        )}}
                    </div>
                    <div class="col">
                        {{adminltetags.useTag('fields',
                            [
                                'component'                      : component,
                                'componentName'                  : componentName,
                                'componentId'                    : componentId,
                                'sectionId'                      : sectionId,
                                'fieldId'                        : 'menu_icon_display',
                                'fieldLabel'                     : false,
                                'fieldType'                      : 'html',
                                'fieldAdditionalClass'           : 'mb-0',
                                'fieldHelp'                      : false,
                                'fieldHelpTooltipContent'        : 'Components are building blocks of an app. Each component together with their backend packages performs a specific task.',
                                'fieldRequired'                  : false,
                                'fieldBazJstreeSearch'           : false,
                                'fieldBazScan'                   : false,
                                'fieldBazPostOnCreate'           : false,
                                'fieldBazPostOnUpdate'           : false
                            ]
                        )}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'menu_link',
                        'fieldLabel'                     : 'Link',
                        'fieldType'                      : 'input',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'Menu Link, leave blank for submenu menu items.',
                        'fieldRequired'                  : true,
                        'fieldBazScan'                   : true,
                        'fieldBazJstreeSearch'           : false,
                        'fieldBazPostOnCreate'           : false,
                        'fieldBazPostOnUpdate'           : false,
                        'fieldDataInputMinLength'        : 1,
                        'fieldDataInputMaxLength'        : 50,
                        'fieldValue'                     : '',
                        'fieldDisabled'                  : true
                    ]
                )}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'reset_structure',
                        'fieldLabel'                     : 'Reset Structure?',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'Reset structure to system generated structure? Note: This will remove any custom menu item(s) you have added to the menu tree.',
                        'fieldRequired'                  : false,
                        'fieldType'                      : 'checkbox',
                        'fieldCheckboxType'              : 'danger',
                        'fieldCheckboxChecked'           : '',
                        'fieldDisabled'                  : false,
                        'fieldBazJstreeSearch'           : false,
                        'fieldBazPostOnCreate'           : false,
                        'fieldBazPostOnUpdate'           : true,
                        'fieldBazScan'                   : true
                    ]
                )}}
            </div>
            <div class="col mt-4">
                {{adminltetags.useTag('buttons',
                    [
                        'componentId'           : componentId,
                        'sectionId'             : sectionId,
                        'buttonType'            : 'button',
                        'buttons'               :
                            [
                                'save-menu-item' : [
                                    'title'                   : 'Save',
                                    'size'                    : 'xs',
                                    'type'                    : 'primary',
                                    'position'                : 'right',
                                    'icon'                    : 'floppy-disk',
                                    'url'                     : '#',
                                    'disabled'                : true
                                ],
                                'cancel-menu-item' : [
                                    'title'                   : 'Cancel',
                                    'size'                    : 'xs',
                                    'type'                    : 'danger',
                                    'position'                : 'right',
                                    'icon'                    : 'times',
                                    'url'                     : '#',
                                    'disabled'                : true
                                ],
                                'delete-menu-item' : [
                                    'title'                   : 'Custom Menu',
                                    'size'                    : 'xs',
                                    'type'                    : 'danger',
                                    'position'                : 'right',
                                    'icon'                    : 'trash',
                                    'url'                     : '#',
                                    'disabled'                : true
                                ]
                            ]
                    ]
                )}}
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col">
        <h6><i class="fa fa-fw fa-info-circle text-info"></i> Select menu item to edit or add a new child menu item. Drag and drop menu item to change sequence or assign to a new parent.</h6>
    </div>
</div>
{% set allMenuItems = json_encode(menuBaseStructure, 16) %}
{% set enabledMenuItems = json_encode(app['menu_structure'], 16) %}
<script>
/* globals Sortable BazHelpers PNotify Swal */
var dataCollectionComponent, dataCollectionSection, dataCollectionSectionForm;

if (!window['dataCollection']['{{componentId}}']) {
    dataCollectionComponent =
        window['dataCollection']['{{componentId}}'] = { };
} else {
    dataCollectionComponent =
        window['dataCollection']['{{componentId}}'];
}
if (!dataCollectionComponent['{{componentId}}-{{sectionId}}']) {
    dataCollectionSection =
        dataCollectionComponent['{{componentId}}-{{sectionId}}'] = { };
} else {
    dataCollectionSection =
        dataCollectionComponent['{{componentId}}-{{sectionId}}'];
}
if (!dataCollectionSection['{{componentId}}-{{sectionId}}-form']) {
    dataCollectionSectionForm =
        dataCollectionSection['{{componentId}}-{{sectionId}}-form'] = { };
} else {
    dataCollectionSectionForm =
        dataCollectionSection['{{componentId}}-{{sectionId}}-form'];
}

dataCollectionSection =
    $.extend(dataCollectionSection, {
        '{{componentId}}-{{sectionId}}-menu_id'         : { },
        '{{componentId}}-{{sectionId}}-menu_title'      : { },
        '{{componentId}}-{{sectionId}}-is_submenu'      : { },
        '{{componentId}}-{{sectionId}}-menu_parent'     : {
            'placeholder'   : 'SELECT PARENT'
        },
        '{{componentId}}-{{sectionId}}-menu_icon'       : {
            'placeholder'   : 'SELECT ICON'
        },
        '{{componentId}}-{{sectionId}}-menu_link'       : { },
        '{{componentId}}-{{sectionId}}-reset_structure' : { }
    });

dataCollectionSection =
    $.extend(dataCollectionSection['{{componentId}}-{{sectionId}}-menu_structure'], {
        afterInit: function() {
            var allMenuItems = [];
            var enabledMenuItems = [];
            var swalSound = window['dataCollection'].env.sounds.swalSound;

            JSON.parse('{{allMenuItems}}', function(key, value) {
                if (key === 'link') {
                    allMenuItems.push(value);
                }
            });
            JSON.parse('{{enabledMenuItems}}', function(key, value) {
                if (key === 'link') {
                    enabledMenuItems.push(value);
                }
            });

            var menuIds = { };
            menuIds = JSON.parse('{{menuIds}}');
            var componentIds = { };
            componentIds = JSON.parse('{{componentIds}}');

            var menuStructure = window['dataCollection']['{{componentId}}']['{{componentId}}-{{sectionId}}']['data']['menu_structure'] = { };
            var menuItem = { };

            function hideDisabledNodes() {
                $(allMenuItems).each(function(index, menuItem) {
                    var searchJsTreeMenuItem = document.querySelectorAll('[data-link="' + menuItem + '"]');
                    var searchCheckboxMenuItem = document.querySelectorAll('[data-route="' + menuItem + '"]');

                    if (!enabledMenuItems.includes(menuItem)) {
                        if (searchJsTreeMenuItem.length === 1 &&
                            (searchCheckboxMenuItem.length === 1 && searchCheckboxMenuItem[0].checked === false)
                        ) {
                            var menuJstreeId = searchJsTreeMenuItem[0].id
                            $('#{{componentId}}-{{sectionId}}-menu_structure').jstree().hide_node(menuJstreeId);
                            var parent = $('#{{componentId}}-{{sectionId}}-menu_structure').jstree().get_parent(menuJstreeId);
                            showHideNodeParent(parent, 'hide');
                        }
                    } else {
                        //when nodes are moves, this would cause duplicate node to show up as in component we recursive merge default menu with app menu.
                        //so we need to hide the default menu item. This will basically override the structure of the app on next save.
                        //data attr moved has to be set to true.
                        if (searchJsTreeMenuItem.length > 1) {
                            searchJsTreeMenuItem.forEach(function(item, index) {
                                if (!$(item).data('moved')) {
                                    var menuJstreeId = item.id
                                    $('#{{componentId}}-{{sectionId}}-menu_structure').jstree().hide_node(menuJstreeId);
                                    var parent = $('#{{componentId}}-{{sectionId}}-menu_structure').jstree().get_parent(menuJstreeId);
                                    showHideNodeParent(parent, 'hide');
                                }
                            });
                        }
                    }
                });
            }

            function showNullTreeDiv() {
                var nullTree = true;

                $('#{{componentId}}-{{sectionId}}-menu_structure li.jstree-node').filter(function(index, el) {
                    if (!$(el).hasClass('jstree-hidden')) {
                        nullTree = false;
                        return;
                    }
                });

                if ($('#{{componentId}}-{{sectionId}}-menu_structure-empty').length > 0) {
                    $('#{{componentId}}-{{sectionId}}-menu_structure-empty').remove();
                }

                if (nullTree) {
                    $('#{{componentId}}-{{sectionId}}-menu_structure').prepend(
                        '<div id="{{componentId}}-{{sectionId}}-menu_structure-empty">' +
                            '<h7><i class="fa fa-fw fa-info-circle text-info"></i> Enable menu from components tab or create a custom menu item.</h7>' +
                        '</div>'
                    );
                }
            }

            hideDisabledNodes();
            showNullTreeDiv();

            function showHideNodeParent(parent, task) {
                do {
                    var allHidden = true;

                    if (parent !== '#') {
                        $('#' + parent + ' li').each(function(v, li) {
                            if (task === 'hide') {
                                if (!$(li).hasClass('jstree-hidden')) {
                                    allHidden = false;
                                }
                            } else if (task === 'show') {
                                $('#{{componentId}}-{{sectionId}}-menu_structure').jstree().show_node(parent);
                            }
                        });

                        if (task === 'hide' &&
                            allHidden === false
                        ) {
                            return;
                        }

                        if (task === 'hide' &&
                            allHidden === true &&
                            !$('#' + parent).data('link') &&
                            $('#{{componentId}}-{{sectionId}}-menu_structure').jstree().get_parent(parent) !== '#'
                        ) {
                            $('#{{componentId}}-{{sectionId}}-menu_structure').jstree().hide_node(parent);
                        }

                        var node = $('#{{componentId}}-{{sectionId}}-menu_structure').jstree().get_node(parent);
                        parent = $('#{{componentId}}-{{sectionId}}-menu_structure').jstree().get_parent(parent);

                        if (parent === '#' && task === 'hide') {
                            $('#{{componentId}}-{{sectionId}}-menu_structure').jstree().hide_node(node);
                        } else if (parent === '#' && task === 'show') {
                            $('#{{componentId}}-{{sectionId}}-menu_structure').jstree().show_node(node);
                        }
                    }
                }
                while (parent !== '#');
            }

            function extractSturctureData(structureArr) {
                var newStructure = { };

                for (var structure in structureArr) {
                    if (!structureArr[structure]['state']['hidden'] ||
                        (structureArr[structure]['state']['hidden'] && structureArr[structure]['state']['hidden'] === false)
                    ) {
                        var structureId;
                        structureId = structureArr[structure]['text'].toLowerCase();
                        structureId = structureId.replace(/[^a-z0-9]/g, "");

                        if (!newStructure[structureId]) {
                            newStructure[structureId] = { };
                        }

                        newStructure[structureId]['title'] = structureArr[structure]['text'];

                        var iconArr = structureArr[structure]['icon'].split(' ');
                        if (iconArr.length > 0) {
                            iconArr.forEach(function(v, i) {
                                if (v !== 'fa' && v !== 'fa-fw' && v.startsWith("fa-")) {
                                    newStructure[structureId]['icon'] = v.replace("fa-", "");
                                }
                            });
                        } else {
                            newStructure[structureId]['icon'] = "circle";
                        }

                        if (structureArr[structure]['data']['link']) {
                            newStructure[structureId]['link'] = structureArr[structure]['data']['link'];
                        }
                        if (structureArr[structure]['data']['custom_menu']) {
                            newStructure[structureId]['data'] = { };
                            newStructure[structureId]['data']['custom_menu'] = true;
                        }

                        if (structureArr[structure]['data']['sub_menu']) {
                            if (!newStructure[structureId]['data']) {
                                newStructure[structureId]['data'] = { };
                            }
                            newStructure[structureId]['data']['sub_menu'] = true;
                        }

                        if (structureArr[structure]['data']['renamed']) {
                            if (!newStructure[structureId]['data']) {
                                newStructure[structureId]['data'] = { };
                            }
                            newStructure[structureId]['data']['renamed'] = true;
                        }

                        if (structureArr[structure]['data']['moved']) {
                            if (!newStructure[structureId]['data']) {
                                newStructure[structureId]['data'] = { };
                            }
                            newStructure[structureId]['data']['moved'] = true;
                        }

                        newStructure[structureId]['seq'] = parseInt(structure);

                        if (structureArr[structure]['children'].length > 0) {
                            newStructure[structureId]['childs'] = { };

                            var childs = { };

                            for (var child in structureArr[structure]['children']) {
                                childs[child] = structureArr[structure]['children'][child];
                            }
                            newStructure[structureId]['childs'] = extractSturctureData(childs);
                        }
                    }
                }

                return newStructure;
            }

            function extractSturctureParentsData(selectParent = '', selectedNode = '') {
                var menuItemsParents = [];
                var structureArr = $("#{{componentId}}-{{sectionId}}-menu_structure").jstree().get_json('#', { 'flat': true });
                var parentItem = { };

                parentItem['id'] = '#';
                parentItem['text'] = 'ROOT';

                menuItemsParents.push(parentItem);

                for (var structure in structureArr) {
                    if (!structureArr[structure]['state']['hidden'] ||
                        (structureArr[structure]['state']['hidden'] && structureArr[structure]['state']['hidden'] === false)
                    ) {
                        if ((!structureArr[structure]['data']['link'] || structureArr[structure]['data']['sub_menu']) &&
                            structureArr[structure]['id'] !== selectedNode
                        ) {
                            parentItem = { };
                            parentItem['id'] = structureArr[structure]['id'];
                            parentItem['text'] = $("#{{componentId}}-{{sectionId}}-menu_structure").jstree().get_path(structureArr[structure]['id'], ' > ').toUpperCase();

                            menuItemsParents.push(parentItem);
                        }
                    }
                }

                $('#{{componentId}}-{{sectionId}}-menu_parent')
                    .select2().empty()
                    .select2({data: menuItemsParents})
                    .select2({"placeholder" : "SELECT PARENT"}).val(selectParent).trigger('change');
            }

            function getMenuStructureData(parent = null) {
                window['dataCollection']['{{componentId}}']['{{componentId}}-{{sectionId}}']['data']['menu_structure'] = { };
                var structureArr = $('#{{componentId}}-{{sectionId}}-menu_structure').jstree().get_json();
                var appRoute = $('#{{componentId}}-{{sectionId}}-route').val();

                window['dataCollection']['{{componentId}}']['{{componentId}}-{{sectionId}}']['data']['menu_structure'] =
                    extractSturctureData(structureArr);

                extractSturctureParentsData();
                showNullTreeDiv();
            }

            getMenuStructureData();

            for (var menuCheckbox in menuIds) {
                $('#' + menuCheckbox).click(function() {
                    modifyStructure(this);
                });
            }

            for (var componentCheckbox in componentIds) {
                $('#' + componentCheckbox).click(function() {
                    var id = $(this)[0].id;
                    modifyStructure($('#{{componentId}}-{{sectionId}}-component-menu-' + $('#' + id).data('id')));
                });
            }

            function modifyStructure(checkbox) {
                var id = $(checkbox)[0].id;
                var route = $(checkbox).data('route');
                var menuJstreeIds = document.querySelectorAll('[data-link="' + route + '"]')

                if (menuJstreeIds.length === 1) {
                    var menuJstreeId = menuJstreeIds[0].id;
                    var parent = $('#{{componentId}}-{{sectionId}}-menu_structure').jstree().get_parent(menuJstreeId);

                    if ($('#' + id)[0].checked === true) {
                        $('#{{componentId}}-{{sectionId}}-menu_structure').jstree().show_node(menuJstreeId);
                        showHideNodeParent(parent, 'show');
                    } else {
                        $('#{{componentId}}-{{sectionId}}-menu_structure').jstree().hide_node(menuJstreeId);
                        showHideNodeParent(parent, 'hide');
                    }
                } else {
                    menuJstreeIds.forEach(function(item, index) {
                        var menuJstreeId = item.id
                        var parent = $('#{{componentId}}-{{sectionId}}-menu_structure').jstree().get_parent(menuJstreeId);

                        if (!$(item).data('moved')) {
                            $('#{{componentId}}-{{sectionId}}-menu_structure').jstree().hide_node(menuJstreeId);
                            showHideNodeParent(parent, 'hide');
                        } else {
                            if ($('#' + id)[0].checked === true) {
                                $('#{{componentId}}-{{sectionId}}-menu_structure').jstree().show_node(menuJstreeId);
                                showHideNodeParent(parent, 'show');
                            } else {
                                $('#{{componentId}}-{{sectionId}}-menu_structure').jstree().hide_node(menuJstreeId);
                                showHideNodeParent(parent, 'hide');
                            }
                        }
                    });
                }

                getMenuStructureData();
            }

            $(document).on('dnd_stop.vakata', function (e, data) {
                var children = $('#{{componentId}}-{{sectionId}}-menu_structure').jstree().get_children_dom(data.data.nodes[0]);
                var parentId = $('#{{componentId}}-{{sectionId}}-menu_structure').jstree().get_parent(data.data.nodes[0]);
                var nodeData = $('#{{componentId}}-{{sectionId}}-menu_structure').jstree().get_node(data.data.nodes[0]);

                moveNode(data.data.nodes[0], parentId, nodeData, children);
            });

            $('#{{componentId}}-{{sectionId}}-menu_structure').on('create_node.jstree', function (e, data) {
                getMenuStructureData();
            });
            $('#{{componentId}}-{{sectionId}}-menu_structure').on('rename_node.jstree', function (e, data) {
                getMenuStructureData();
            });
            $('#{{componentId}}-{{sectionId}}-menu_structure').on('select_node.jstree', function (e, data) {
                $('#{{componentId}}-{{sectionId}}-menu_id').val(data.node.id);
                $('#{{componentId}}-{{sectionId}}-menu_title').val(data.node.text);

                var iconArr = data.node.icon.split(' ');
                if (iconArr.length > 0) {
                    iconArr.forEach(function(v, i) {
                        if (v !== 'fa' && v !== 'fa-fw' && v !== 'fab' && v.startsWith("fa-")) {
                            $('#{{componentId}}-{{sectionId}}-menu_icon').val(v.replace("fa-", "")).trigger('change');
                        }
                    });
                    $('#{{componentId}}-{{sectionId}}-menu_icon_display').empty().append(
                        '<i style="margin-top:1.9rem !important;" class="' + data.node.icon + '"></i>'
                    );
                    $('#{{componentId}}-{{sectionId}}-menu_icon_display').children('i').removeClass('text-sm').addClass('fa-2x');
                } else {
                    $('#{{componentId}}-{{sectionId}}-menu_icon').val("circle").trigger('change');
                    $('#{{componentId}}-{{sectionId}}-menu_icon_display').empty().append(
                        '<i style="margin-top:1.9rem !important;" class="fa fa-fw fa-2x fa-circle"></i>'
                    );
                }

                if (data.node.data && data.node.data.link) {
                    $('#{{componentId}}-{{sectionId}}-menu_link').val(data.node.data.link);
                } else {
                    $('#{{componentId}}-{{sectionId}}-menu_link').val('');
                }
                if (data.node.data && data.node.data.sub_menu) {
                    $('#{{componentId}}-{{sectionId}}-is_submenu')[0].checked = true;
                } else {
                    $('#{{componentId}}-{{sectionId}}-is_submenu')[0].checked = false;
                }

                $('#{{componentId}}-{{sectionId}}-menu_title').attr('disabled', false);
                $('#{{componentId}}-{{sectionId}}-menu_icon').attr('disabled', false);
                $('#{{componentId}}-{{sectionId}}-save-menu-item').removeClass('disabled');
                $('#{{componentId}}-{{sectionId}}-cancel-menu-item').removeClass('disabled');
                $('#{{componentId}}-{{sectionId}}-menu_parent').attr('disabled', false);

                if (data.node.data.custom_menu && data.node.data.custom_menu == true) {
                    $('#{{componentId}}-{{sectionId}}-is_submenu').attr('disabled', false);
                    if (data.node.data && data.node.data.sub_menu) {
                        $('#{{componentId}}-{{sectionId}}-menu_link').attr('disabled', true);
                    } else {
                        $('#{{componentId}}-{{sectionId}}-menu_link').attr('disabled', false);
                    }
                    $('#{{componentId}}-{{sectionId}}-delete-menu-item').removeClass('disabled');
                } else {
                    $('#{{componentId}}-{{sectionId}}-is_submenu').attr('disabled', true);
                    $('#{{componentId}}-{{sectionId}}-menu_link').attr('disabled', true);
                    $('#{{componentId}}-{{sectionId}}-delete-menu-item').addClass('disabled');
                }

                extractSturctureParentsData(data.node.parent, data.node.id);
            });

            $('#{{componentId}}-{{sectionId}}-is_submenu').click(function() {
                if ($(this)[0].checked === true) {
                    $('#{{componentId}}-{{sectionId}}-menu_link').val('');
                    $('#{{componentId}}-{{sectionId}}-menu_link').attr('disabled', true);
                } else {
                    $('#{{componentId}}-{{sectionId}}-menu_link').attr('disabled', false);
                }
            });

            $('#{{componentId}}-{{sectionId}}-menu_icon').on('select2:select', function(e) {
                var iconDisplay = document.querySelectorAll('.fa-' + e.params.data.id);
                var iconType = $(e.params.data.element).data('type');
                var isBrand = '';

                if (iconType === 'brands') {
                    isBrand = 'fab';
                }

                $('#{{componentId}}-{{sectionId}}-menu_icon_display').empty().append(
                    '<i style="margin-top:1.9rem !important;" class="fa ' + isBrand + ' fa-fw fa-2x fa-' + e.params.data.id + '"></i>'
                );
            });

            $('#{{componentId}}-{{sectionId}}-add-menu-item').click(function(e) {
                e.preventDefault();
                cleanMenuForm();
                $('#{{componentId}}-{{sectionId}}-menu_title').attr('disabled', false);
                $('#{{componentId}}-{{sectionId}}-is_submenu').attr('disabled', false);
                $('#{{componentId}}-{{sectionId}}-menu_parent').attr('disabled', false);
                $('#{{componentId}}-{{sectionId}}-menu_icon').attr('disabled', false);
                $('#{{componentId}}-{{sectionId}}-menu_icon').val('circle').trigger('change');
                $('#{{componentId}}-{{sectionId}}-menu_link').attr('disabled', false);
                $('#{{componentId}}-{{sectionId}}-save-menu-item').removeClass('disabled');
                $('#{{componentId}}-{{sectionId}}-cancel-menu-item').removeClass('disabled');
                extractSturctureParentsData('#');
            });

            $('#{{componentId}}-{{sectionId}}-delete-menu-item').click(function(e) {
                e.preventDefault();

                Swal.fire({
                    title                       : '<span class="text-danger"> Delete custom menu?</span>',
                    icon                        : 'question',
                    background                  : 'rgba(0,0,0,.8)',
                    backdrop                    : 'rgba(0,0,0,.6)',
                    buttonsStyling              : false,
                    confirmButtonText           : 'Delete',
                    customClass                 : {
                        'confirmButton'             : 'btn btn-danger text-uppercase',
                        'cancelButton'              : 'ml-2 btn btn-secondary text-uppercase',
                    },
                    showCancelButton            : true,
                    keydownListenerCapture      : true,
                    allowOutsideClick           : true,
                    allowEscapeKey              : true,
                    didOpen                     : function() {
                        swalSound.play();
                    }
                }).then((result) => {
                    if (result.value) {
                        var selectedNode = $('#{{componentId}}-{{sectionId}}-menu_structure').jstree().get_selected(true);

                        if (selectedNode[0].children.length > 0) {
                            PNotify.notice({
                                title: 'Menu item cannot deleted as it has sub menu items. Delete them first.'
                            });
                        } else {
                            var selectedNodeId = selectedNode[0].id;

                            var deleteNode = $('#{{componentId}}-{{sectionId}}-menu_structure').jstree().delete_node(selectedNodeId);

                            if (deleteNode) {
                                cleanMenuForm();
                                getMenuStructureData();
                            }
                        }
                    }
                });
            });

            function cleanMenuForm() {
                $('#{{componentId}}-{{sectionId}}-menu_id').val('');
                $('#{{componentId}}-{{sectionId}}-menu_title').val('');
                $('#{{componentId}}-{{sectionId}}-menu_title').attr('disabled', true);
                $('#{{componentId}}-{{sectionId}}-is_submenu').attr('disabled', true);
                $('#{{componentId}}-{{sectionId}}-is_submenu')[0].checked = false;
                $('#{{componentId}}-{{sectionId}}-menu_parent').attr('disabled', true);
                $('#{{componentId}}-{{sectionId}}-menu_parent').empty().trigger('change');
                $('#{{componentId}}-{{sectionId}}-menu_icon').attr('disabled', true);
                $('#{{componentId}}-{{sectionId}}-menu_icon').val('').trigger('change');
                $('#{{componentId}}-{{sectionId}}-menu_icon_display').empty();
                $('#{{componentId}}-{{sectionId}}-menu_link').attr('disabled', true);
                $('#{{componentId}}-{{sectionId}}-menu_link').val('');
                $('#{{componentId}}-{{sectionId}}-save-menu-item').addClass('disabled');
                $('#{{componentId}}-{{sectionId}}-cancel-menu-item').addClass('disabled');
                $('#{{componentId}}-{{sectionId}}-delete-menu-item').addClass('disabled');
                $('#{{componentId}}-{{sectionId}}-menu_structure').jstree().deselect_all();
                $('#{{componentId}}-{{sectionId}}-menu_parent')
                    .select2().empty()
                    .select2({"placeholder" : "SELECT PARENT"}).val('').trigger('change');
            }

            $('#{{componentId}}-{{sectionId}}-save-menu-item, #{{componentId}}-{{sectionId}}-cancel-menu-item').click(function(e) {
                e.preventDefault();

                var id = $(this)[0].id;

                if (id === "{{componentId}}-{{sectionId}}-cancel-menu-item") {
                    cleanMenuForm();
                }

                if (id === "{{componentId}}-{{sectionId}}-save-menu-item") {
                    if ($('#{{componentId}}-{{sectionId}}-menu_title').val() === '') {
                        $('#{{componentId}}-{{sectionId}}-menu_title').addClass('is-invalid');
                        $('#{{componentId}}-{{sectionId}}-menu_title').focus(function() {
                            $(this).removeClass('is-invalid');
                        });
                    } else if (!$('#{{componentId}}-{{sectionId}}-is_submenu')[0].checked &&
                               $('#{{componentId}}-{{sectionId}}-menu_link').val() === ''
                    ) {
                        $('#{{componentId}}-{{sectionId}}-menu_link').addClass('is-invalid');
                        $('#{{componentId}}-{{sectionId}}-menu_link').focus(function() {
                            $(this).removeClass('is-invalid');
                        });
                    } else {
                        var nodeId, nodeData, title, isSubmenu, parentId, parent, icon, iconId, iconType, isBrand, link;

                        nodeId = $('#{{componentId}}-{{sectionId}}-menu_id').val();
                        parentId = $('#{{componentId}}-{{sectionId}}-menu_parent').select2('data')[0].id;
                        parent = $('#{{componentId}}-{{sectionId}}-menu_structure').jstree().get_node(parentId);
                        title = $('#{{componentId}}-{{sectionId}}-menu_title').val();
                        isSubmenu = $('#{{componentId}}-{{sectionId}}-is_submenu')[0].checked;
                        icon = $('#{{componentId}}-{{sectionId}}-menu_icon').select2('data');
                        iconId = $('#{{componentId}}-{{sectionId}}-menu_icon').select2('data')[0].id;
                        iconType = $(icon[0].element).data('type');
                        link = $('#{{componentId}}-{{sectionId}}-menu_link').val();

                        if (isSubmenu) {
                            link = null;
                        }

                        if (link === '') {
                            link = '#';
                        }

                        if (iconType === 'brands') {
                            isBrand = 'fab';
                        } else {
                            isBrand = 'fa';
                        }

                        if (nodeId !== '') {
                            nodeData = $('#{{componentId}}-{{sectionId}}-menu_structure').jstree().get_node(nodeId);

                            if (!nodeData['data']) {
                                nodeData['data'] = { };
                            }

                            if (nodeData['data']['sub_menu'] && nodeData['data']['sub_menu'] === true) {
                                if (!isSubmenu && nodeData.children.length > 0) {
                                    PNotify.notice({
                                        title: 'Menu item cannot be converted to link as its a sub menu.'
                                    });
                                    return;
                                }
                            }

                            if (checkDuplicate(nodeId, parent, title)) {
                                PNotify.notice({
                                    title: 'Duplicate title!'
                                });
                                return;
                            }

                            if (nodeData['text'] !== title) {
                                $('#{{componentId}}-{{sectionId}}-menu_structure').jstree('rename_node', nodeId, title);
                                nodeData['data']['renamed'] = true;
                            }

                            var newIcon = isBrand + ' fa-fw fa-' + iconId + ' text-sm';
                            if (nodeData['icon'] !== newIcon) {
                                $('#{{componentId}}-{{sectionId}}-menu_structure').jstree('set_icon', nodeId, newIcon);
                            }

                            nodeData['data']['link'] = link;

                            if (isSubmenu) {
                                nodeData['data']['sub_menu'] = true;
                            } else {
                                nodeData['data']['sub_menu'] = false;
                            }

                            if (nodeData['parent'] !== parentId) {
                                moveNode(nodeId, parentId, nodeData);
                            } else {
                                getMenuStructureData();
                                cleanMenuForm();
                            }
                        } else {
                            if (checkDuplicate(nodeId, parent, title)) {
                                PNotify.notice({
                                    title: 'Duplicate title!'
                                });
                                return;
                            }

                            var data = { };
                            data['link'] = link;
                            data['custom_menu'] = true;
                            if (isSubmenu) {
                                data['sub_menu'] = true;
                            } else {
                                data['sub_menu'] = false;
                            }

                            $('#{{componentId}}-{{sectionId}}-menu_structure').jstree('create_node',
                                parentId,
                                {'text' : title, 'icon' : isBrand + ' fa-fw fa-' + iconId + ' text-sm', 'data' : data},
                                'last',
                                function() {
                                    getMenuStructureData();
                                    cleanMenuForm();
                                }
                            );
                        }
                    }
                }
            });

            function moveNode(nodeId, parentId, nodeData, children = null) {
                $('#{{componentId}}-{{sectionId}}-menu_structure').jstree('move_node',
                    nodeId,
                    parentId,
                    'last',
                    function() {
                        nodeData['data']['moved'] = true;

                        if (children && children.length > 0) {
                            for (var child in children) {
                                if (children[child].nodeName === 'LI') {
                                    parentId = $('#{{componentId}}-{{sectionId}}-menu_structure').jstree().get_parent(children[child].id);
                                    nodeData = $('#{{componentId}}-{{sectionId}}-menu_structure').jstree().get_node(children[child].id);

                                    $('#{{componentId}}-{{sectionId}}-menu_structure').jstree('move_node',
                                        children[child].id,
                                        parentId,
                                        'last',
                                        function() {
                                            nodeData['data']['moved'] = true;
                                        }
                                    );
                                }
                            }
                        }

                        getMenuStructureData();
                        cleanMenuForm();
                });
            }

            function checkDuplicate(nodeId, parent, title) {
                if (parent['children'] && parent['children'].length > 0) {
                    for (var children in parent['children']) {
                        if (parent['children'][children] !== nodeId) {
                            var child = $('#{{componentId}}-{{sectionId}}-menu_structure').jstree().get_node(parent['children'][children]);

                            if (child['text'].toLowerCase() === title.toLowerCase()) {
                                return true;
                            }
                        }
                    }
                }

                return false;
            }
        },
        'core' : $.extend(dataCollectionSection['{{componentId}}-{{sectionId}}-menu_structure']['core'], {
            check_callback : function (operation, node, node_parent, node_position, more) {
                if (operation === 'move_node') {
                    if (node_parent['id'] !== '#') {
                        if (node_parent['data']['link']) {
                            return false;
                        }
                    }
                }
            }
        })
    });
</script>
