<div class="row">
    <div class="col">
        <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
            <label class="btn btn-primary active">
                <input type="radio" name="barebone-all-options" class="barebone-install-options" id="barebone-all-radio" checked>All
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="barebone-component-options" class="barebone-install-options" id="barebone-component-radio">Component
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="barebone-package-options" class="barebone-install-options" id="barebone-package-radio">Package
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="barebone-middleware-options" class="barebone-install-options" id="barebone-middleware-radio">Middleware
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="barebone-view-options" class="barebone-install-options" id="barebone-view-radio">View
            </label>
        </div>
    </div>
</div>
<div class="row" id="barebone-all">
    <div class="col">
        {% include 'barebone/all.html' %}
    </div>
</div>
<div class="row" id="barebone-component" hidden>
    <div class="col">
        {% include 'barebone/components.html' %}
    </div>
</div>
<div class="row" id="barebone-package" hidden>
    <div class="col">
        {% include 'barebone/packages.html' %}
    </div>
</div>
<div class="row" id="barebone-middleware" hidden>
    <div class="col">
        {% include 'barebone/middlewares.html' %}
    </div>
</div>
<div class="row" id="barebone-view" hidden>
    <div class="col">
        {% include 'barebone/views.html' %}
    </div>
</div>
<small class="text-warning text-uppercase">
    Note: This tool is only available in development mode. It is only provided as an aid during development.
</small>
<script>
$('.barebone-install-options').each(function(index, option) {
    'use strict';
    $($(option).parent()).click(function() {

        var selectedOptionId = $(this).children()[0].id;

        if (selectedOptionId === 'barebone-component-radio') {

            $('#' + selectedOptionId).parent().addClass('btn-primary').removeClass('btn-secondary');

            $('#barebone-package-radio, #barebone-middleware-radio, #barebone-view-radio, #barebone-all-radio')
                .parent().removeClass('btn-primary').addClass('btn-secondary');

            $('#barebone-component').attr('hidden', false);

            $('#barebone-package, #barebone-middleware, #barebone-view, #barebone-all').attr('hidden', true);

        } else if (selectedOptionId === 'barebone-package-radio') {

            $('#' + selectedOptionId).parent().addClass('btn-primary').removeClass('btn-secondary');

            $('#barebone-component-radio, #barebone-middleware-radio, #barebone-view-radio, #barebone-all-radio')
                .parent().removeClass('btn-primary').addClass('btn-secondary');

            $('#barebone-package').attr('hidden', false);

            $('#barebone-component, #barebone-middleware, #barebone-view, #barebone-all').attr('hidden', true);

        } else if (selectedOptionId === 'barebone-middleware-radio') {

            $('#' + selectedOptionId).parent().addClass('btn-primary').removeClass('btn-secondary');

            $('#barebone-component-radio, #barebone-package-radio, #barebone-view-radio, #barebone-all-radio')
                .parent().removeClass('btn-primary').addClass('btn-secondary');

            $('#barebone-middleware').attr('hidden', false);

            $('#barebone-component, #barebone-package, #barebone-view, #barebone-all').attr('hidden', true);

        } else if (selectedOptionId === 'barebone-view-radio') {

            $('#' + selectedOptionId).parent().addClass('btn-primary').removeClass('btn-secondary');

            $('#barebone-component-radio, #barebone-package-radio, #barebone-middleware-radio, #barebone-all-radio')
                .parent().removeClass('btn-primary').addClass('btn-secondary');

            $('#barebone-view').attr('hidden', false);

            $('#barebone-component, #barebone-package, #barebone-middleware, #barebone-all').attr('hidden', true);

        } else if (selectedOptionId === 'barebone-all-radio') {

            $('#' + selectedOptionId).parent().addClass('btn-primary').removeClass('btn-secondary');

            $('#barebone-package-radio, #barebone-middleware-radio, #barebone-view-radio, #barebone-component-radio')
                .parent().removeClass('btn-primary').addClass('btn-secondary');

            $('#barebone-all').attr('hidden', false);

            $('#barebone-package, #barebone-middleware, #barebone-view, #barebone-component').attr('hidden', true);

        }
    });
});
</script>