{% include 'products/types/stock/form/details/branding.html' %}
<hr class="bg-secondary">
{% include 'products/types/stock/form/details/categorise.html' %}
<hr class="bg-secondary">
{% include 'products/types/stock/form/details/specs.html' %}
<script>
/* globals BazHelpers PNotify autoComplete Sortable */
var dataCollectionComponent, dataCollectionSection, dataCollectionSectionForm;

if (!window['dataCollection']['{{componentId}}']) {
    dataCollectionComponent =
        window['dataCollection']['{{componentId}}'] = { };
} else {
    dataCollectionComponent =
        window['dataCollection']['{{componentId}}'];
}
if (!dataCollectionComponent['{{componentId}}-{{sectionId}}']) {
    dataCollectionSection =
        dataCollectionComponent['{{componentId}}-{{sectionId}}'] = { };
} else {
    dataCollectionSection =
        dataCollectionComponent['{{componentId}}-{{sectionId}}'];
}
if (!dataCollectionSection['{{componentId}}-{{sectionId}}-form']) {
    dataCollectionSectionForm =
        dataCollectionSection['{{componentId}}-{{sectionId}}-form'] = { };
} else {
    dataCollectionSectionForm =
        dataCollectionSection['{{componentId}}-{{sectionId}}-form'];
}

dataCollectionSection["data"] = { };

dataCollectionSection =
    $.extend(dataCollectionSection, {
        '{{componentId}}-{{sectionId}}-manufacturer'                : {
            placeholder : 'SELECT/CREATE MANUFACTURER',
            'tags'          : true,
            'ajax'          : {
                url         : "{{links.url('business/directory/vendors/searchVendorName')}}",
                dataType    : 'json',
                method      : 'post',
                data: function(params) {
                    return {
                        search: params.term
                    }
                },
                processResults: function(data) {
                    if (data.tokenKey && data.token) {
                        $('#security-token').attr('name', data.tokenKey);
                        $('#security-token').val(data.token);
                    }
                    if (data.vendors) {
                        var vendorsData = [];
                        for (var item of data.vendors) {
                            vendorsData.push({
                                'id' : item['id'],
                                'text' : item['name']
                            });
                        }

                        return {
                            results: vendorsData
                        }
                    } else {
                        return {
                            results : []
                        }
                    }
                },
                cache: true
            },
            minimumInputLength : 1,
            createTag     : function(params) {
                var term = $.trim(params.term);

                if (term === '') {
                    return null;
                }

                return {
                    id: term,
                    text: term,
                    newTag: true
                }
            }
        },
        '{{componentId}}-{{sectionId}}-brand'                       : {
            'placeholder'   : "SELECT/CREATE BRAND",
            'tags'          : true,
            'ajax'          : {
                url         : "{{links.url('ims/brands/searchBrand')}}",
                dataType    : 'json',
                method      : 'post',
                data: function(params) {
                    return {
                        search: params.term
                    }
                },
                processResults: function(data) {
                    if (data.tokenKey && data.token) {
                        $('#security-token').attr('name', data.tokenKey);
                        $('#security-token').val(data.token);
                    }
                    if (data.brands) {
                        var brandsData = [];
                        for (var item of data.brands) {
                            brandsData.push({
                                'id' : item['id'],
                                'text' : item['name']
                            });
                        }

                        return {
                            results: brandsData
                        }
                    } else {
                        return {
                            results : []
                        }
                    }
                },
                cache: true
            },
            minimumInputLength : 1,
            createTag     : function(params) {
                var term = $.trim(params.term);

                if (term === '') {
                    return null;
                }

                return {
                    id: term,
                    text: term,
                    newTag: true
                }
            }
        },
        '{{componentId}}-{{sectionId}}-category_channel'            : {
            placeholder : 'SELECT CHANNEL'
        },
        '{{componentId}}-{{sectionId}}-category_source'             : {
            placeholder : 'SELECT CATEGORY SOURCE'
        },
        '{{componentId}}-{{sectionId}}-search_category'             : {
            afterInit: function() {
                var searchUrl;

                $("#{{componentId}}-{{sectionId}}-category_source option").each(function(index, option) {
                    if ($(option).data('value') && $(option).data('value') == 1) {
                        searchUrl = $(option).data('url');
                    }
                });

                dataCollectionSectionForm['autoCompleteSearchCategory'] =
                    new autoComplete({
                        data: {
                            src: async() => {
                                const url = searchUrl;

                                var myHeaders = new Headers();
                                myHeaders.append("accept", "application/json");

                                var formdata = new FormData();
                                formdata.append("search", document.querySelector("#{{componentId}}-{{sectionId}}-search_category").value);
                                formdata.append($('#security-token').attr('name'), $('#security-token').val());

                                var requestOptions = {
                                    method: 'POST',
                                    headers: myHeaders,
                                    body: formdata
                                };

                                const response = await fetch(url, requestOptions);

                                const data = await response.json();

                                if (data.tokenKey && data.token) {
                                    $('#security-token').attr('name', data.tokenKey);
                                    $('#security-token').val(data.token);
                                }
                                if (data.categories) {
                                    return data.categories;
                                } else {
                                    return [];
                                }
                            },
                            key: ["hierarchy_str"],
                            cache: false
                        },
                        selector: "#{{componentId}}-{{sectionId}}-search_category",
                        threshold : 4,
                        debounce: 500,
                        searchEngine: "strict",
                        resultsList: {
                            render: true,
                            container: source => {
                                source.setAttribute("id", "{{componentId}}-{{sectionId}}-search_category_list");
                                source.setAttribute("class", "autoComplete_results");
                            },
                            destination: "#{{componentId}}-{{sectionId}}-search_category",
                            position: "afterend",
                            element: "div",
                            className: "autoComplete_results"
                        },
                        maxResults: 10,
                        highlight: true,
                        resultItem: {
                            content: (data, source) => {
                                source.innerHTML = data.match;
                            },
                            element: "div"
                        },
                        noResults: () => {
                            const result = document.createElement("li");
                            result.setAttribute("class", "autoComplete_result text-danger");
                            result.setAttribute("tabindex", "1");
                            result.innerHTML = "No search results. Click field help for more information.";
                            if (document.querySelector("#{{componentId}}-{{sectionId}}-search_category_list")) {
                                $("#{{componentId}}-{{sectionId}}-search_category_list").empty().append(result);
                            } else {
                                $("#{{componentId}}-{{sectionId}}-search_category").parent(".form-group").append(
                                    '<div id="{{componentId}}-{{sectionId}}-search_category_list" class="autoComplete_results"></div>'
                                );
                                document.querySelector("#{{componentId}}-{{sectionId}}-search_category_list").appendChild(result);
                            }
                        },
                        onSelection: feedback => {
                            $('#{{componentId}}-{{sectionId}}-search_category_id').val(feedback.selection.value.id);
                            $('#{{componentId}}-{{sectionId}}-search_category_id').attr('value', feedback.selection.value.id);
                            $('#{{componentId}}-{{sectionId}}-search_category_parent').val(feedback.selection.value.parent_id);
                            $('#{{componentId}}-{{sectionId}}-search_category_parent').attr('value', feedback.selection.value.parent_id);
                            $('#{{componentId}}-{{sectionId}}-search_category').blur();
                            $('#{{componentId}}-{{sectionId}}-search_category').val(feedback.selection.value.hierarchy_str);
                            $('#{{componentId}}-{{sectionId}}-search_category').attr('value', feedback.selection.value.hierarchy_str);
                        }
                    });

                // On delete/Change
                $('#{{componentId}}-{{sectionId}}-search_category').on('input propertychange', function() {
                    $('#{{componentId}}-{{sectionId}}-search_category_id').val(0);
                    $('#{{componentId}}-{{sectionId}}-search_category_id').attr('value', 0);
                    $('#{{componentId}}-{{sectionId}}-search_category_parent').val(0);
                    $('#{{componentId}}-{{sectionId}}-search_category_parent').attr('value', 0);
                    if ($('#{{componentId}}-{{sectionId}}-search_category').val() !== '') {
                        $('#{{componentId}}-{{sectionId}}-add-category, #{{componentId}}-{{sectionId}}-cancel-category').attr('disabled', false);
                    } else {
                        $('#{{componentId}}-{{sectionId}}-add-category, #{{componentId}}-{{sectionId}}-cancel-category').attr('disabled', true);
                    }
                });

                $('#{{componentId}}-{{sectionId}}-search_category').focusout(function() {
                    $('#{{componentId}}-{{sectionId}}-search_category_list').children('li').remove();
                });
            }
        },
        '{{componentId}}-{{sectionId}}-search_taxonomy'             : {
            afterInit: function() {
                var searchUrl;

                $("#{{componentId}}-{{sectionId}}-category_source option").each(function(index, option) {
                    if ($(option).data('value') && $(option).data('value') == 2) {
                        searchUrl = $(option).data('url');
                    }
                });

                dataCollectionSectionForm['autoCompleteSearchTaxonomy'] =
                    new autoComplete({
                        data: {
                            src: async() => {
                                const url = searchUrl;

                                var myHeaders = new Headers();
                                myHeaders.append("accept", "application/json");

                                var formdata = new FormData();
                                formdata.append("search", document.querySelector("#{{componentId}}-{{sectionId}}-search_taxonomy").value);
                                formdata.append($('#security-token').attr('name'), $('#security-token').val());

                                var requestOptions = {
                                    method: 'POST',
                                    headers: myHeaders,
                                    body: formdata
                                };

                                const response = await fetch(url, requestOptions);

                                const data = await response.json();

                                if (data.tokenKey && data.token) {
                                    $('#security-token').attr('name', data.tokenKey);
                                    $('#security-token').val(data.token);
                                }
                                if (data.taxonomy) {
                                    return data.taxonomy;
                                } else {
                                    return [];
                                }
                            },
                            key: ["hierarchy_str"],
                            cache: false
                        },
                        selector: "#{{componentId}}-{{sectionId}}-search_taxonomy",
                        threshold : 4,
                        debounce: 500,
                        searchEngine: "strict",
                        resultsList: {
                            render: true,
                            container: source => {
                                source.setAttribute("id", "{{componentId}}-{{sectionId}}-search_taxonomy_list");
                                source.setAttribute("class", "autoComplete_results");
                            },
                            destination: "#{{componentId}}-{{sectionId}}-search_taxonomy",
                            position: "afterend",
                            element: "div",
                            className: "autoComplete_results"
                        },
                        maxResults: 10,
                        highlight: true,
                        resultItem: {
                            content: (data, source) => {
                                source.innerHTML = data.match;
                            },
                            element: "div"
                        },
                        noResults: () => {
                            const result = document.createElement("li");
                            result.setAttribute("class", "autoComplete_result text-danger");
                            result.setAttribute("tabindex", "1");
                            result.innerHTML = "No search results. Click field help for more information.";
                            if (document.querySelector("#{{componentId}}-{{sectionId}}-search_taxonomy_list")) {
                                $("#{{componentId}}-{{sectionId}}-search_taxonomy_list").empty().append(result);
                            } else {
                                $("#{{componentId}}-{{sectionId}}-search_taxonomy").parent(".form-group").append(
                                    '<div id="{{componentId}}-{{sectionId}}-search_taxonomy_list" class="autoComplete_results"></div>'
                                );
                                document.querySelector("#{{componentId}}-{{sectionId}}-search_taxonomy_list").appendChild(result);
                            }
                        },
                        onSelection: feedback => {
                            $('#{{componentId}}-{{sectionId}}-search_taxonomy_id').val(feedback.selection.value.id);
                            $('#{{componentId}}-{{sectionId}}-search_taxonomy_id').attr('value', feedback.selection.value.id);
                            $('#{{componentId}}-{{sectionId}}-search_taxonomy_parent').val(feedback.selection.value.parent_id);
                            $('#{{componentId}}-{{sectionId}}-search_taxonomy_parent').attr('value', feedback.selection.value.parent_id);
                            $('#{{componentId}}-{{sectionId}}-search_taxonomy').blur();
                            $('#{{componentId}}-{{sectionId}}-search_taxonomy').val(feedback.selection.value.hierarchy_str);
                            $('#{{componentId}}-{{sectionId}}-search_taxonomy').attr('value', feedback.selection.value.hierarchy_str);
                        }
                    });

                // On delete/Change
                $('#{{componentId}}-{{sectionId}}-search_taxonomy').on('input propertychange', function() {
                    $('#{{componentId}}-{{sectionId}}-search_taxonomy_id').val(0);
                    $('#{{componentId}}-{{sectionId}}-search_taxonomy_id').attr('value', 0);
                    $('#{{componentId}}-{{sectionId}}-search_taxonomy_parent').val(0);
                    $('#{{componentId}}-{{sectionId}}-search_taxonomy_parent').attr('value', 0);
                    if ($('#{{componentId}}-{{sectionId}}-search_taxonomy').val() !== '') {
                        $('#{{componentId}}-{{sectionId}}-add-category, #{{componentId}}-{{sectionId}}-cancel-category').attr('disabled', false);
                    } else {
                        $('#{{componentId}}-{{sectionId}}-add-category, #{{componentId}}-{{sectionId}}-cancel-category').attr('disabled', true);
                    }
                });

                $('#{{componentId}}-{{sectionId}}-search_taxonomy').focusout(function() {
                    $('#{{componentId}}-{{sectionId}}-search_taxonomy_list').children('li').remove();
                });
            }
        },
        '{{componentId}}-{{sectionId}}-category_ids'                : {
            afterInit : function () {
                var selectedChannelId, selectedSourceId;

                var channelIds = JSON.parse('{{channelIds}}');
                dataCollectionSection["data"]["category_ids"] = { };

                $("#{{componentId}}-{{sectionId}}-category_channel").on("select2:select", function(e) {
                    selectedChannelId = e.params.data.id;

                    if (selectedChannelId != 0) {
                        $("#{{componentId}}-{{sectionId}}-category_source").attr('disabled', false);
                    } else {
                        $("#{{componentId}}-{{sectionId}}-category_source").attr('disabled', true);
                    }

                    initMainButtons();
                });

                $("#{{componentId}}-{{sectionId}}-category_source").on("select2:select", function(e) {
                    selectedSourceId = e.params.data.id;

                    toggleSearchFields(selectedSourceId);
                });

                function initMainButtons() {
                    $("#{{componentId}}-{{sectionId}}-cancel-category").off();
                    $("#{{componentId}}-{{sectionId}}-cancel-category").click(function(e) {
                        $("#{{componentId}}-{{sectionId}}-category_channel").val(0);
                        $("#{{componentId}}-{{sectionId}}-category_channel").trigger("change");
                        $(".categoryDeleteButton").attr("disabled", false);
                        e.preventDefault();
                        resetFields();
                    });

                    $("#{{componentId}}-{{sectionId}}-add-category").off();
                    $("#{{componentId}}-{{sectionId}}-add-category").click(function(e) {
                        $("#{{componentId}}-{{sectionId}}-category_channel").val(0);
                        $("#{{componentId}}-{{sectionId}}-category_channel").trigger("change");
                        $(".categoryDeleteButton").attr("disabled", false);
                        e.preventDefault();
                        extractData();
                    });
                }

                function toggleSearchFields(id) {
                    if (id == 1) {
                        $("#{{componentId}}-{{sectionId}}-search_category").parents('.form-group').removeClass("d-none");
                        $("#{{componentId}}-{{sectionId}}-search_category").attr('disabled', false);
                        $("#{{componentId}}-{{sectionId}}-search_taxonomy").parents('.form-group').addClass("d-none");
                        $("#{{componentId}}-{{sectionId}}-search_taxonomy").attr('disabled', true);
                        $("#{{componentId}}-{{sectionId}}-search_taxonomy_id").val('0');
                        $("#{{componentId}}-{{sectionId}}-search_taxonomy").val('');
                    } else if (id == 2) {
                        $("#{{componentId}}-{{sectionId}}-search_taxonomy").parents('.form-group').removeClass("d-none");
                        $("#{{componentId}}-{{sectionId}}-search_taxonomy").attr('disabled', false);
                        $("#{{componentId}}-{{sectionId}}-search_category").parents('.form-group').addClass("d-none");
                        $("#{{componentId}}-{{sectionId}}-search_category").attr('disabled', true);
                        $("#{{componentId}}-{{sectionId}}-search_category_id").val('0');
                        $("#{{componentId}}-{{sectionId}}-search_category").val('');
                    }
                }

                function resetFields() {
                    $("#{{componentId}}-{{sectionId}}-category_channel").val(0);
                    $("#{{componentId}}-{{sectionId}}-category_channel").trigger("change");
                    $("#{{componentId}}-{{sectionId}}-category_source").val(0);
                    $("#{{componentId}}-{{sectionId}}-category_source").trigger("change");
                    $("#{{componentId}}-{{sectionId}}-search_category_id").val('');
                    $("#{{componentId}}-{{sectionId}}-search_category").val('');
                    $("#{{componentId}}-{{sectionId}}-search_category_parent").val('');
                    $("#{{componentId}}-{{sectionId}}-search_taxonomy_id").val('');
                    $("#{{componentId}}-{{sectionId}}-search_taxonomy").val('');
                    $("#{{componentId}}-{{sectionId}}-search_taxonomy_parent").val('');
                    $("#{{componentId}}-{{sectionId}}-search_category").attr('disabled', true);
                    $("#{{componentId}}-{{sectionId}}-search_category").parents('.form-group').addClass('d-none');
                    $("#{{componentId}}-{{sectionId}}-search_taxonomy").attr('disabled', true);
                    $("#{{componentId}}-{{sectionId}}-search_taxonomy").parents('.form-group').addClass('d-none');
                    $("#{{componentId}}-{{sectionId}}-add-category").attr('disabled', true);
                    $("#{{componentId}}-{{sectionId}}-cancel-category").attr('disabled', true);
                }

                function extractData() {
                    var categoryId, categoryParentId, category;
                    var found = false;

                    if (selectedSourceId == 1) {
                        categoryId = $("#{{componentId}}-{{sectionId}}-search_category_id").val();
                        categoryParentId = $("#{{componentId}}-{{sectionId}}-search_category_parent").val();
                        category = $("#{{componentId}}-{{sectionId}}-search_category").val();
                    } else if (selectedSourceId == 2) {
                        categoryId = $("#{{componentId}}-{{sectionId}}-search_taxonomy_id").val();
                        categoryParentId = $("#{{componentId}}-{{sectionId}}-search_taxonomy_parent").val();
                        category = $("#{{componentId}}-{{sectionId}}-search_taxonomy").val();
                    }

                    var html =
                        '<div class="mb-0">' +
                            '<p class="text-uppercase mb-0 cla-category">' + category + '</p>' +
                        '</div>';

                    if ($("#{{componentId}}-{{sectionId}}-sortable-channels-" + selectedChannelId).length > 0) {
                        if ($("#{{componentId}}-{{sectionId}}-sortable-channels-" + selectedChannelId + " li").length > 0) {
                            $("#{{componentId}}-{{sectionId}}-sortable-channels-" + selectedChannelId + " li").each(function(index, li) {
                                if (categoryId == $(li).data('category-id')) {
                                    PNotify.error({title: 'Product already assigned to category ' + category});
                                    found = true;
                                    resetFields();
                                    collectData();
                                    registerCategoryButtons();
                                }
                            });
                        }

                        if (found) {
                            return;
                        }

                        if (categoryId == "0") {
                            categoryId = Date.now();
                        }

                        var list =
                            '<li class="list-group-item list-group-item-primary" area-disabled="false" style="cursor: pointer" data-listchannelid="' + selectedChannelId +
                                '" data-category-id="' + categoryId + '" data-category-parent-id="' + categoryParentId + '">' +
                                '<div class="row">' +
                                    '<div class="col">' +
                                        '<p class="font-weight-bold text-uppercase">Category:</p>' +
                                    '</div>' +
                                    '<div class="col">' +
                                        '<button data-sort-id="" type="button" class="btn btn-xs btn-danger float-right ml-1 categoryDeleteButton">' +
                                            '<i class="fa fas fa-fw text-xs fa-trash"></i>' +
                                        '</button>' +
                                    '</div>' +
                                '</div>' +
                                '<div class="row">' +
                                    '<div class="col list-group-item-data">' +
                                        html +
                                    '</div>' +
                                '</div>' +
                            '</li>';

                        $("#{{componentId}}-{{sectionId}}-sortable-channels-" + selectedChannelId).append(list);
                    }

                    resetFields();
                    collectData();
                    registerCategoryButtons();
                }

                function collectData() {
                    for (var channelId in channelIds) {
                        dataCollectionSection["data"]["category_ids"][channelIds[channelId]] = { };

                        if ($("#{{componentId}}-{{sectionId}}-sortable-channels-" + channelIds[channelId] + " li").length > 0) {
                            $("#{{componentId}}-{{sectionId}}-sortable-channels-" + channelIds[channelId] + " li").each(function(index, li) {
                                var data = { };

                                data['category_id'] = $(li).data("category-id");
                                data['category_parent'] = $(li).data("category-parent-id");
                                data['category'] = $(li).find('.cla-category').html();

                                dataCollectionSection["data"]["category_ids"][channelIds[channelId]][data['category_id']] = data;
                            });
                        }
                    }
                }

                function registerCategoryButtons() {
                    $(".categoryDeleteButton").each(function(index, button) {
                        $(button).off();
                        $(button).click(function() {
                            $(this).parents("li").remove();
                            collectData();
                        });
                    });
                }

                collectData();
                registerCategoryButtons();
            }
        },
        '{{componentId}}-{{sectionId}}-specification_group'         : {
            afterInit: function() {
                dataCollectionSectionForm['autoCompleteSearchCategory'] =
                    new autoComplete({
                        data: {
                            src: async() => {
                                const url = '{{links.url("ims/specifications/searchSpecification")}}';

                                var myHeaders = new Headers();
                                myHeaders.append("accept", "application/json");

                                var formdata = new FormData();
                                formdata.append("search", document.querySelector("#{{componentId}}-{{sectionId}}-specification_group").value);
                                formdata.append("is_group", true);
                                formdata.append($('#security-token').attr('name'), $('#security-token').val());

                                var requestOptions = {
                                    method: 'POST',
                                    headers: myHeaders,
                                    body: formdata
                                };

                                const response = await fetch(url, requestOptions);

                                const data = await response.json();

                                if (data.tokenKey && data.token) {
                                    $('#security-token').attr('name', data.tokenKey);
                                    $('#security-token').val(data.token);
                                }

                                if (data.specifications) {
                                    return data.specifications;
                                } else {
                                    return [];
                                }
                            },
                            key: ["name"],
                            cache: false
                        },
                        selector: "#{{componentId}}-{{sectionId}}-specification_group",
                        threshold : 2,
                        debounce: 500,
                        searchEngine: "strict",
                        resultsList: {
                            render: true,
                            container: source => {
                                source.setAttribute("id", "{{componentId}}-{{sectionId}}-specification_group_list");
                                source.setAttribute("class", "autoComplete_results");
                            },
                            destination: "#{{componentId}}-{{sectionId}}-specification_group",
                            position: "afterend",
                            element: "div",
                            className: "autoComplete_results"
                        },
                        maxResults: 5,
                        highlight: true,
                        resultItem: {
                            content: (data, source) => {
                                source.innerHTML = data.match;
                            },
                            element: "div"
                        },
                        noResults: () => {
                            const result = document.createElement("li");
                            result.setAttribute("class", "autoComplete_result text-danger");
                            result.setAttribute("tabindex", "1");
                            result.innerHTML = "No search results. Click field help for more information.";
                            if (document.querySelector("#{{componentId}}-{{sectionId}}-specification_group_list")) {
                                $("#{{componentId}}-{{sectionId}}-specification_group_list").empty().append(result);
                            } else {
                                $("#{{componentId}}-{{sectionId}}-specification_group").parent(".form-group").append(
                                    '<div id="{{componentId}}-{{sectionId}}-specification_group_list" class="autoComplete_results"></div>'
                                );
                                document.querySelector("#{{componentId}}-{{sectionId}}-specification_group_list").appendChild(result);
                            }
                        },
                        onSelection: feedback => {
                            $('#{{componentId}}-{{sectionId}}-specification_group_id').val(feedback.selection.value.id);
                            $('#{{componentId}}-{{sectionId}}-specification_group_id').attr('value', feedback.selection.value.id);
                            $('#{{componentId}}-{{sectionId}}-specification_group').val(feedback.selection.value.name);
                            $('#{{componentId}}-{{sectionId}}-specification_group').attr('value', feedback.selection.value.name);
                            $('#{{componentId}}-{{sectionId}}-specification_group').blur();
                            $('#{{componentId}}-{{sectionId}}-specification').attr('disabled', false);
                        }
                    });

                // On delete/Change
                $('#{{componentId}}-{{sectionId}}-specification_group').on('input propertychange', function() {
                    $('#{{componentId}}-{{sectionId}}-specification_group_id').val(0);
                    $('#{{componentId}}-{{sectionId}}-specification_group_id').attr('value', 0);
                    $('#{{componentId}}-{{sectionId}}-specification_id').val(0);
                    $('#{{componentId}}-{{sectionId}}-specification_id').attr('value', 0);
                    if ($('#{{componentId}}-{{sectionId}}-specification_group').val() !== '') {
                        $('#{{componentId}}-{{sectionId}}-specification').attr('disabled', false);
                    } else {
                        $('#{{componentId}}-{{sectionId}}-specification').attr('disabled', true);
                    }
                });

                $('#{{componentId}}-{{sectionId}}-specification_group').focusout(function() {
                    $('#{{componentId}}-{{sectionId}}-specification_group_list').children('li').remove();
                });
            }
        },
        '{{componentId}}-{{sectionId}}-specification'               : {
            afterInit: function() {
                dataCollectionSectionForm['autoCompleteSearchCategory'] =
                    new autoComplete({
                        data: {
                            src: async() => {
                                const url = '{{links.url("ims/specifications/searchSpecification")}}';

                                var myHeaders = new Headers();
                                myHeaders.append("accept", "application/json");

                                var formdata = new FormData();
                                formdata.append("search", document.querySelector("#{{componentId}}-{{sectionId}}-specification").value);
                                formdata.append("group_id", document.querySelector("#{{componentId}}-{{sectionId}}-specification_group_id").value);
                                formdata.append($('#security-token').attr('name'), $('#security-token').val());

                                var requestOptions = {
                                    method: 'POST',
                                    headers: myHeaders,
                                    body: formdata
                                };

                                const response = await fetch(url, requestOptions);

                                const data = await response.json();

                                if (data.tokenKey && data.token) {
                                    $('#security-token').attr('name', data.tokenKey);
                                    $('#security-token').val(data.token);
                                }
                                if (data.specifications) {
                                    return data.specifications;
                                } else {
                                    return [];
                                }
                            },
                            key: ["name"],
                            cache: false
                        },
                        selector: "#{{componentId}}-{{sectionId}}-specification",
                        threshold : 2,
                        debounce: 500,
                        searchEngine: "strict",
                        resultsList: {
                            render: true,
                            container: source => {
                                source.setAttribute("id", "{{componentId}}-{{sectionId}}-specification_list");
                                source.setAttribute("class", "autoComplete_results");
                            },
                            destination: "#{{componentId}}-{{sectionId}}-specification",
                            position: "afterend",
                            element: "div",
                            className: "autoComplete_results"
                        },
                        maxResults: 5,
                        highlight: true,
                        resultItem: {
                            content: (data, source) => {
                                source.innerHTML = data.match;
                            },
                            element: "div"
                        },
                        noResults: () => {
                            const result = document.createElement("li");
                            result.setAttribute("class", "autoComplete_result text-danger");
                            result.setAttribute("tabindex", "1");
                            result.innerHTML = "No search results. Click field help for more information.";
                            if (document.querySelector("#{{componentId}}-{{sectionId}}-specification_list")) {
                                $("#{{componentId}}-{{sectionId}}-specification_list").empty().append(result);
                            } else {
                                $("#{{componentId}}-{{sectionId}}-specification").parent(".form-group").append(
                                    '<div id="{{componentId}}-{{sectionId}}-specification_list" class="autoComplete_results"></div>'
                                );
                                document.querySelector("#{{componentId}}-{{sectionId}}-specification_list").appendChild(result);
                            }
                        },
                        onSelection: feedback => {
                            $('#{{componentId}}-{{sectionId}}-specification_id').val(feedback.selection.value.id);
                            $('#{{componentId}}-{{sectionId}}-specification_id').attr('value', feedback.selection.value.id);
                            $('#{{componentId}}-{{sectionId}}-specification').val(feedback.selection.value.name);
                            $('#{{componentId}}-{{sectionId}}-specification').attr('value', feedback.selection.value.name);
                            $('#{{componentId}}-{{sectionId}}-specification').blur();
                            $('#{{componentId}}-{{sectionId}}-specification_value').attr('disabled', false);
                        }
                    });

                // On delete/Change
                $('#{{componentId}}-{{sectionId}}-specification').on('input propertychange', function() {
                    $('#{{componentId}}-{{sectionId}}-specification_id').val(0);
                    $('#{{componentId}}-{{sectionId}}-specification_id').attr('value', 0);
                    if ($('#{{componentId}}-{{sectionId}}-specification').val() !== '') {
                        $('#{{componentId}}-{{sectionId}}-specification_value').attr('disabled', false);
                    } else {
                        $('#{{componentId}}-{{sectionId}}-specification_value').attr('disabled', true);
                    }
                });

                $('#{{componentId}}-{{sectionId}}-specification').focusout(function() {
                    $('#{{componentId}}-{{sectionId}}-specification_list').children('li').remove();
                });
            }
        },
        '{{componentId}}-{{sectionId}}-specification_value'         : {
            afterInit: function() {
                $('#{{componentId}}-{{sectionId}}-specification_value').keyup(function() {
                    if ($('#{{componentId}}-{{sectionId}}-specification_value').val() !== '') {
                        $('#{{componentId}}-{{sectionId}}-add-specification, #{{componentId}}-{{sectionId}}-cancel-specification').attr('disabled', false);
                    } else {
                        $('#{{componentId}}-{{sectionId}}-add-specification, #{{componentId}}-{{sectionId}}-cancel-specification').attr('disabled', true);
                    }
                });
            }
        },
        '{{componentId}}-{{sectionId}}-specifications'              : {
            afterInit : function () {
                dataCollectionSection["data"]["specifications"] = { };

                var edit = false;

                function initMainButtons() {
                    $("#{{componentId}}-{{sectionId}}-cancel-specification").off();
                    $("#{{componentId}}-{{sectionId}}-cancel-specification").click(function(e) {
                        e.preventDefault();
                        $(".specificationEditButton, .specificationDeleteButton").attr("disabled", false);
                        resetFields();
                    });

                    $("#{{componentId}}-{{sectionId}}-add-specification").off();
                    $("#{{componentId}}-{{sectionId}}-add-specification").click(function(e) {
                        e.preventDefault();
                        $(".specificationEditButton, .specificationDeleteButton").attr("disabled", false);
                        extractData();
                    });
                }
                initMainButtons();

                function resetFields() {
                    $("#{{componentId}}-{{sectionId}}-specification_group_id").val(0);
                    $("#{{componentId}}-{{sectionId}}-specification_group").val('');
                    $("#{{componentId}}-{{sectionId}}-specification_group").attr('disabled', false);
                    $("#{{componentId}}-{{sectionId}}-specification_id").val(0);
                    $("#{{componentId}}-{{sectionId}}-specification").val('');
                    $("#{{componentId}}-{{sectionId}}-specification").attr('disabled', true);
                    $("#{{componentId}}-{{sectionId}}-specification_value").val('');
                    $("#{{componentId}}-{{sectionId}}-specification_value").attr('disabled', true);
                    $('#{{componentId}}-{{sectionId}}-add-specification, #{{componentId}}-{{sectionId}}-cancel-specification').attr('disabled', true);
                    edit = false;
                }

                function toggleSpecificationFields() {
                    $("#{{componentId}}-{{sectionId}}-specification_group").attr('disabled', true);
                    $("#{{componentId}}-{{sectionId}}-specification").attr('disabled', true);
                    $("#{{componentId}}-{{sectionId}}-specification_value").attr('disabled', false);
                    $('#{{componentId}}-{{sectionId}}-add-specification, #{{componentId}}-{{sectionId}}-cancel-specification').attr('disabled', false);
                }

                function extractData() {
                    var specificationGroupId, specificationGroupName, specificationId, specificationName, specificationValue;
                    var found = false;
                    var newSpecificationGroup = 0;
                    var newSpecification = 0;

                    specificationGroupId = $("#{{componentId}}-{{sectionId}}-specification_group_id").val();
                    specificationGroupName = $("#{{componentId}}-{{sectionId}}-specification_group").val();
                    if (specificationGroupId == 0) {
                        specificationGroupId = BazHelpers.md5(specificationGroupName);
                        newSpecificationGroup = 1;
                    }
                    specificationId = $("#{{componentId}}-{{sectionId}}-specification_id").val();
                    specificationName = $("#{{componentId}}-{{sectionId}}-specification").val();
                    if (specificationId == 0) {
                        specificationId = BazHelpers.md5(specificationName);
                        newSpecification = 1;
                    }
                    specificationValue = $("#{{componentId}}-{{sectionId}}-specification_value").val();

                    if ($("#{{componentId}}-{{sectionId}}-specifications-" + specificationGroupId).length === 0) {
                        $("#{{componentId}}-{{sectionId}}-specifications").append(
                            '<div class="form-group mb-0">' +
                                '<label class="text-uppercase">' + specificationGroupName + ' Specifications</label>' +
                                '<div data-bazpostoncreate="false" data-bazpostonupdate="false"' +
                                ' data-bazscantype="html" class="" id="{{componentId}}-{{sectionId}}-specifications-' + specificationGroupId + '">' +
                                '</div>' +
                            '</div>' +
                            '<ul class="list-group list-group-sortable" data-newSpecificationGroup="' + newSpecificationGroup + '" data-listspecificationsgroupid="' + specificationGroupId + '" data-listspecificationsgroupname="' + specificationGroupName + '" id="{{componentId}}-{{sectionId}}-sortable-specifications-' + specificationGroupId + '"></ul><hr>'
                        );
                        initSortable('{{componentId}}-{{sectionId}}-sortable-specifications-' + specificationGroupId, specificationGroupId);
                    }

                    var html =
                        '<dl class="row mb-0">' +
                            '<dt class="text-uppercase mb-0 col-sm-4 cla-specification">' + specificationName + '</dt>' +
                            '<dd class="text-uppercase mb-0 col-sm-8 cla-specification-value">' + specificationValue + '</dd>' +
                        '</dl>';

                    if ($("#{{componentId}}-{{sectionId}}-sortable-specifications-" + specificationGroupId).length > 0) {
                        if ($("#{{componentId}}-{{sectionId}}-sortable-specifications-" + specificationGroupId + " li").length > 0) {
                            $("#{{componentId}}-{{sectionId}}-sortable-specifications-" + specificationGroupId + " li").each(function(index, li) {
                                if (specificationId == $(li).data('specification-id')) {
                                    found = true;
                                }
                            });
                        }

                        if (found) {
                            if (!edit) {
                                PNotify.error({title: 'Specification already assigned to product'});
                                resetFields();
                                collectData();
                                registerSpecificationButtons();
                                return;
                            }
                        }

                        var list =
                            '<li class="list-group-item list-group-item-primary" area-disabled="false" style="cursor: pointer" ' +
                                'data-newSpecification="' + newSpecification + '" ' +
                                'data-listspecificationsgroupid="' + specificationGroupId + '" ' +
                                'data-listspecificationsgroupname="' + specificationGroupName + '" data-specification-id="' + specificationId + '">' +
                                '<div class="row">' +
                                    '<div class="col">' +
                                        '<i class="fa fa-sort fa-fw handle"></i>' +
                                    '</div>' +
                                    '<div class="col">' +
                                        '<button data-sort-id="" type="button" class="btn btn-xs btn-danger float-right ml-1 specificationDeleteButton">' +
                                            '<i class="fa fas fa-fw text-xs fa-trash"></i>' +
                                        '</button>' +
                                        '<button data-sort-id="" type="button" class="btn btn-xs btn-primary float-right ml-1 specificationEditButton">' +
                                            '<i class="fa fas fa-fw text-xs fa-edit"></i>' +
                                        '</button>' +
                                    '</div>' +
                                '</div>' +
                                '<div class="row">' +
                                    '<div class="col list-group-item-data">' +
                                        html +
                                    '</div>' +
                                '</div>' +
                            '</li>';

                        if (!edit) {
                            $("#{{componentId}}-{{sectionId}}-sortable-specifications-" + specificationGroupId).append(list);
                        } else {
                            $($("#{{componentId}}-{{sectionId}}-sortable-specifications-" + specificationGroupId)
                                .find('[data-specification-id="' + specificationId + '"'))
                                .find('.list-group-item-data').empty().append(html);
                        }
                    }

                    resetFields();
                    collectData();
                    registerSpecificationButtons();
                }

                function collectData() {
                    var specificationGroupId, specificationGroupName, specificationId, specificationName, specificationValue;
                    var newSpecificationGroup, newSpecification;

                    dataCollectionSection["data"]["specifications"] = { };

                    var data = dataCollectionSection["data"]["specifications"];

                    $(".specifications ul").each(function(index, ul) {
                        specificationGroupId = $(ul).data('listspecificationsgroupid');
                        specificationGroupName = $(ul).data('listspecificationsgroupname');
                        newSpecificationGroup = $(ul).data('newspecificationgroup');

                        data[specificationGroupId] = { };
                        data[specificationGroupId]["specifications"] = { };
                        data[specificationGroupId]["group_id"] = specificationGroupId;
                        data[specificationGroupId]["group"] = specificationGroupName;
                        data[specificationGroupId]["new"] = newSpecificationGroup;

                        $("#{{componentId}}-{{sectionId}}-sortable-specifications-" + specificationGroupId + " li").each(function(index, li) {
                            specificationId = $(li).data('specification-id');
                            specificationName = $($(li).children(".row")[1]).find('dt')[0].innerHTML;
                            specificationValue = $($(li).children(".row")[1]).find('dd')[0].innerHTML;
                            newSpecification = $(li).data('newspecification');

                            data[specificationGroupId]['specifications'][specificationId] = { };
                            data[specificationGroupId]['specifications'][specificationId]["specification_id"] = specificationId;
                            data[specificationGroupId]['specifications'][specificationId]["specification"] = specificationName;
                            data[specificationGroupId]['specifications'][specificationId]["specification_value"] = specificationValue;
                            data[specificationGroupId]['specifications'][specificationId]["new"] = newSpecification;
                        });

                        $(dataCollectionSection["{{componentId}}-{{sectionId}}-form"]["sortable"][specificationGroupId].toArray()).each(function(index, specId) {
                            data[specificationGroupId]['specifications'][specId]['sort'] = index + 1;
                        });
                    });
                }

                function registerSpecificationButtons() {
                    $(".specificationEditButton").each(function(index, button) {
                        $(button).off();
                        $(button).click(function() {
                            edit = true;
                            $(this).attr("disabled", true);
                            $(this).siblings(".specificationDeleteButton").attr("disabled", true);

                            $("#{{componentId}}-{{sectionId}}-specification_group_id")
                                .val($(this).parents("li").data('listspecificationsgroupid'));
                            $("#{{componentId}}-{{sectionId}}-specification_group")
                                .val($(this).parents("li").data('listspecificationsgroupname'));

                            $("#{{componentId}}-{{sectionId}}-specification_id")
                                .val($(this).parents("li").data('specification-id'));
                            $("#{{componentId}}-{{sectionId}}-specification")
                                .val($($(this).parents("li").children(".row")[1]).find('dt')[0].innerHTML);

                            $("#{{componentId}}-{{sectionId}}-specification_value")
                                .val($($(this).parents("li").children(".row")[1]).find('dd')[0].innerHTML);
                            toggleSpecificationFields();
                        });
                    });

                    $(".specificationDeleteButton").each(function(index, button) {
                        $(button).off();
                        $(button).click(function() {
                            var ul = $(this).parents('ul');

                            $(this).parents("li").remove();

                            if ($(ul).find('li').length === 0) {
                                $(ul).siblings(".form-group")[0].remove();
                                $(ul).remove();
                            }

                            collectData();
                        });
                    });
                }

                function initSortable(element, id) {
                    var el = document.getElementById(element);
                    if (!dataCollectionSection["{{componentId}}-{{sectionId}}-form"]["sortable"]) {
                        dataCollectionSection["{{componentId}}-{{sectionId}}-form"]["sortable"] = { };
                    }
                    if (!dataCollectionSection["{{componentId}}-{{sectionId}}-form"]["sortable"][id]) {
                        dataCollectionSection["{{componentId}}-{{sectionId}}-form"]["sortable"][id] = { };
                    }

                    dataCollectionSection["{{componentId}}-{{sectionId}}-form"]["sortable"][id] = Sortable.create(el, {
                        dataIdAttr : "data-specification-id",
                        onEnd: function(e) {
                            collectData();
                        }
                    });
                }

                if ($('.specifications ul').length > 0) {
                    $('.specifications ul').each(function(index, ul) {
                        initSortable(
                            '{{componentId}}-{{sectionId}}-sortable-specifications-' + $(ul).data('listspecificationsgroupid'),
                            $(ul).data('listspecificationsgroupid')
                        );
                    });
                }

                collectData();
                registerSpecificationButtons();
            }
        }
    });
</script>