public/.htaccess
*.sublime-project
*.sublime-workspace
/vendor/*
.backups
.downloads
composer.json
composer.lock
var/*
*html_compiled
.vscode*
linter-backup*
public/Tms/*
applications/Tms/*
public/Mee/*
applications/Mee/*
public/Dash/*
applications/Dash/*
public/Webshop/*
applications/Webshop/*
public/Eshop/*
applications/Eshop/*