public/1/*
public/2/*
private/*
*.sublime-project
*.sublime-workspace
/vendor/*
.backup*
.dbbackups
.downloads
composer.lock
var/*
*Html_compiled*
.vscode*
linter-backup*
repos/*
external/vendor/*
external/cache/*
external/base.lock
ignore/*
composer.json
apps/Dash/Packages/System/Api/CallStats/*
system/.keys
system/.dbkeys
composer
!external/composer
!external/composer.json
apps/*
!apps/Core/
.ff/*
.sql/*
system/Base/Providers/BasepackagesServiceProvider/Packages/Geo/Data/*
.pki