
{# {% set dtParams['dtRowControls'] = false %}
{% set rowsData = [] %}
{% for rowId, columns in dtParams['rows'] %}
    {% set rowData = [] %}
    {% for columnKey, column in columns %}
        {% if dtParams['dtReplaceColumns'] %}
            {% for replaceColumnKey, replaceColumn in dtParams['dtReplaceColumns'] %}
                {% if replaceColumnKey == columnKey %}
                    {% for replaceValueKey, replaceValue in replaceColumn %}
                        {% if replaceValueKey == 'customSwitch' %}
                            {% if column == 1 %}
                                {% set checked = 'checked' %}
                            {% endif %}
                            {% if replaceValue.0.switchType and replaceValue.1.switchType %}
                                {% set offSwitchType = 'custom-switch-off-' ~ replaceValue.0.switchType %}
                                {% set onSwitchType = 'custom-switch-on-' ~ replaceValue.1.switchType %}
                            {% endif %}
                            {% set customswitch =
                                '<div class="form-group">' ~
                                    '<div class="custom-control custom-switch ' ~ offSwitchType ~ ' ' ~ onSwitchType ~ '">
                                        <input type="checkbox" class="custom-control-input" id="' ~ componentId ~ '-sections-list-datatable-' ~ columnKey ~ '-' ~ rowId ~ '" data-switchactionurl="' ~ replaceValue.actionUrl ~ '" data-switchactionincludecolumnsdata="' ~ replaceValue.actionIncludeColumnsData ~ '" data-notificationtextfromcolumn="' ~ dtParams['dtNotificationTextFromColumn']|default('name') ~ '" data-columnid="' ~ columnKey ~ '" ' ~ checked ~ '>
                                        <label class="custom-control-label" for="' ~ componentId ~ '-sections-list-datatable-' ~ columnKey ~ '-' ~ rowId ~ '"></label>
                                    </div>
                                </div>' %}
                            {% set column = customswitch %}
                        {% elseif replaceValueKey == 'radioButtons' %}
                            {% set radiobuttons =
                                '<div class="btn-group btn-group-toggle" data-toggle="buttons" role="group" aria-label="' ~ columnKey ~ ' group">' %}
                            {% for valueKey, value in replaceValue %}
                                {% if value is iterable %}
                                    {% if valueKey == column %}
                                        {% set focusActive = 'focus active' %}
                                        {% set checked = 'checked' %}
                                    {% else %}
                                        {% set focusActive = '' %}
                                        {% set checked = '' %}
                                    {% endif %}
                                    {% set radiobuttons = radiobuttons ~
                                        '<label class="btn btn-' ~ value.buttonSize|default('xs') ~ ' btn-outline-' ~ value.buttonType|default('primary') ~ ' ' ~ focusActive ~ '" style="cursor: pointer;">
                                        <input type="radio" name="' ~ columnKey ~ '-options" id="' ~ componentId ~ '-sections-list-datatable-' ~ columnKey ~ '-' ~ rowId ~ '-' ~ valueKey ~ '" autocomplete="off" ' ~ checked ~ ' data-radiobuttonsactionurl="' ~ replaceValue.actionUrl ~ '" data-radiobuttonsactionincludecolumnsdata="' ~ replaceValue.actionIncludeColumnsData ~ '" data-notificationtextfromcolumn="' ~ dtParams['dtNotificationTextFromColumn']|default('name') ~ '" data-columnid="' ~ columnKey ~ '" data-value="' ~ valueKey ~ '">' ~ value.buttonTitle|raw ~ '</label>' %}
                                {% endif %}
                            {% endfor %}
                            {% set radiobuttons = radiobuttons ~ '</div>' %}
                            {% set column = radiobuttons %}
                        {% elseif replaceValueKey == 'html' %}
                            {% for valueKey, value in replaceValue %}
                                {% if valueKey == column %}
                                    {% set column = value %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if columnKey == '__control' %}
            {% set controlbuttons = '' %}
            {% set controlButtons = [] %}
            {% for controlKey, control in column %}
                {% if controlKey == 'view' %}
                    {% set controlButtons = controlButtons|merge({
                        {controlKey} : {
                            'title'             : 'VIEW',
                            'additionalClass'   : 'rowView ' ~ dtParams['dtControlsLinkClass']|default('contentAjaxLink'),
                            'icon'              : 'eye',
                            'buttonType'        : 'info',
                            'link'              : control
                        }
                    }) %}
                {% elseif controlKey == 'edit' or controlKey == 'update' %}
                    {% set controlButtons = controlButtons|merge({
                        {controlKey} : {
                            'title'             : 'EDIT',
                            'additionalClass'   : 'rowEdit ' ~ dtParams['dtControlsLinkClass']|default('contentAjaxLink'),
                            'icon'              : 'edit',
                            'buttonType'        : 'warning',
                            'link'              : control
                        }
                    }) %}
                {% elseif controlKey == 'remove' or controlKey == 'delete' %}
                    {% set controlButtons = controlButtons|merge({
                        {controlKey} : {
                            'title'             : 'REMOVE',
                            'additionalClass'   : 'rowRemove',
                            'icon'              : 'trash',
                            'buttonType'        : 'danger',
                            'link'              : control
                        }
                    }) %}
                {% else %}
                    {% set controlButtons = controlButtons|merge({
                        'divider'   : '<div class="dropdown-divider"></div>'
                    }) %}
                    {% for additionControlButtonKey, additionControlButton in dtParams['dtAdditionControlButtons'] %}
                        {% if additionControlButtonKey == controlKey %}
                            {% set controlButtons = controlButtons|merge({
                                {controlKey} : {
                                    'title'             : additionControlButton['title']|default('MISSING TITLE'),
                                    'additionalClass'   : additionControlButton['additionalClass']|default('contentAjaxLink'),
                                    'icon'              : additionControlButton['icon']|default('circle'),
                                    'buttonType'        : additionControlButton['buttonType']|default('primary'),
                                    'link'              : control
                                }
                            }) %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            {% if controlButtons|length === 1 %}
                {% for controlButtonKey, controlButton in controlButtons %}
                    {% set controlbuttons = controlbuttons ~ '<a href="' ~ link(controlButton.link) ~ '" id="' ~ componentId ~ '-' ~ controlButtonKey ~ '-' ~ columnKey ~ '-' ~ rowId ~ '" type="button" data-id="' ~ columns.id ~ '" data-rowid="' ~ rowId ~ '" class="ml-1 mr-1 pl-2 pr-2 text-white btn btn-' ~ controlButton.buttonType ~ ' btn-xs ' ~ controlButton.additionalClass ~ '" data-notificationtextfromcolumn="' ~ dtParams['dtNotificationTextFromColumn']|default('name') ~ '"><i class="mr-1 fas fa-fw fa-xs fa-' ~ controlButton.icon ~ '"></i>' ~ controlButton.title|upper ~ '</a>' %}
                {% endfor %}
            {% elseif controlButtons|length > 1 %}
                {% for controlButtonKey, controlButton in controlButtons %}
                    {% if loop.first %}
                        {% set controlbuttons = controlbuttons ~
                        '<div class="btn-group"><a href="' ~ link(controlButton.link) ~ '" id="' ~ componentId ~ '-' ~ controlButtonKey ~ '-' ~ columnKey ~ '-' ~ rowId ~ '" type="button" data-id="' ~ columns.id ~ '" data-rowid="' ~ rowId ~ '" class="pl-2 pr-2 text-white btn btn-' ~ controlButton.buttonType ~ ' btn-xs ' ~ controlButton.additionalClass ~ '" data-notificationtextfromcolumn="' ~ dtParams['dtNotificationTextFromColumn']|default('name') ~ '"><i class="mr-1 fas fa-fw fa-xs fa-' ~ controlButton.icon ~ '"></i> ' ~ controlButton.title|upper ~ '</a><button type="button" class="pl-2 pr-2 btn btn-default btn-xs dropdown-toggle dropdown-icon" data-toggle="dropdown"><span class="sr-only">Toggle Dropdown</span><div class="dropdown-menu dropdown-menu-right" role="menu">' %}
                    {% else %}
                        {% if controlButtonKey === 'divider' %}
                            {% set controlbuttons = controlbuttons ~ controlButton %}
                        {% else %}
                            {% set controlbuttons = controlbuttons ~ '<a href="' ~ link(controlButton.link) ~ '" id="' ~ componentId ~ '-' ~ controlButtonKey ~ '-' ~ columnKey ~ '-' ~ rowId ~ '" data-id="' ~ columns.id ~ '" data-rowid="' ~ rowId ~ '" class="dropdown-item text-' ~ controlButton.buttonType ~ ' ' ~ controlButton.additionalClass ~ '" data-notificationtextfromcolumn="' ~ dtParams['dtNotificationTextFromColumn']|default('name') ~ '"><i class="mr-1 fas fa-fw fa-xs fa-' ~ controlButton.icon ~ '"></i> ' ~ controlButton.title|upper ~ '</a>' %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                    {% set controlbuttons = controlbuttons ~ '</div></button></div>' %}
            {% endif %}
            {% set column = controlbuttons %}
            {% set dtParams['dtRowControls'] = true %}
        {% endif %}
        {% set rowData = rowData|merge({(columnKey): column}) %}
    {% endfor %}
    {% set rowsData = rowsData|merge([rowData]) %}
{% endfor %}
<script>
window['dataCollection']['{{dtParams["componentId"]}}']['{{dtParams["componentId"]}}-{{dtParams["sectionId"]}}']['{{dtParams["componentId"]}}-{{dtParams["sectionId"]}}-table']['listOptions']['datatable'] =
    $.extend(window['dataCollection']['{{dtParams["componentId"]}}']['{{dtParams["componentId"]}}-{{dtParams["sectionId"]}}']['{{dtParams["componentId"]}}-{{dtParams["sectionId"]}}-table']['listOptions']['datatable'], {
        'data'                              : '{{dtParams["rowsData"]}}',
        'pagination'                        : '{{dtParams["pagination"]}}',//Received from Controller
        'rowControls'                       : '{{dtParams["dtRowControls"]}}',
        'replaceColumns'                    : '{{dtParams["ReplaceColumns"]}}'
    });
</script> #}
