
{% if settings['cache']['enabled'] == 'true' %}
    {% set cacheChecked = 'checked' %}
{% endif %}
<div class="row p-2">
    <div class="col border-right">
        <legend>Cache</legend>
        <div class="row">
            <div class="form-group col">
                <label for="cache-enabled">Cache Enabled?</label>
                <div class="checkbox icheck-success">
                    <input type="checkbox" name="cache-enabled" id="cache-enabled" {{cacheChecked|default('')}}>
                    <label for="cache-enabled"></label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col">
                <label for="cache-timeout">Cache Timeout</label>
                <input type="number" class="form-control" id="cache-timeout" placeholder="Timeout in seconds" value="{{settings['cache']['timeout']|default('3600')}}">
            </div>
            <div class="col form-group">
                <label for="cache-service">Cache Service</label>
                <select class="custom-select" id="cache-service" disabled>
                    <option value="0">Select Cache Service</option>
                    <option value="streamCache" selected>Stream Cache</option>
                    {# {% for service in services %}
                        {% if service['service'] == settings['service'] %}
                            <option value="{{service['service']}}" selected>{{service['service']}}</option>
                        {% else %}
                            <option value="{{service['service']}}">{{service['service']}}</option>
                        {% endif %}
                    {% endfor %} #}
                </select>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="form-group col">
                <button type="button" id="cache-clear" class="btn btn-block btn-danger btn-lg"><i class="fa fa-fas fa-fw fa-trash"></i> Clear Cache</button>
            </div>
        </div>
    </div>
</div>
