{% if module['new'] is defined and module['new'] === true %}
<div class="ribbon-wrapper ribbon-sm">
    <div class="ribbon bg-success">
        New
    </div>
</div>
{% endif %}
<div class="row">
    <div class="col-md-4">
        <p class="card-text">Name:</p>
    </div>
    <div class="col">
        <p class="card-text">{{module['name']}}</p>
    </div>
</div>
{% if module['name'] !== 'Core' %}
<div class="row">
    <div class="col-md-4">
        <p class="card-text">Category:</p>
    </div>
    <div class="col">
        <p class="card-text">{{ucfirst(module['category'])}}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p class="card-text">Sub-Category:</p>
    </div>
    <div class="col">
        <p class="card-text">{{ucfirst(module['sub_category'])}}</p>
    </div>
</div>
{% endif %}
<div class="row">
    <div class="col-md-4">
        <p class="card-text">Version:</p>
    </div>
    <div class="col">
        {% if module['update_available'] == true %}
            <span class="badge badge-secondary">{{module['version']}}</span>
            <span class="badge badge-info">(Update Available: {{module['update_version']}})</span>
        {% else %}
            <span class="badge badge-secondary">{{module['version']}}</span>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p class="card-text">Description:</p>
    </div>
    <div class="col">
        <p class="card-text text-truncate">{{module['description']}}</p>
    </div>
</div>
{% if module['dependencies'] is defined %}
    <div class="row">
        <div class="col-md-4">
            <p class="card-text">Dependencies:</p>
        </div>
        <div class="col text-truncate">
        {% for dependenciesKey, dependencies in module['dependencies'] %}
            {% if dependenciesKey == 'core' %}
                <span class="font-weight-bold">{{dependenciesKey|capitalize}} : </span>
                <span>{{dependencies['name']}} ({{dependencies['version']}})</span>
            {% else %}
                {% if dependencies|length > 0 %}
                    <span class="font-weight-bold">{{dependenciesKey|capitalize}} : </span>
                    {% for dependencyKey, dependency in dependencies %}
                        <span>{{dependency['name']}} ({{dependency['version']}})</span>
                    {% endfor %}
                {% endif %}
            {% endif %}
        {% endfor %}
        </div>
    </div>
{% endif %}