{% if account['id'] is defined %}
    {% if auth.account()['id'] === account['id'] %}
        {% set emailCheck = true %}
    {% else %}
        {% set emailCheck = false %}
    {% endif %}
{% endif %}

<div class="row">
    <div class="col">
        {{adminltetags.useTag('fields',
            [
                'component'                      : component,
                'componentName'                  : componentName,
                'componentId'                    : componentId,
                'sectionId'                      : sectionId,
                'fieldId'                        : 'email_new_password',
                'fieldLabel'                     : 'Email New Password',
                'fieldHelp'                      : true,
                'fieldHelpTooltipContent'        : 'Email New Password to this account.<br>NOTE: Email Settings must be configured and attached to the domain for this option to work.',
                'fieldRequired'                  : false,
                'fieldType'                      : 'checkbox',
                'fieldCheckboxType'              : 'info',
                'fieldCheckboxLabel'             : '',
                'fieldCheckboxAdditionClass'     : 'text-sm text-uppercase',
                'fieldDisabled'                  : emailCheck,
                'fieldBazPostOnCreate'           : true,
                'fieldBazPostOnUpdate'           : true,
                'fieldBazScan'                   : true
            ]
        )}}
    </div>
    <div class="col">
        {% if account['force_pwreset'] is defined %}
            {% if account['force_pwreset'] == 1 %}
                {% set reset_checked = true %}
            {% else %}
                {% set reset_checked = false %}
            {% endif %}
        {% else %}
            {% set reset_checked = false %}
        {% endif %}
        {{adminltetags.useTag('fields',
            [
                'component'                      : component,
                'componentName'                  : componentName,
                'componentId'                    : componentId,
                'sectionId'                      : sectionId,
                'fieldId'                        : 'force_pwreset',
                'fieldLabel'                     : 'Force Change Password',
                'fieldHelp'                      : true,
                'fieldHelpTooltipContent'        : 'Force use to change password at next login.',
                'fieldRequired'                  : false,
                'fieldType'                      : 'checkbox',
                'fieldCheckboxType'              : 'info',
                'fieldCheckboxLabel'             : '',
                'fieldCheckboxAdditionClass'     : 'text-sm text-uppercase',
                'fieldBazPostOnCreate'           : true,
                'fieldBazPostOnUpdate'           : true,
                'fieldBazScan'                   : true,
                'fieldCheckboxChecked'           : reset_checked
            ]
        )}}
    </div>
    {% if account['id'] is defined %}
        <div class="col">
            {{adminltetags.useTag('fields',
                [
                    'component'                      : component,
                    'componentName'                  : componentName,
                    'componentId'                    : componentId,
                    'sectionId'                      : sectionId,
                    'fieldId'                        : 'force_logout',
                    'fieldLabel'                     : 'Force logout',
                    'fieldHelp'                      : true,
                    'fieldHelpTooltipContent'        : 'Destroys all account sessions.',
                    'fieldRequired'                  : false,
                    'fieldType'                      : 'checkbox',
                    'fieldCheckboxType'              : 'danger',
                    'fieldCheckboxLabel'             : '',
                    'fieldCheckboxAdditionClass'     : 'text-sm text-uppercase',
                    'fieldBazPostOnCreate'           : true,
                    'fieldBazPostOnUpdate'           : true,
                    'fieldBazScan'                   : true
                ]
            )}}
        </div>
        {% if account['two_fa_status'] !== null and account['two_fa_status'] !== 0 %}
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'disable_two_fa',
                        'fieldLabel'                     : 'Disable 2FA',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'Disable Two Factor Authentication. Note: Will force logout user.',
                        'fieldRequired'                  : false,
                        'fieldType'                      : 'checkbox',
                        'fieldCheckboxType'              : 'danger',
                        'fieldCheckboxLabel'             : '',
                        'fieldCheckboxAdditionClass'     : 'text-sm text-uppercase',
                        'fieldBazPostOnCreate'           : true,
                        'fieldBazPostOnUpdate'           : true,
                        'fieldBazScan'                   : true
                    ]
                )}}
            </div>
        {% endif %}
    {% endif %}
</div>