<div class="row p-2">
    <div class="col">
        <input type="hidden" name="id" id="id" class="form-control" value="{{component.id}}">
        <input type="hidden" name="installed" id="installed" class="form-control" value="{{component.installed}}">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="version">Version</label>
                    <div class="input-group">
                        <input type="text" name="version" id="version" class="form-control" value="{{component.version}}" placeholder="Version" disabled="disabled">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="name">Component Name</label>
                    <div class="input-group">
                        <input type="text" name="name" id="name" class="form-control" value="{{component.name}}" placeholder="Component Name" disabled="disabled">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="display-name">Component Display Name</label>
                    <div class="input-group">
                        <input type="text" name="display-name" id="display-name" class="form-control" value="{{component.display_name}}" placeholder="Component Display Name">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="description">Description</label>
                    <div class="input-group">
                        <textarea name="description" id="description" class="form-control" placeholder="Description">{{component.description}}</textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="component-repo">Repository URL</label>
                    <div class="input-group">
                        <input type="text" name="component-repo" id="component-repo" class="form-control" placeholder="Eg: https://api.github.com/orgs/h-w-f/component-repo" value="{{component.repo}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>