<ul class="nav nav-tabs" id="core-settings-tab" role="tablist">
	<li class="nav-item" role="presentation">
		<a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true">General</a>
	</li>
	<li class="nav-item" role="presentation">
		<a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Settings</a>
	</li>
</ul>
<div class="tab-content" id="core-settings-tab-content">
	<div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
		{% include 'settings/core/general.html' %}
	</div>
	<div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
		{% include 'settings/core/settings.html' %}
	</div>
</div>