coreSettings['security']['passwordPolicySettings']['passwordPolicySimpleAcceptableLevel']
<div class="row">
    <div class="col">
        {{adminltetags.useTag('fields',
            [
                'component'                             : component,
                'componentName'                         : componentName,
                'componentId'                           : componentId,
                'sectionId'                             : sectionId,
                'fieldId'                               : 'pwreset-simple',
                'fieldLabel'                            : 'Password Reset',
                'fieldLabelLegend'                      : true,
                'fieldHidden'                           : false,
                'fieldType'                             : 'html',
                'fieldBazScan'                          : false,
                'fieldBazPostOnCreate'                  : false,
                'fieldBazPostOnUpdate'                  : false,
                'fieldBazJstreeSearch'                  : true,
                'fieldHtmlContent'                      : ''
            ]
        )}}
    </div>
</div>
<div class="row">
    <div class="col">
        {{adminltetags.useTag('fields',
            [
                'component'                             : component,
                'componentName'                         : componentName,
                'componentId'                           : componentId,
                'sectionId'                             : sectionId,
                'fieldId'                               : 'current_password',
                'fieldLabel'                            : 'Current Password',
                'fieldHidden'                           : false,
                'fieldType'                             : 'input',
                'fieldInputType'                        : 'password',
                'fieldInputPasswordToggleVisibility'    : true,
                'fieldRequired'                         : true,
                'fieldBazScan'                          : true,
                'fieldBazPostOnCreate'                  : false,
                'fieldBazPostOnUpdate'                  : false
            ]
        )}}
    </div>
    <div class="col">
        {{adminltetags.useTag('fields',
            [
                'component'                             : component,
                'componentName'                         : componentName,
                'componentId'                           : componentId,
                'sectionId'                             : sectionId,
                'fieldId'                               : 'new_password',
                'fieldLabel'                            : 'New Password',
                'fieldHidden'                           : false,
                'fieldType'                             : 'input',
                'fieldInputType'                        : 'password',
                'fieldInputPasswordToggleVisibility'    : true,
                'fieldInputPasswordGenerate'            : true,
                'fieldInputPasswordStrengthMeter'       : true,
                'fieldRequired'                         : true,
                'fieldBazScan'                          : true,
                'fieldBazPostOnCreate'                  : false,
                'fieldBazPostOnUpdate'                  : false,
                'fieldAdditionalClass'                  : 'mb-0'
            ]
        )}}
    </div>
    <div class="col">
        {{adminltetags.useTag('fields',
            [
                'component'                             : component,
                'componentName'                         : componentName,
                'componentId'                           : componentId,
                'sectionId'                             : sectionId,
                'fieldId'                               : 'confirm_password',
                'fieldLabel'                            : 'Confirm Password',
                'fieldHidden'                           : false,
                'fieldType'                             : 'input',
                'fieldInputType'                        : 'password',
                'fieldInputPasswordToggleVisibility'    : true,
                'fieldBazScan'                          : true,
                'fieldRequired'                         : true,
                'fieldBazPostOnCreate'                  : false,
                'fieldBazPostOnUpdate'                  : false
            ]
        )}}
    </div>
</div>
{% if coreSettings['security']['passwordPolicySettings']['passwordPolicyPwresetNeed2fa'] is defined and coreSettings['security']['passwordPolicySettings']['passwordPolicyPwresetNeed2fa'] == 'true' and canUse2fa is defined and canUse2fa === true %}
    {% include 'profile/form/security/pwreset2fa.html' %}
{% endif %}