{% set status = 4 %}
{% set mute = false %}
{% set unmute = true %}
{% set messengerSettings = basepackages.profile.getMessengerSettings() %}
{% if messengerSettings %}
    {% if messengerSettings['status'] is defined %}
        {% set status = messengerSettings['status'] %}
    {% endif %}
    {% if messengerSettings['mute'] is defined %}
        {% if messengerSettings['mute'] == true %}
            {% set mute = true %}
            {% set unmute = false %}
        {% endif %}
    {% endif %}
{% endif %}
{% set statuses =
    [
        [
            'id'    : '1',
            'name'  : 'Active'
        ],
        [
            'id'    : '2',
            'name'  : 'Away'
        ],
        [
            'id'    : '3',
            'name'  : 'Busy'
        ],
        [
            'id'    : '4',
            'name'  : 'Offline'
        ]
    ]
%}
<aside class="p-3 control-sidebar control-sidebar-light">
    <div id="messenger-offline" class="text-danger text-center">
        Messenger Service Offline!
    </div>
    <div id="messenger-online" hidden>
        <div class="row">
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                         : 'component',
                        'componentName'                     : 'Messenger',
                        'componentId'                       : 'messenger',
                        'sectionId'                         : 'main',
                        'parentComponentId'                 : 'messenger',
                        'fieldId'                           : 'status',
                        'fieldLabel'                        : false,
                        'fieldType'                         : 'input',
                        'fieldAdditionalClass'              : 'mb-0',
                        'fieldGroupPostAddonButtons'        :
                            [
                                'mute'   : [
                                    'title'                   : false,
                                    'type'                    : 'warning',
                                    'icon'                    : 'comment-slash',
                                    'noMargin'                : true,
                                    'hidden'                  : mute,
                                    'buttonAdditionalClass'   : 'rounded-0',
                                    'position'                : 'right'
                                ],
                                'unmute'   : [
                                    'title'                   : false,
                                    'type'                    : 'success',
                                    'icon'                    : 'comment',
                                    'noMargin'                : true,
                                    'hidden'                  : unmute,
                                    'buttonAdditionalClass'   : 'rounded-0',
                                    'position'                : 'right'
                                ]
                            ],
                        'fieldInputType'                      : 'select',
                        'fieldHelp'                           : false,
                        'fieldDataSelectOptions'              : statuses,
                        'fieldDataSelectOptionsArray'         : true,
                        'fieldDataSelectOptionsKey'           : 'id',
                        'fieldDataSelectOptionsValue'         : 'name',
                        'fieldDataSelectOptionsSelected'      : status,
                        'fieldDataSelectOptionsZero'          : true,
                        'fieldDataSelectOptionsZeroTitle'     : 'Status'
                    ]
                )}}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                             : 'component',
                        'componentName'                         : 'Messenger',
                        'componentId'                           : 'messenger',
                        'sectionId'                             : 'main',
                        'parentComponentId'                     : 'messenger',
                        'fieldId'                               : 'search',
                        'fieldLabel'                            : false,
                        'fieldPlaceholder'                      : 'Search Users...',
                        'fieldType'                             : 'input',
                        'fieldAdditionalClass'                  : 'mb-0',
                        'fieldHelp'                             : false,
                        'fieldRequired'                         : true,
                        'fieldBazScan'                          : true,
                        'fieldBazPostOnCreate'                  : false,
                        'fieldBazPostOnUpdate'                  : false,
                        'fieldValue'                            : ''
                    ]
                )}}
            </div>
        </div>
        <hr>
        {% if messengerSettings['members']['users'] is defined and messengerSettings['members']['users']|length > 0 %}
            {% set onlineUsers = '' %}
            {% set offlineUsers = '' %}
            {% for users in messengerSettings['members']['users'] %}
                {% if users['status'] == 1 %}
                    {% set statusCircle = 'success' %}
                {% elseif users['status'] == 2 %}
                    {% set statusCircle = 'warning' %}
                {% elseif users['status'] == 3 %}
                    {% set statusCircle = 'danger' %}
                {% elseif users['status'] == 4 %}
                    {% set statusCircle = 'secondary' %}
                {% else %}
                    {% set statusCircle = 'secondary' %}
                {% endif %}
                {% if users['portrait'] is defined and users['portrait'] !== '' %}
                    {% set portraitUrl = links.url('system/storages/q/uuid/' ~ users['portrait'] ~ '/w/80') %}
                {% else %}
                    {% set portraitUrl = links.images('general/user.png') %}
                {% endif %}
                {% set userLi =
                    '<li class="nav-item" id="messenger-user-' ~ users['id'] ~ '" data-status="' ~ users['status'] ~ '" data-type="user" data-user="' ~ users['id'] ~ '" data-name="' ~ users['full_name'] ~ '" data-portrait="' ~ users['portrait'] ~ '">
                        <a id="messenger-user-' ~ users['id'] ~ '-link" class="nav-link" href="#">
                            <img id="messenger-user-' ~ users['id'] ~ '-img" src="' ~ portraitUrl ~ '" class="rounded-sm" style="position:relative;top: -3px; width:20px;" alt="User Image">
                            <i id="messenger-user-' ~ users['id'] ~ '-icon" class="fa fa-fw fa-circle text-' ~ statusCircle ~ '" style="font-size: 8px;position: absolute;top: 8px;left: 27px;"></i>
                            <div id="messenger-user-' ~ users['id'] ~ '-name" class="text-uppercase ml-1 text-truncate" style="position:relative; top: 3px;display: inline-block;width: 150px;">' ~ users['full_name'] ~ '</div>
                            <span class="badge badge-info messenger-counter-' ~ users['id'] ~ '" style="position: relative;top: -4px;">11</span>
                        </a>
                    </li>'
                %}
                {% if users['status'] != 4 %}
                    {% set onlineUsers = onlineUsers ~ userLi %}
                {% elseif users['status'] == 4 %}
                    {% set offlineUsers = offlineUsers ~ userLi %}
                {% endif %}
            {% endfor %}
        {% endif %}
        <div id="messenger-users">
            <div class="row">
                <div class="col">
                    <h6>Online</h6>
                    <ul class="nav nav-sidebar flex-column nav-flat" id="messenger-online-users">{{onlineUsers}}</ul>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <h6>Offline</h6>
                    <ul class="nav nav-sidebar flex-column nav-flat" id="messenger-offline-users">{{offlineUsers}}</ul>
                </div>
            </div>
        </div>
    {#     <div class="row">
            <div class="col">
                {% if messengerSettings['members']['groups'] is defined and messengerSettings['members']['groups']|length > 0 %}
                    <ul class="nav nav-sidebar flex-column nav-flat" id="messenger-groups">
                    {% for groups in messengerSettings['members']['groups'] %}
                        <li class="nav-item" id="messenger-user-{{users['id']}}" data-type="user" data-user="{{users['id']}}" data-name="{{users['full_name']}}" data-portrait="{{users['portrait']}}">
                            <a class="nav-link" href="{{links.url('system/messenger/q/id/' ~ users['id'])}}">
                                <img src="{{users['portrait']}}" class="rounded-sm" style="position:relative;top: -3px; width:20px;" alt="User Image">
                                <div class="text-uppercase ml-1 text-truncate" style="position:relative; top: 3px;display: inline-block;width: 150px;">{{users['full_name']}}</div>
                                <span class="badge badge-info messenger-message-counter" style="position: relative;top: -4px;">11</span>
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>    #}
    </div>
</aside>
<script>
/* globals autoComplete PNotify EmojiPicker moment */
// window.dataCollection.env.messenger = { };

// $('#messenger-main-status').change(function() {
//     var status = $('#messenger-main-status option:selected').val();

//     if (status == 0) {
//         return;
//     }
//     var url = "{{links.url('system/messenger/changestatus')}}";

//     var postData = { };
//     postData[$('#security-token').attr('name')] = $('#security-token').val();
//     postData['status'] = status;

//     $.post(url, postData, function(response) {
//         if (response.tokenKey && response.token) {
//             $('#security-token').attr('name', response.tokenKey);
//             $('#security-token').val(response.token);
//         }
//         if (response.responseCode == 0) {
//             var statusTextColor;
//             if (status == 1) {
//                 statusTextColor = 'success';
//             } else if (status == 2) {
//                 statusTextColor = 'warning';
//             } else if (status == 3) {
//                 statusTextColor = 'danger';
//             } else if (status == 4) {
//                 statusTextColor = 'secondary';
//             }

//             $('#messenger-button i').removeClass('text-success text-warning text-danger text-secondary').addClass('text-' + statusTextColor);

//             window.dataCollection.env.wsTunnel.send(JSON.stringify({"changeStatus":status}));
//         } else {
//             PNotify.error({
//                 text        : response.responseMessage,
//                 textTrusted : true
//             });
//         }
//     }, 'json');
// });


// $('body').on('libsLoadComplete', function() {
//     window.dataCollection.env.messenger.emojiPicker = new EmojiPicker({
//         emojiable_selector: '[data-emojiable=true]',
//         assetsPath: '/dash/default/images/emoji-picker/',
//         popupButtonClasses: 'fa fa-fw fa-smile',
//     });

//     $('#messenger-users li').each(function(index, li) {
//         $(li).click(function(e) {
//             e.preventDefault();
//             messengerWindow($(this).data());

//             $('#messenger-button').ControlSidebar('toggle');
//         });
//     });

//     window.dataCollection.env.messenger.search =
//         new autoComplete({
//             data: {
//                 src: async() => {
//                     const url = '{{links.url("system/messenger/searchAccount")}}';

//                     var myHeaders = new Headers();
//                     myHeaders.append("accept", "application/json");

//                     var formdata = new FormData();
//                     formdata.append("search", document.querySelector("#messenger-main-search").value);
//                     formdata.append($('#security-token').attr('name'), $('#security-token').val());

//                     var requestOptions = {
//                         method: 'POST',
//                         headers: myHeaders,
//                         body: formdata
//                     };

//                     const responseData = await fetch(url, requestOptions);

//                     const response = await responseData.json();

//                     if (response.tokenKey && response.token) {
//                         $('#security-token').attr('name', response.tokenKey);
//                         $('#security-token').val(response.token);
//                     }

//                     if (response.accounts) {
//                         return response.accounts;
//                     } else {
//                         return [];
//                     }
//                 },
//                 key: ["email"],
//                 cache: false
//             },
//             selector: "#messenger-main-search",
//             threshold : 4,
//             debounce: 500,
//             searchEngine: "strict",
//             resultsList: {
//                 render: true,
//                 container: source => {
//                     source.setAttribute("id", "messenger-main-search_list");
//                     source.setAttribute("class", "autoComplete_results");
//                 },
//                 destination: "#messenger-main-search",
//                 position: "afterend",
//                 element: "div"
//             },
//             maxResults: 5,
//             highlight: true,
//             resultItem: {
//                 content: (data, source) => {
//                     source.innerHTML = data.match;
//                 },
//                 element: "div"
//             },
//             noResults: () => {
//                 const result = document.createElement("li");
//                 result.setAttribute("class", "autoComplete_result text-danger");
//                 result.setAttribute("tabindex", "1");
//                 result.innerHTML = "No search results. Click field help for more information.";
//                 if (document.querySelector("#messenger-main-search_list")) {
//                     $("#messenger-main-search_list").empty().append(result);
//                 } else {
//                     $("#messenger-main-search").parent(".form-group").append(
//                         '<div id="messenger-main-search_list" class="autoComplete_results"></div>'
//                     );
//                     document.querySelector("#messenger-main-search_list").appendChild(result);
//                 }
//             },
//             onSelection: feedback => {
//                 $('#messenger-main-search').blur();
//                 $('#messenger-main-search').val(feedback.selection.value.email);
//                 $('#messenger-main-search').attr('value', feedback.selection.value.email);
//             }
//         });

//         // On delete
//         $('#messenger-main-search').on('input propertychange', function() {
//             if ($('#messenger-main-search').val().length === 0) {
//                 $('#messenger-main-search_list').children().remove();
//             }
//         });

//         $('#messenger-main-search').focusout(function() {
//             $('#messenger-main-search_list').children().remove();
//         });
// });

// function messengerWindow(user) {
//     if ($('#messenger-windows #messenger-window-' + user.user).length > 0) {
//         $('.messenger-input-' + user.user).focus();
//         return;
//     }

//     var currentMessengerWindows = $('.main-footer .messenger-window').length;

//     var fromLeft = 5;
//     var fromBottom = 27;

//     if (currentMessengerWindows === 0) {
//         fromLeft = 5;
//         $('.main-footer').append('<div id="messenger-windows"></div>');
//     } else {
//         fromLeft = 10 + (currentMessengerWindows * 473);
//     }

//     var cardHeader = 'secondary';
//     if (user.status == 1) {
//         cardHeader = 'success';
//     } else if (user.status == 2) {
//         cardHeader = 'warning';
//     } else if (user.status == 3) {
//         cardHeader = 'danger';
//     }

//     $('#messenger-windows').append(
//         '<div id="messenger-window-' + user.user + '" class="messenger-window" style="position: fixed;right: ' + fromLeft + 'px;bottom: 27px;">' +
//             '<div id="messenger-card-' + user.user + '" data-user="' + user.user + '" class="card card-' + cardHeader + ' rounded-0 direct-chat direct-chat-info">' +
//                 '<div class="card-header rounded-0" style="min-width: 270px;">' +
//                     '<h3 class="card-title text-truncate">' + user.name + '</h3>' +
//                     '<div class="card-tools">' +
//                         '<span class="badge badge-light mr-2 messenger-message-counter"></span>' +
//                         '<button type="button" class="btn btn-tool" data-card-widget="collapse" data-animationspeed="0">' +
//                             '<i class="fas fa-fw fa-minus"></i>' +
//                         '</button>' +
//                         '<button type="button" class="btn btn-tool" data-card-widget="remove">' +
//                             '<i class="fas fa-fw fa-times"></i>'+
//                         '</button>' +
//                     '</div>' +
//                 '</div>' +
//                 '<div class="card-body rounded-0" style="width: 473px">' +
//                     '<div id="direct-chat-messages-' + user.user + '" class="direct-chat-messages">' +
//                         '<div class="row m-2" id="messenger-loader-' + user.user + '">' +
//                         '    <div class="col">' +
//                         '        <div class="fa-2x">' +
//                         '            <i class="fa fa-cog fa-spin"></i> Loading Messages...' +
//                         '        </div>' +
//                         '    </div>' +
//                         '</div>' +
//                     '</div>' +
//                 '</div>' +
//                 '<div class="card-footer rounded-0">' +
//                     '<div class="input-group emoji-picker-container">' +
//                         '<textarea data-emojiable="true" data-emoji-input="unicode" type="text" autocomplete="off" rows="1" style="resize: none;" name="message" placeholder="Type Message ..." class="form-control messenger-input-' + user.user + '"></textarea>' +
//                         '<span class="input-group-append">' +
//                             '<button type="button" class="btn btn-primary messenger-send-' + user.user + '">' +
//                                 '<i class="fab fa-fw fa-telegram-plane"></i>'+
//                             '</button>' +
//                         '</span>' +
//                     '</div>' +
//                 '</div>' +
//             '</div>' +
//         '</div>'
//     );

//     window.dataCollection.env.messenger.emojiPicker.discover();

//     $('.messenger-input-' + user.user).focus();

//     $("#messenger-card-" + user.user).on('collapsed.lte.cardwidget', function(e) {
//         //eslint-disable-next-line
//         console.log(e);
//     });
//        $("#messenger-card-" + user.user).on('expanded.lte.cardwidget', function(e) {
//         //eslint-disable-next-line
//         console.log(e);
//     });
//     $("#messenger-card-" + user.user).on('removed.lte.cardwidget', function(e) {
//         var currentMessengerWindows = $('.main-footer .messenger-window').length;

//         if (currentMessengerWindows === 1) {
//             $(e.currentTarget).parents('#messenger-windows').remove();
//         } else {
//             $(e.currentTarget).parent().remove();
//         }
//     });

//     $('.messenger-input-' + user.user).keypress(function(e) {
//         if (e.keyCode === 13 && !e.shiftKey) {
//             e.preventDefault();

//             if ($('div.messenger-input-' + user.user).html() !== '') {
//                 var message = $('div.messenger-input-' + user.user).html();

//                 $('div.messenger-input-' + user.user).html('');

//                 sendMessage(user, message);
//             }
//         }
//     });

//     $('.messenger-send-' + user.user).click(function(e) {
//         e.preventDefault();

//         if ($('div.messenger-input-' + user.user).html() !== '') {
//             var message = $('div.messenger-input-' + user.user).html();

//             $('div.messenger-input-' + user.user).html('');

//             sendMessage(user, message);
//         }
//     });

//                         // '<div class="direct-chat-msg">'
//                         //     '<div class="direct-chat-infos clearfix">' +
//                         //         <span class="direct-chat-name float-left">Alexander Pierce</span>
//                         //         <span class="direct-chat-timestamp float-right">23 Jan 2:00 pm</span>
//                         //     </div>
//                         //     <img class="direct-chat-img" src="{{users['portrait']}}" alt="message user image">
//                         //     <div class="direct-chat-text">
//                         //         Is this template really for free? That's unbelievable!
//                         //     </div>
//                         // </div>
//                         // <div class="direct-chat-msg right">
//                         //     <div class="direct-chat-infos clearfix">
//                         //         <span class="direct-chat-name float-right">Sarah Bullock</span>
//                         //         <span class="direct-chat-timestamp float-left">23 Jan 2:05 pm</span>
//                         //     </div>
//                         //     <img class="direct-chat-img" src="{{users['portrait']}}" alt="message user image">
//                         //     <div class="direct-chat-text">
//                         //         You better believe it!
//                         //     </div>
//                         // </div>
// }

// function sendMessage(user, message) {
//     //Message needs to be validated like remove scripts tag, etc
//     //eslint-disable-next-line
//     console.log(user, message);
//     $('#messenger-loader-' + user.user).attr('hidden', true);

//     $('#direct-chat-messages-' + user.user).append(
//         '<div class="direct-chat-msg right">' +
//         '    <div class="direct-chat-infos clearfix">' +
//         '        <span class="direct-chat-name float-right">' + window.dataCollection.env.profile.fullName + '</span>' +
//         '        <span class="direct-chat-timestamp float-left">' + moment().format('MMMM Do YYYY, h:mm:ss a') + '</span>' +
//         '    </div>' +
//         '    <img class="direct-chat-img" src="' + window.dataCollection.env.profile.portrait + '" alt="message user image">' +
//         '    <div class="direct-chat-text">' + message + '</div>' +
//         '</div>'
//     );
// }

// $('body').on('wsTunnelOpen', function() {
//     if (window.dataCollection.env.wsTunnel.readyState === 1) {
//         window.dataCollection.env.wsTunnel.onmessage = function(e) {
//             //eslint-disable-next-line
//             console.log(e.data);
//         };
//     }
// });
</script>