{% if email['id'] is defined %}
    {% set emailId = email['id'] %}
    {% set emailName = email['name'] %}
    {% set emailDescription = email['description'] %}
    {% set emailHost = email['host'] %}
    {% set emailPort = email['port'] %}
    {% set emailAuth = email['auth'] %}
    {% set emailUsername = email['username'] %}
    {% set emailPassword = email['password'] %}
    {% set emailEncryption = email['encryption'] %}
    {% set emailAllowHtmlBody = email['allow_html_body'] %}
{% else %}
    {% set emailId = '' %}
    {% set emailName = '' %}
    {% set emailDescription = '' %}
    {% set emailHost = '' %}
    {% set emailPort = '' %}
    {% set emailAuth = 0 %}
    {% set emailUsername = '' %}
    {% set emailPassword = '' %}
    {% set emailEncryption = 0 %}
    {% set emailAllowHtmlBody = 0 %}
{% endif %}
<form data-validateon="section" id="{{componentId}}-{{sectionId}}-form">
    <fieldset id="{{componentId}}-{{sectionId}}-fieldset">
        <div class="row">
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'id',
                        'fieldLabel'                     : 'ID',
                        'fieldType'                      : 'input',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'Email ID',
                        'fieldRequired'                  : true,
                        'fieldBazScan'                   : true,
                        'fieldBazPostOnCreate'           : false,
                        'fieldBazPostOnUpdate'           : true,
                        'fieldHidden'                    : true,
                        'fieldDisabled'                  : true,
                        'fieldValue'                     : emailId
                    ]
                )}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'name',
                        'fieldLabel'                     : 'Name',
                        'fieldType'                      : 'input',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'Name Example: Google',
                        'fieldRequired'                  : true,
                        'fieldBazScan'                   : true,
                        'fieldBazPostOnCreate'           : true,
                        'fieldBazPostOnUpdate'           : true,
                        'fieldDataInputMinLength'        : 1,
                        'fieldDataInputMaxLength'        : 50,
                        'fieldValue'                     : emailName
                    ]
                )}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'description',
                        'fieldLabel'                     : 'Description',
                        'fieldType'                      : 'textarea',
                        'fieldDataMaxLength'             : 1024,
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'Description',
                        'fieldRequired'                  : false,
                        'fieldBazScan'                   : true,
                        'fieldBazPostOnCreate'           : true,
                        'fieldBazPostOnUpdate'           : true,
                        'fieldDataInputMaxLength'        : 1024,
                        'fieldTextareaRows'              : 2,
                        'fieldValue'                     : emailDescription
                    ]
                )}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'host',
                        'fieldLabel'                     : 'Host',
                        'fieldType'                      : 'input',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'Host Example: smtp.google.com',
                        'fieldRequired'                  : true,
                        'fieldBazScan'                   : true,
                        'fieldBazPostOnCreate'           : true,
                        'fieldBazPostOnUpdate'           : true,
                        'fieldDataInputMinLength'        : 1,
                        'fieldDataInputMaxLength'        : 100,
                        'fieldValue'                     : emailHost
                    ]
                )}}
            </div>
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'port',
                        'fieldLabel'                     : 'Port',
                        'fieldType'                      : 'input',
                        'fieldInputType'                 : 'number',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'Port Example: 465',
                        'fieldRequired'                  : true,
                        'fieldBazScan'                   : true,
                        'fieldBazPostOnCreate'           : true,
                        'fieldBazPostOnUpdate'           : true,
                        'fieldValue'                     : emailPort
                    ]
                )}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if emailAuth is defined %}
                    {% if emailAuth == 1 %}
                        {% set checked = true %}
                    {% else %}
                        {% set checked = false %}
                    {% endif %}
                {% endif %}
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'auth',
                        'fieldLabel'                     : 'Needs authentication?',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'Does this service require username and password to send emails?',
                        'fieldRequired'                  : false,
                        'fieldType'                      : 'checkbox',
                        'fieldCheckboxType'              : 'info',
                        'fieldCheckboxChecked'           : checked,
                        'fieldBazScan'                   : true
                    ]
                )}}
            </div>
            <div class="col">
                {% if emailEncryption is defined %}
                    {% if emailEncryption == 1 %}
                        {% set checked = true %}
                    {% else %}
                        {% set checked = false %}
                    {% endif %}
                {% endif %}
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'encryption',
                        'fieldLabel'                     : 'Needs encryption?',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'Does this service require encryption to send emails?',
                        'fieldRequired'                  : false,
                        'fieldType'                      : 'checkbox',
                        'fieldCheckboxType'              : 'info',
                        'fieldCheckboxChecked'           : checked,
                        'fieldBazScan'                   : false
                    ]
                )}}
            </div>
            <div class="col">
                {% if emailAllowHtmlBody is defined %}
                    {% if emailAllowHtmlBody == 1 %}
                        {% set checked = true %}
                    {% else %}
                        {% set checked = false %}
                    {% endif %}
                {% endif %}
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'allow_html_body',
                        'fieldLabel'                     : 'Allow HTML Body',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'Allow email body to have HTML code?',
                        'fieldRequired'                  : true,
                        'fieldType'                      : 'checkbox',
                        'fieldCheckboxType'              : 'info',
                        'fieldCheckboxChecked'           : checked,
                        'fieldBazScan'                   : false
                    ]
                )}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'username',
                        'fieldLabel'                     : 'Username',
                        'fieldType'                      : 'input',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'Host username',
                        'fieldRequired'                  : false,
                        'fieldBazScan'                   : true,
                        'fieldBazPostOnCreate'           : true,
                        'fieldBazPostOnUpdate'           : true,
                        'fieldDataInputMinLength'        : 1,
                        'fieldDataInputMaxLength'        : 50,
                        'fieldDisabled'                  : true,
                        'fieldValue'                     : emailUsername
                    ]
                )}}
            </div>
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'port',
                        'fieldLabel'                     : 'Password',
                        'fieldType'                      : 'input',
                        'fieldInputType'                 : 'password',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'host password',
                        'fieldRequired'                  : false,
                        'fieldBazScan'                   : true,
                        'fieldBazPostOnCreate'           : true,
                        'fieldBazPostOnUpdate'           : true,
                        'fieldDisabled'                  : true,
                        'fieldValue'                     : emailPassword
                    ]
                )}}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'test',
                        'fieldLabel'                     : 'Test Settings',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'Test the above configuration.',
                        'fieldRequired'                  : false,
                        'fieldType'                      : 'checkbox',
                        'fieldCheckboxType'              : 'primary',
                        'fieldCheckboxChecked'           : false,
                        'fieldBazScan'                   : true
                    ]
                )}}
            </div>
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'test_email_address',
                        'fieldLabel'                     : 'Test Email Address',
                        'fieldType'                      : 'input',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'Email address to test the email service settings with.',
                        'fieldRequired'                  : false,
                        'fieldBazScan'                   : true,
                        'fieldDataInputMinLength'        : 1,
                        'fieldDataInputMaxLength'        : 50,
                        'fieldDisabled'                  : true
                    ]
                )}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'debug',
                        'fieldLabel'                     : 'Test Debug Messages',
                        'fieldType'                      : 'textarea',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'Debug messages from test are shown here.',
                        'fieldRequired'                  : false,
                        'fieldBazScan'                   : false,
                        'fieldDisabled'                  : true,
                        'fieldTextareaRows'              : '6'
                    ]
                )}}
            </div>
        </div>
    </fieldset>
</form>
<script>

</script>