{% if widget['data']['settings']['clocks'] is defined %}
    <div class="table-responsive">
        <table class="table table-sm text-nowrap table-borderless">
            <tbody>
                <tr>
                    {% for clock in widget['data']['settings']['clocks'] %}
                        {% if widget['settings']['clocks'][clock] is defined %}
                            <td class="text-center">
                                <span class="text-info">{{widget['settings']['clocks'][clock]['name']}}</span> :
                                <span id="worldclock-{{widget['data']['id']}}-{{widget['settings']['clocks'][clock]['id']}}"></span>
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
{% else %}
    <div class="row text-center m-2" id="{{componentId}}-{{sectionId}}-worldclock-{{widget['data']['id']}}-widget-error" z-index>
        <div class="col">
            <h6><i class="fa fa-fw fa-info-circle text-danger"></i> Please edit widget and add clocks via settings.</h6>
        </div>
    </div>
{% endif %}
{{adminltetags.useTag('modal',
    [
        'component'                 : component,
        'componentName'             : componentName,
        'componentId'               : componentId,
        'sectionId'                 : sectionId,
        'modalId'                   : 'settings-worldclock-' ~ widget['data']['id'],
        'modalBodyInclude'          : 'widgets/worldclock/settings',
        'modalSize'                 : 'lg',
        'modalHeader'               : true,
        'modalFooter'               : true,
        'modalAdditionalClasses'    : 'widgets-setting-modal',
        'modalTitle'                : '<i class="fa fas fa-fw fa-cog"></i> WORLD CLOCK SETTINGS',
        'modalFooterButtons'        :
            [
            'component'                     : component,
            'componentName'                 : componentName,
            'componentId'                   : componentId,
            'parentComponentId'             : parent,
            'sectionId'                     : sectionId,
            'buttonType'                    : 'button',
            'buttons'                       :
                    [
                        'settings-button-save' : [
                            'title'                   : 'save',
                            'buttonId'                : componentId ~ '-' ~ sectionId ~ '-settings-worldclock-' ~ widget['data']['id'] ~ '-button-save',
                            'type'                    : 'primary',
                            'position'                : 'right',
                            'disabled'                : false,
                            'icon'                    : 'cog fa-spin',
                            'iconHidden'              : true
                        ]
                    ]
            ]
    ]
)}}