{% set coreAgentEmailCodeTimeout = '60' %}
{% set coreAgentEmailCodeLength = '4' %}
{% if core['settings']['security']['agentEmailCodeTimeout'] is defined %}
    {% set coreAgentEmailCodeTimeout = core['settings']['security']['agentEmailCodeTimeout'] %}
{% endif %}
{% if core['settings']['security']['agentEmailCodeLength'] is defined %}
    {% set coreAgentEmailCodeLength = core['settings']['security']['agentEmailCodeLength'] %}
{% endif %}
<div class="row">
    <div class="col">
        {{adminltetags.useTag('fields',
            [
                'component'                             : component,
                'componentName'                         : componentName,
                'componentId'                           : componentId,
                'sectionId'                             : sectionId,
                'fieldId'                               : 'agent_email_code_timeout',
                'fieldLabel'                            : 'Agent Email Code Timeout (seconds)',
                'fieldType'                             : 'input',
                'fieldHelp'                             : true,
                'fieldHelpTooltipContent'               : 'Timeout of the email code that is sent to the user. After the timeout, user has to generate a new code.',
                'fieldInputTypeTextFilter'              : 'positiveInt',
                'fieldRequired'                         : true,
                'fieldDisabled'                         : false,
                'fieldBazScan'                          : true,
                'fieldBazJstreeSearch'                  : true,
                'fieldBazPostOnUpdate'                  : true,
                'fieldDataInputMinNumber'               : 60,
                'fieldDataInputMaxNumber'               : 3600,
                'fieldDataInputMaxLength'               : 4,
                'fieldValue'                            : coreAgentEmailCodeTimeout
            ]
        )}}
    </div>
    <div class="col">
        {{adminltetags.useTag('fields',
            [
                'component'                             : component,
                'componentName'                         : componentName,
                'componentId'                           : componentId,
                'sectionId'                             : sectionId,
                'fieldId'                               : 'agent_email_code_length',
                'fieldLabel'                            : 'Agent Email Code Length',
                'fieldType'                             : 'input',
                'fieldHelp'                             : true,
                'fieldHelpTooltipContent'               : 'Length of the email code that is sent to the user.',
                'fieldInputTypeTextFilter'              : 'positiveInt',
                'fieldRequired'                         : true,
                'fieldDisabled'                         : false,
                'fieldBazScan'                          : true,
                'fieldBazJstreeSearch'                  : true,
                'fieldBazPostOnUpdate'                  : true,
                'fieldDataInputMinNumber'               : 4,
                'fieldDataInputMaxNumber'               : 12,
                'fieldDataInputMaxLength'               : 2,
                'fieldValue'                            : coreAgentEmailCodeLength
            ]
        )}}
    </div>
</div>