{% if filter['id'] is defined %}
    {% set filterId = filter['id'] %}
    {% set filterName = filter['name'] %}
    {% set filterComponentId = filter['component_id'] %}
    {% set filterConditions = filter['conditions'] %}
    {% if filter['auto_generated'] === '1' %}
        {% set filterNameDisabled = true %}
        {% set filterComponentIdDisabled = true %}
        {% set filterConditionsDisabled = true %}
    {% else %}
        {% set filterNameDisabled = false %}
        {% set filterComponentIdDisabled = false %}
        {% set filterConditionsDisabled = false %}
    {% endif %}
{% else %}
    {% set filterId = '' %}
    {% set filterName = '' %}
    {% set filterComponentId = '' %}
    {% set filterConditions = '' %}
    {% set filterNameDisabled = false %}
    {% set filterComponentIdDisabled = false %}
    {% set filterConditionsDisabled = false %}
{% endif %}
<form data-validateon="section" id="{{componentId}}-{{sectionId}}-form">
    <fieldset id="{{componentId}}-{{sectionId}}-fieldset">
        <div class="row">
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'id',
                        'fieldLabel'                     : 'Filter ID',
                        'fieldType'                      : 'input',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'Filter ID',
                        'fieldRequired'                  : true,
                        'fieldBazScan'                   : true,
                        'fieldBazPostOnCreate'           : false,
                        'fieldBazPostOnUpdate'           : true,
                        'fieldHidden'                    : true,
                        'fieldDisabled'                  : true,
                        'fieldValue'                     : filterId
                    ]
                )}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'name',
                        'fieldLabel'                     : 'Filter Name',
                        'fieldType'                      : 'input',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'Filter Name Example: All Filters',
                        'fieldRequired'                  : true,
                        'fieldDisabled'                  : filterNameDisabled,
                        'fieldBazScan'                   : true,
                        'fieldBazPostOnCreate'           : true,
                        'fieldBazPostOnUpdate'           : true,
                        'fieldDataInputMinLength'        : 1,
                        'fieldDataInputMaxLength'        : 50,
                        'fieldValue'                     : filterName
                    ]
                )}}
            </div>
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'component_id',
                        'fieldLabel'                     : 'Component',
                        'fieldType'                      : 'select2',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'Select a component for this filter.',
                        'fieldBazScan'                   : true,
                        'fieldBazPostOnCreate'           : true,
                        'fieldBazPostOnUpdate'           : true,
                        'fieldRequired'                  : true,
                        'fieldDisabled'                  : filterComponentIdDisabled,
                        'fieldDataSelect2Options'        : components,
                        'fieldDataSelect2OptionsKey'     : 'id',
                        'fieldDataSelect2OptionsValue'   : 'name',
                        'fieldDataSelect2OptionsArray'   : true,
                        'fieldDataSelect2OptionsSelected': filterComponentId
                    ]
                )}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'conditions',
                        'fieldLabel'                     : 'Filter Conditions',
                        'fieldType'                      : 'textarea',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'Conditions of the filter',
                        'fieldRequired'                  : true,
                        'fieldDisabled'                  : filterConditionsDisabled,
                        'fieldBazScan'                   : true,
                        'fieldBazPostOnCreate'           : true,
                        'fieldBazPostOnUpdate'           : true,
                        'fieldDataInputMaxLength'        : 2048,
                        'fieldTextareaRows'              : 2,
                        'fieldValue'                     : filterConditions
                    ]
                )}}
            </div>
        </div>
    </fieldset>
</form>
<script>
var dataCollectionComponent, dataCollectionSection, dataCollectionSectionForm;

if (!window['dataCollection']['{{componentId}}']) {
    dataCollectionComponent =
        window['dataCollection']['{{componentId}}'] = { };
} else {
    dataCollectionComponent =
        window['dataCollection']['{{componentId}}'];
}
if (!dataCollectionComponent['{{componentId}}-{{sectionId}}']) {
    dataCollectionSection =
        dataCollectionComponent['{{componentId}}-{{sectionId}}'] = { };
} else {
    dataCollectionSection =
        dataCollectionComponent['{{componentId}}-{{sectionId}}'];
}
if (!dataCollectionSection['{{componentId}}-{{sectionId}}-form']) {
    dataCollectionSectionForm =
        dataCollectionSection['{{componentId}}-{{sectionId}}-form'] = { };
} else {
    dataCollectionSectionForm =
        dataCollectionSection['{{componentId}}-{{sectionId}}-form'];
}

dataCollectionSection =
    $.extend(dataCollectionSection, {
        '{{componentId}}-{{sectionId}}-id'                      : { },
        '{{componentId}}-{{sectionId}}-name'                    : { },
        '{{componentId}}-{{sectionId}}-component_id'               : {
            'placeholder'   : 'SELECT COMPONENT'
        },
        '{{componentId}}-{{sectionId}}-conditions'              : { },
        '{{componentId}}-{{sectionId}}-form'                    : {
            rules: {
                '{{componentId}}-{{sectionId}}-name'                    : 'required',
                '{{componentId}}-{{sectionId}}-component_id'            : 'required',
                '{{componentId}}-{{sectionId}}-conditions'              : 'required',
            },
            messages: {
                '{{componentId}}-{{sectionId}}-name'                    : 'Please enter filter name',
                '{{componentId}}-{{sectionId}}-component_id'            : 'Please select a component',
                '{{componentId}}-{{sectionId}}-conditions'              : 'Please enter filter conditions'
            }
        }
    });
</script>