
{% if assets.get('footer').getCodes()[0].getContent() !== '' %}
    <footer {{assets.get('footer').getCodes()[0].getContent()}}>
{% else %}
    <footer class="main-footer">
{% endif %}
    <strong>Copyright &copy;
        {% if orgFrom is defined %}
            {{orgFrom ~ '-'|default('')}}
            {{date("Y")}}
        {% endif %}
        {% if orgSite is defined and orgName is defined %}
            <a target="_blank" href="{{orgSite}}">{{orgName}}</a>.
        {% elseif perName is defined %}
            {{perName}}
        {% endif %}
    </strong> All rights reserved.
    {{assets.outputJs('footerJs')}}
    {{assets.outputInlineJs()}}
</footer>
<script>
/* globals BazCore */
BazCore.footer({loadFooterAt : '{{componentId}}'});
</script>