{% if domain['id'] is defined %}
    {% set domainId = domain['id'] %}
    {% set domainName = domain['name'] %}
    {% set domainDescription = domain['description'] %}
{% else %}
    {% set domainId = '' %}
    {% set domainName = '' %}
    {% set domainDescription = '' %}
{% endif %}
{% if domain['is_internal'] is defined and domain['is_internal'] == 1 %}
    {% set internalChecked = true %}
{% else %}
    {% set internalChecked = false %}
{% endif %}
<div class="row">
    <div class="col">
        {{adminltetags.useTag('fields',
            [
                'component'                      : component,
                'componentName'                  : componentName,
                'componentId'                    : componentId,
                'sectionId'                      : sectionId,
                'fieldId'                        : 'id',
                'fieldLabel'                     : 'Domain ID',
                'fieldType'                      : 'input',
                'fieldHelp'                      : true,
                'fieldHelpTooltipContent'        : 'Domain ID',
                'fieldRequired'                  : true,
                'fieldBazScan'                   : true,
                'fieldBazPostOnCreate'           : false,
                'fieldBazPostOnUpdate'           : true,
                'fieldHidden'                    : true,
                'fieldDisabled'                  : true,
                'fieldValue'                     : domainId
            ]
        )}}
    </div>
</div>
<div class="row">
    <div class="col">
        {{adminltetags.useTag('fields',
            [
                'component'                      : component,
                'componentName'                  : componentName,
                'componentId'                    : componentId,
                'sectionId'                      : sectionId,
                'fieldId'                        : 'name',
                'fieldLabel'                     : 'Domain Name',
                'fieldType'                      : 'input',
                'fieldHelp'                      : true,
                'fieldHelpTooltipContent'        : 'Domain Name Example: mydomain.com.au',
                'fieldGroupPostAddonButtons'          :
                    [
                        'domain-validate'   : [
                            'title'                   : 'Validate Domain',
                            'icon'                    : 'cog fa-spin',
                            'iconHidden'              : true,
                            'noMargin'                : true,
                            'disabled'                : true,
                            'buttonAdditionalClass'   : 'rounded-0 text-white',
                            'position'                : 'right'
                        ],
                        'domain-info'   : [
                            'title'                   : false,
                            'type'                    : 'info',
                            'icon'                    : 'info',
                            'noMargin'                : true,
                            'disabled'                : true,
                            'buttonAdditionalClass'   : 'rounded-0',
                            'position'                : 'right'
                        ]
                    ],
                'fieldRequired'                  : true,
                'fieldBazScan'                   : true,
                'fieldBazJstreeSearch'           : true,
                'fieldBazPostOnCreate'           : true,
                'fieldBazPostOnUpdate'           : true,
                'fieldDataInputMinLength'        : 1,
                'fieldDataInputMaxLength'        : 50,
                'fieldValue'                     : domainName
            ]
        )}}
        {# for passing valid dns record that we received after validating the domain information so we dont make another validate call upon add/update #}
        {{adminltetags.useTag('fields',
            [
                'component'                      : component,
                'componentName'                  : componentName,
                'componentId'                    : componentId,
                'sectionId'                      : sectionId,
                'fieldId'                        : 'dns_record',
                'fieldLabel'                     : false,
                'fieldHelp'                      : true,
                'fieldRequired'                  : false,
                'fieldType'                      : 'html',
                'fieldHidden'                    : true,
                'fieldBazPostOnCreate'           : true,
                'fieldBazPostOnUpdate'           : true,
                'fieldBazScan'                   : true
            ]
        )}}
    </div>
    <div class="col">
        {{adminltetags.useTag('fields',
            [
                'component'                      : component,
                'componentName'                  : componentName,
                'componentId'                    : componentId,
                'sectionId'                      : sectionId,
                'fieldId'                        : 'is_internal',
                'fieldLabel'                     : 'Domain is internal?',
                'fieldHelp'                      : true,
                'fieldHelpTooltipContent'        : 'Is this domain not a public domain? example: localhost, bazaari.local',
                'fieldType'                      : 'checkbox',
                'fieldCheckboxType'              : 'info',
                'fieldCheckboxChecked'           : internalChecked,
                'fieldCheckboxAdditionClass'     : 'text-sm text-uppercase',
                'fieldBazPostOnCreate'           : true,
                'fieldBazPostOnUpdate'           : true,
                'fieldBazJstreeSearch'           : true,
                'fieldBazScan'                   : true
            ]
        )}}
    </div>
</div>
<div class="row">
    <div class="col">
        {{adminltetags.useTag('fields',
            [
                'component'                      : component,
                'componentName'                  : componentName,
                'componentId'                    : componentId,
                'sectionId'                      : sectionId,
                'fieldId'                        : 'description',
                'fieldLabel'                     : 'Domain Description',
                'fieldType'                      : 'textarea',
                'fieldDataMaxLength'             : 1024,
                'fieldHelp'                      : true,
                'fieldHelpTooltipContent'        : 'Description of the domain',
                'fieldRequired'                  : false,
                'fieldBazScan'                   : true,
                'fieldBazJstreeSearch'           : true,
                'fieldBazPostOnCreate'           : true,
                'fieldBazPostOnUpdate'           : true,
                'fieldDataInputMaxLength'        : 1024,
                'fieldTextareaRows'              : 2,
                'fieldValue'                     : domainDescription
            ]
        )}}
    </div>
</div>