{% set defaultAppDisabled = false %}
{% set exclusiveChecked = false %}
{% set exclusiveApiChecked = false %}
{% if domain['id'] is defined %}
    {% set domainDefaultAppId = domain['default_app_id'] %}
    {% if domain['exclusive_to_default_app'] is defined and domain['exclusive_to_default_app'] == 1 %}
        {% set defaultAppDisabled = true %}
        {% set exclusiveChecked = true %}
    {% endif %}
    {% if domain['exclusive_for_api'] is defined and domain['exclusive_for_api'] == 1 %}
        {% set exclusiveApiChecked = true %}
    {% endif %}
{% else %}
    {% set domainDefaultAppId = '' %}
{% endif %}
<div class="row">
    <div class="col">
        {{adminltetags.useTag('fields',
            [
                'component'                      : component,
                'componentName'                  : componentName,
                'componentId'                    : componentId,
                'sectionId'                      : sectionId,
                'fieldId'                        : 'default_app_id',
                'fieldLabel'                     : 'Default App',
                'fieldType'                      : 'select2',
                'fieldHelp'                      : true,
                'fieldHelpTooltipContent'        : 'Select a default app for this domain.<br> Example: When you access this site via root link like http://www.yoursite.com.au/',
                'fieldBazScan'                   : true,
                'fieldBazJstreeSearch'           : true,
                'fieldBazPostOnCreate'           : true,
                'fieldBazPostOnUpdate'           : true,
                'fieldRequired'                  : true,
                'fieldDisabled'                  : defaultAppDisabled,
                'fieldDataSelect2Options'        : apps,
                'fieldDataSelect2OptionsKey'     : 'id',
                'fieldDataSelect2OptionsValue'   : 'name',
                'fieldDataSelect2OptionsArray'   : true,
                'fieldDataSelect2OptionsSelected': domainDefaultAppId
            ]
        )}}
    </div>
    <div class="col">
        {{adminltetags.useTag('fields',
            [
                'component'                      : component,
                'componentName'                  : componentName,
                'componentId'                    : componentId,
                'sectionId'                      : sectionId,
                'fieldId'                        : 'exclusive_to_default_app',
                'fieldLabel'                     : 'Exclusive to default app?',
                'fieldHelp'                      : true,
                'fieldHelpTooltipContent'        : 'Is this domain exclusive to default app? If yes, then you dont need to add /app_route/ to each link',
                'fieldType'                      : 'checkbox',
                'fieldCheckboxType'              : 'success',
                'fieldCheckboxChecked'           : exclusiveChecked,
                'fieldCheckboxAdditionClass'     : 'text-sm text-uppercase',
                'fieldBazPostOnCreate'           : true,
                'fieldBazPostOnUpdate'           : true,
                'fieldBazJstreeSearch'           : true,
                'fieldBazScan'                   : true
            ]
        )}}
    </div>
    <div class="col">
        {{adminltetags.useTag('fields',
            [
                'component'                      : component,
                'componentName'                  : componentName,
                'componentId'                    : componentId,
                'sectionId'                      : sectionId,
                'fieldId'                        : 'exclusive_for_api',
                'fieldLabel'                     : 'Exclusive for API?',
                'fieldHelp'                      : true,
                'fieldHelpTooltipContent'        : 'Is this domain exclusive for API access to the default app? If yes, then you dont need to add /api/app_route/ to each link',
                'fieldType'                      : 'checkbox',
                'fieldCheckboxType'              : 'success',
                'fieldCheckboxChecked'           : exclusiveApiChecked,
                'fieldCheckboxAdditionClass'     : 'text-sm text-uppercase',
                'fieldBazPostOnCreate'           : true,
                'fieldBazPostOnUpdate'           : true,
                'fieldBazJstreeSearch'           : true,
                'fieldBazScan'                   : true
            ]
        )}}
    </div>
</div>
<hr>
{% if apps|length > 1 %}
    <div class="row">
        <div class="col">
            {{adminltetags.useTag('fields',
                [
                    'component'                      : component,
                    'componentName'                  : componentName,
                    'componentId'                    : componentId,
                    'sectionId'                      : sectionId,
                    'fieldId'                        : 'apps_settings',
                    'fieldLabel'                     : 'Apps Settings',
                    'fieldType'                      : 'select2',
                    'fieldHelp'                      : true,
                    'fieldHelpTooltipContent'        : 'Select an app to change its settings.',
                    'fieldBazScan'                   : true,
                    'fieldBazJstreeSearch'           : true,
                    'fieldBazPostOnCreate'           : false,
                    'fieldBazPostOnUpdate'           : false,
                    'fieldRequired'                  : false,
                    'fieldDataSelect2Options'        : apps,
                    'fieldDataSelect2OptionsKey'     : 'id',
                    'fieldDataSelect2OptionsValue'   : 'name',
                    'fieldDataSelect2OptionsArray'   : true,
                    'fieldDataSelect2OptionsSelected': domainDefaultAppId
                ]
            )}}
        </div>
    </div>
{% endif %}
<div class="row">
    <div class="col">
        {# For apps settings #}
        {{adminltetags.useTag('fields',
            [
                'component'                      : component,
                'componentName'                  : componentName,
                'componentId'                    : componentId,
                'sectionId'                      : sectionId,
                'fieldId'                        : 'apps',
                'fieldLabel'                     : false,
                'fieldHelp'                      : true,
                'fieldRequired'                  : false,
                'fieldType'                      : 'html',
                'fieldHidden'                    : true,
                'fieldBazPostOnCreate'           : true,
                'fieldBazPostOnUpdate'           : true,
                'fieldBazScan'                   : true
            ]
        )}}
        {% set appIds = [] %}
        {% if apps|length === 1 %}
            {% set checkboxDisabled = true %}
        {% else %}
            {% set checkboxDisabled = false %}
        {% endif %}
        {% for app in apps %}
            {% set appIds[app['id']] = app['id'] %}
            {% if domain['apps'][app['id']] is defined %}
                {% if domain['apps'][app['id']]['allowed'] is defined and domain['apps'][app['id']]['allowed'] == true %}
                    {% set checked = true %}
                    {% if domain['apps'][app['id']]['api'] is defined and domain['apps'][app['id']]['api'] == true %}
                        {% set apiChecked = true %}
                    {% else %}
                        {% set apiChecked = false %}
                    {% endif %}
                    {% set viewDisabled = false %}
                    {% set emailServiceDisabled = false %}
                    {% set publicStorageServiceDisabled = false %}
                    {% set privateStorageServiceDisabled = false %}
                {% else %}
                    {% set checked = false %}
                    {% set viewDisabled = true %}
                    {% set emailServiceDisabled = true %}
                    {% set publicStorageServiceDisabled = true %}
                    {% set privateStorageServiceDisabled = true %}
                    {% set apiChecked = false %}
                {% endif %}
                {% if app['id'] == domain['default_app_id'] %}
                    {% set appSettingsHidden = '' %}
                    {% set checkboxDisabled = true %}
                {% else %}
                    {% set appSettingsHidden = 'hidden' %}
                    {% set checkboxDisabled = false %}
                {% endif %}
            {% else %}
                {% if apps|length === 1 %}
                    {% set checked = true %}
                {% else %}
                    {% set checked = false %}
                {% endif %}
                {% set checkboxDisabled = true %}
                {% set viewDisabled = true %}
                {% set emailServiceDisabled = true %}
                {% set publicStorageServiceDisabled = true %}
                {% set privateStorageServiceDisabled = true %}
                {% set appSettingsHidden = 'hidden' %}
                {% set checkboxDisabled = false %}
                {% set apiChecked = false %}
            {% endif %}
            <div class="app" data-id="{{app['id']}}" {{appSettingsHidden}}>
                <div class="row">
                    <div class="col">
                        {{adminltetags.useTag('fields',
                            [
                                'component'                      : component,
                                'componentName'                  : componentName,
                                'componentId'                    : componentId,
                                'sectionId'                      : sectionId,
                                'fieldId'                        : 'allowed-' ~ app['id'],
                                'fieldLabel'                     : 'App ' ~ app['name'] ~ ' Allowed on this domain?',
                                'fieldHelp'                      : true,
                                'fieldHelpTooltipContent'        : 'Check if app can be accessed via this domain.',
                                'fieldRequired'                  : false,
                                'fieldType'                      : 'html',
                                'fieldAdditionalClass'           : 'mb-1',
                                'fieldBazScan'                   : false
                            ]
                        )}}
                        {{adminltetags.useTag('fields',
                            [
                                'component'                      : component,
                                'componentName'                  : componentName,
                                'componentId'                    : componentId,
                                'sectionId'                      : sectionId,
                                'fieldId'                        : app['id'] ~ '-allowed',
                                'fieldLabel'                     : false,
                                'fieldType'                      : 'checkbox',
                                'fieldDisabled'                  : checkboxDisabled,
                                'fieldCheckboxType'              : 'success',
                                'fieldCheckboxChecked'           : checked,
                                'fieldCheckboxAdditionClass'     : 'text-sm text-uppercase',
                                'fieldBazScan'                   : false
                            ]
                        )}}
                    </div>
                    <div class="col">
                        {% if domain['apps'][app['id']]['view'] is defined %}
                            {% set view = domain['apps'][app['id']]['view'] %}
                        {% else %}
                            {% set view = 0 %}
                        {% endif %}
                        {{adminltetags.useTag('fields',
                            [
                                'component'                      : component,
                                'componentName'                  : componentName,
                                'componentId'                    : componentId,
                                'sectionId'                      : sectionId,
                                'fieldId'                        : app['id'] ~ '-view',
                                'fieldLabel'                     : 'View (Template)',
                                'fieldType'                      : 'select2',
                                'fieldHelp'                      : true,
                                'fieldHelpTooltipContent'        : 'Select a view for this app on this domain.',
                                'fieldBazScan'                   : true,
                                'fieldRequired'                  : true,
                                'fieldDisabled'                  : viewDisabled,
                                'fieldDataAttributes'            :
                                    [
                                        'type' : 'view'
                                    ],
                                'fieldDataSelect2Options'        : apps[app['id']]['views'],
                                'fieldDataSelect2OptionsKey'     : 'id',
                                'fieldDataSelect2OptionsValue'   : 'display_name',
                                'fieldDataSelect2OptionsArray'   : true,
                                'fieldDataSelect2OptionsSelected': view
                            ]
                        )}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {% if domain['apps'][app['id']]['email_service'] is defined %}
                            {% set email_service = domain['apps'][app['id']]['email_service'] %}
                        {% else %}
                            {% set email_service = 0 %}
                        {% endif %}
                        {{adminltetags.useTag('fields',
                            [
                                'component'                      : component,
                                'componentName'                  : componentName,
                                'componentId'                    : componentId,
                                'sectionId'                      : sectionId,
                                'fieldId'                        : app['id'] ~ '-email-service',
                                'fieldLabel'                     : 'Use Email Service',
                                'fieldType'                      : 'select2',
                                'fieldHelp'                      : true,
                                'fieldHelpTooltipContent'        : 'Select email service for this domain. Email will be sent out using these service.',
                                'fieldBazScan'                   : true,
                                'fieldRequired'                  : false,
                                'fieldDisabled'                  : emailServiceDisabled,
                                'fieldDataAttributes'            :
                                    [
                                        'type' : 'email_service'
                                    ],
                                'fieldDataSelect2Options'        : emailservices,
                                'fieldDataSelect2OptionsKey'     : 'id',
                                'fieldDataSelect2OptionsValue'   : 'name',
                                'fieldDataSelect2OptionsArray'   : true,
                                'fieldDataSelect2OptionsSelected': email_service
                            ]
                        )}}
                    </div>
                    <div class="col">
                        {% if domain['apps'][app['id']]['publicStorage'] is defined %}
                            {% set publicStorage = domain['apps'][app['id']]['publicStorage'] %}
                        {% else %}
                            {% set publicStorage = 0 %}
                        {% endif %}
                        {{adminltetags.useTag('fields',
                            [
                                'component'                      : component,
                                'componentName'                  : componentName,
                                'componentId'                    : componentId,
                                'sectionId'                      : sectionId,
                                'fieldId'                        : app['id'] ~ '-public-storage',
                                'fieldLabel'                     : 'Use Public Storage',
                                'fieldType'                      : 'select2',
                                'fieldHelp'                      : true,
                                'fieldHelpTooltipContent'        : 'Select public storage for this domain and app.',
                                'fieldBazScan'                   : true,
                                'fieldRequired'                  : true,
                                'fieldDisabled'                  : publicStorageServiceDisabled,
                                'fieldDataAttributes'            :
                                    [
                                        'type' : 'publicStorage'
                                    ],
                                'fieldDataSelect2Options'        : publicStorages,
                                'fieldDataSelect2OptionsKey'     : 'id',
                                'fieldDataSelect2OptionsValue'   : 'name',
                                'fieldDataSelect2OptionsArray'   : true,
                                'fieldDataSelect2OptionsSelected': publicStorage
                            ]
                        )}}
                    </div>
                    <div class="col">
                        {% if domain['apps'][app['id']]['privateStorage'] is defined %}
                            {% set privateStorage = domain['apps'][app['id']]['privateStorage'] %}
                        {% else %}
                            {% set privateStorage = 0 %}
                        {% endif %}
                        {{adminltetags.useTag('fields',
                            [
                                'component'                      : component,
                                'componentName'                  : componentName,
                                'componentId'                    : componentId,
                                'sectionId'                      : sectionId,
                                'fieldId'                        : app['id'] ~ '-private-storage',
                                'fieldLabel'                     : 'Use Private Storage',
                                'fieldType'                      : 'select2',
                                'fieldHelp'                      : true,
                                'fieldHelpTooltipContent'        : 'Select private storage for this domain and app.',
                                'fieldBazScan'                   : true,
                                'fieldRequired'                  : true,
                                'fieldDisabled'                  : privateStorageServiceDisabled,
                                'fieldDataAttributes'            :
                                    [
                                        'type' : 'privateStorage'
                                    ],
                                'fieldDataSelect2Options'        : privateStorages,
                                'fieldDataSelect2OptionsKey'     : 'id',
                                'fieldDataSelect2OptionsValue'   : 'name',
                                'fieldDataSelect2OptionsArray'   : true,
                                'fieldDataSelect2OptionsSelected': privateStorage
                            ]
                        )}}
                    </div>
                </div>
                <hr>
            </div>
        {% endfor %}
        {% set appIds = json_encode(appIds, 16) %}
    </div>
</div>
<script>
/* globals BazContentFieldsValidator */
var dataCollectionComponent, dataCollectionSection, dataCollectionSectionForm;

if (!window['dataCollection']['{{componentId}}']) {
    dataCollectionComponent =
        window['dataCollection']['{{componentId}}'] = { };
} else {
    dataCollectionComponent =
        window['dataCollection']['{{componentId}}'];
}
if (!dataCollectionComponent['{{componentId}}-{{sectionId}}']) {
    dataCollectionSection =
        dataCollectionComponent['{{componentId}}-{{sectionId}}'] = { };
} else {
    dataCollectionSection =
        dataCollectionComponent['{{componentId}}-{{sectionId}}'];
}
if (!dataCollectionSection['{{componentId}}-{{sectionId}}-form']) {
    dataCollectionSectionForm =
        dataCollectionSection['{{componentId}}-{{sectionId}}-form'] = { };
} else {
    dataCollectionSectionForm =
        dataCollectionSection['{{componentId}}-{{sectionId}}-form'];
}

dataCollectionSection =
    $.extend(dataCollectionSection, {
        '{{componentId}}-{{sectionId}}-apps_settings'                       : {
            'placeholder'   : 'SELECT APP TO CHANGE SETTINGS',
            afterInit : function () {
                $('#{{componentId}}-{{sectionId}}-apps_settings').change(function() {
                    var selectedApp = $('#{{componentId}}-{{sectionId}}-apps_settings').select2('data')[0]['id'];

                    if (selectedApp != 0) {
                        $('.app').each(function(i, app) {
                            if ($(app).data('id') == selectedApp) {
                                $(app).attr('hidden', false);
                            } else {
                                $(app).attr('hidden', true);
                            }
                        });
                    }
                });
            }
        },
        '{{componentId}}-{{sectionId}}-exclusive_to_default_app'            : {
            afterInit : function () {
                var defaultApp = $('#{{componentId}}-{{sectionId}}-default_app_id').select2('data')[0]['id'];
                var exclusiveChecked = $('#{{componentId}}-{{sectionId}}-exclusive_to_default_app')[0].checked;

                if (defaultApp == 0) {
                    $('#{{componentId}}-{{sectionId}}-exclusive_to_default_app')[0].checked = false;
                    $('#{{componentId}}-{{sectionId}}-exclusive_to_default_app').attr('disabled', true);
                }

                if (exclusiveChecked) {
                    for (var checkbox in dataCollectionSectionForm['vars']['dynamicFields']['checkboxes']) {
                        if (checkbox !== '{{componentId}}-{{sectionId}}-' + defaultApp + '-allowed') {
                            $('#' + checkbox).attr('disabled', true);
                        }
                    }
                }

                $('#{{componentId}}-{{sectionId}}-exclusive_to_default_app').change(function() {
                    $('#{{componentId}}-{{sectionId}}-default_app_id').attr('disabled', true);
                    defaultApp = $('#{{componentId}}-{{sectionId}}-default_app_id').select2('data')[0]['id'];

                    if (defaultApp != 0) {
                        $('.app').each(function(i, app) {
                            if ($(app).data('id') == defaultApp) {
                                $(app).attr('hidden', false);
                            } else {
                                $(app).attr('hidden', true);
                            }
                        });
                        $('#{{componentId}}-{{sectionId}}-apps_settings').val(defaultApp).trigger('change');
                    }
                    if ($(this)[0].checked === true) {
                        for (var checkbox in dataCollectionSectionForm['vars']['dynamicFields']['checkboxes']) {
                            var appId = $('#' + checkbox).parents('.app').data('id');

                            if (appId == defaultApp) {
                                if (checkbox === '{{componentId}}-{{sectionId}}-' + appId + '-allowed') {
                                    $('#' + checkbox).attr('disabled', true);
                                } else {
                                    $('#' + checkbox).attr('disabled', false);
                                }
                                dataCollectionSection['data']['apps'][appId]['allowed'] = true;
                                $('#{{componentId}}-{{sectionId}}-' + appId + '-view').attr('disabled', false);
                                $('#{{componentId}}-{{sectionId}}-' + appId + '-email-service').attr('disabled', false);
                                $('#{{componentId}}-{{sectionId}}-' + appId + '-public-storage').attr('disabled', false);
                                $('#{{componentId}}-{{sectionId}}-' + appId + '-private-storage').attr('disabled', false);
                            } else {
                                $('#' + checkbox)[0].checked = false;
                                $('#' + checkbox).attr('disabled', true);
                                dataCollectionSection['data']['apps'][appId]['allowed'] = false;
                                $('#{{componentId}}-{{sectionId}}-' + appId + '-view').attr('disabled', true);
                                $('#{{componentId}}-{{sectionId}}-' + appId + '-email-service').attr('disabled', true);
                                $('#{{componentId}}-{{sectionId}}-' + appId + '-public-storage').attr('disabled', true);
                                $('#{{componentId}}-{{sectionId}}-' + appId + '-private-storage').attr('disabled', true);
                            }
                        }
                    } else {
                        $('#{{componentId}}-{{sectionId}}-default_app_id').attr('disabled', false);
                        for (var disableCheckbox in dataCollectionSectionForm['vars']['dynamicFields']['checkboxes']) {
                            if (disableCheckbox === '{{componentId}}-{{sectionId}}-' + defaultApp + '-allowed') {
                                $('#' + disableCheckbox).attr('disabled', true);
                            } else {
                                $('#' + disableCheckbox).attr('disabled', false);
                            }
                        }
                    }
                });
            }
        },
        '{{componentId}}-{{sectionId}}-exclusive_for_api'                   : { },
        '{{componentId}}-{{sectionId}}-default_app_id'                      : {
            'placeholder'   : 'SELECT DEFAULT APPLICATION',
            afterInit       : function() {
                $('#{{componentId}}-{{sectionId}}-default_app_id').change(function() {
                    var defaultApp = $('#{{componentId}}-{{sectionId}}-default_app_id').select2('data')[0]['id'];

                    if (defaultApp == 0) {
                        $('#{{componentId}}-{{sectionId}}-exclusive_to_default_app')[0].checked = false;
                        $('#{{componentId}}-{{sectionId}}-exclusive_to_default_app').attr('disabled', true);
                        $('#{{componentId}}-{{sectionId}}-apps_settings').val(defaultApp).trigger('change');
                        $('.app').attr('hidden', true);
                    } else if (defaultApp != 0) {
                        $('#{{componentId}}-{{sectionId}}-exclusive_to_default_app').attr('disabled', false);
                        $('#{{componentId}}-{{sectionId}}-apps_settings').val(defaultApp).trigger('change');
                        $('.app').each(function(i, app) {
                            if ($(app).data('id') == defaultApp) {
                                $(app).attr('hidden', false);
                            } else {
                                $(app).attr('hidden', true);
                            }
                        });
                    }

                    for (var checkbox in dataCollectionSectionForm['vars']['dynamicFields']['checkboxes']) {
                        var appId = $('#' + checkbox).parents('.app').data('id');

                        if (checkbox === '{{componentId}}-{{sectionId}}-' + defaultApp + '-allowed') {
                            $('#' + checkbox)[0].checked = true;
                            $('#' + checkbox).attr('disabled', true);
                            dataCollectionSection['data']['apps'][appId]['allowed'] = true;
                            $('#{{componentId}}-{{sectionId}}-' + appId + '-view').attr('disabled', false);
                            $('#{{componentId}}-{{sectionId}}-' + appId + '-email-service').attr('disabled', false);
                            $('#{{componentId}}-{{sectionId}}-' + appId + '-public-storage').attr('disabled', false);
                            $('#{{componentId}}-{{sectionId}}-' + appId + '-private-storage').attr('disabled', false);
                        } else {
                            if ($('#{{componentId}}-{{sectionId}}-exclusive_to_default_app')[0].checked === true) {
                                $('#' + checkbox).attr('disabled', true);
                                $('#{{componentId}}-{{sectionId}}-' + appId + '-view').attr('disabled', true);
                                $('#{{componentId}}-{{sectionId}}-' + appId + '-email-service').attr('disabled', true);
                                $('#{{componentId}}-{{sectionId}}-' + appId + '-public-storage').attr('disabled', true);
                                $('#{{componentId}}-{{sectionId}}-' + appId + '-private-storage').attr('disabled', true);
                            } else {
                                $('#' + checkbox).attr('disabled', false);
                            }
                            if ($('#' + checkbox)[0].checked === true) {
                                dataCollectionSection['data']['apps'][appId]['allowed'] = true;
                            } else {
                                dataCollectionSection['data']['apps'][appId]['allowed'] = false;
                            }
                        }
                    }
                });
            }
        },
        '{{componentId}}-{{sectionId}}-apps'                                : {
            afterInit : function () {
                for (var checkbox in dataCollectionSectionForm['vars']['dynamicFields']['checkboxes']) {
                    $('#' + checkbox).click(function() {
                        var id = $(this)[0].id;
                        dataCollectionSectionForm['funcs']['extractData'](id, null, null, $('#' + id).parents('.app').data('id'));
                    });
                    dataCollectionSectionForm['funcs']['extractData'](checkbox, null, null, $('#' + checkbox).parents('.app').data('id'))
                }

                for (var select2 in dataCollectionSectionForm['vars']['dynamicFields']['select2']) {
                    $('#' + select2).on('change', function() {
                        var id = $(this)[0].id;
                        dataCollectionSectionForm['funcs']['extractData'](null, id, $('#' + id).data('type'), $('#' + id).parents('.app').data('id'));
                    });
                    dataCollectionSectionForm['funcs']['extractData'](null, select2, $('#' + select2).data('type'), $('#' + select2).parents('.app').data('id'));
                }
            }
        },
        '{{componentId}}-{{sectionId}}-form'                                : {
            ignore: ':submit, :reset, :image, :disabled, .ignore, .cr-slider',
            invalidHandler: function (form, validator) {
                // //eslint-disable-next-line
                // console.log(validator.errorList);
            },
            rules: {
                '{{componentId}}-{{sectionId}}-name'                    : 'required',
                '{{componentId}}-{{sectionId}}-default_app_id'          : 'required'
            },
            messages: {
                '{{componentId}}-{{sectionId}}-name'                    : 'Please enter domain name',
                '{{componentId}}-{{sectionId}}-default_app_id'          : 'Please select default app'
            }
        }
    });


dataCollectionSectionForm['vars'] = { };
dataCollectionSectionForm['vars']['appIds'] = JSON.parse('{{appIds}}');
dataCollectionSectionForm['vars']['dynamicFields'] = { };
dataCollectionSectionForm['vars']['dynamicFields']['checkboxes'] = { };
dataCollectionSectionForm['vars']['dynamicFields']['select2'] = { };
dataCollectionSection['data'] = { };
dataCollectionSection['data']['apps'] = { };
dataCollectionSectionForm['funcs'] = { };
dataCollectionSectionForm['funcs']['extractData'] =
    function (checkbox = null, select2 = null, select2Type = null, appId) {
        if (checkbox) {
            if ($('#' + checkbox)[0].checked === true) {
                dataCollectionSection['data']['apps'][appId]['allowed'] = true;
                $('#{{componentId}}-{{sectionId}}-' + appId + '-view').attr('disabled', false);
                $('#{{componentId}}-{{sectionId}}-' + appId + '-email-service').attr('disabled', false);
                $('#{{componentId}}-{{sectionId}}-' + appId + '-public-storage').attr('disabled', false);
                $('#{{componentId}}-{{sectionId}}-' + appId + '-private-storage').attr('disabled', false);
            } else {
                dataCollectionSection['data']['apps'][appId]['allowed'] = false;
                $('#{{componentId}}-{{sectionId}}-' + appId + '-view').attr('disabled', true);
                $('#{{componentId}}-{{sectionId}}-' + appId + '-email-service').attr('disabled', true);
                $('#{{componentId}}-{{sectionId}}-' + appId + '-public-storage').attr('disabled', true);
                $('#{{componentId}}-{{sectionId}}-' + appId + '-private-storage').attr('disabled', true);
            }
        } else if (select2 && select2Type) {
            dataCollectionSection['data']['apps'][appId][select2Type] =
                $($('#' + select2)[0].selectedOptions[0]).val();
        }
    };

for (var id in dataCollectionSectionForm['vars']['appIds']) {
    dataCollectionSection['data']['apps'][dataCollectionSectionForm['vars']['appIds'][id]] = { };
    dataCollectionSectionForm['vars']['dynamicFields']['checkboxes']['{{componentId}}-{{sectionId}}-' + id + '-allowed'] = { };
    dataCollectionSection['{{componentId}}-{{sectionId}}-' + id + '-allowed'] = { };
    dataCollectionSectionForm['vars']['dynamicFields']['select2']['{{componentId}}-{{sectionId}}-' + id + '-view'] = { };
    dataCollectionSection['{{componentId}}-{{sectionId}}-' + id + '-view'] = {"placeholder": "SELECT VIEW (TEMPLATE)"};
    dataCollectionSectionForm['vars']['dynamicFields']['select2']['{{componentId}}-{{sectionId}}-' + id + '-email-service'] = { };
    dataCollectionSection['{{componentId}}-{{sectionId}}-' + id + '-email-service'] = {"placeholder": "SELECT EMAIL SERVICE", "allowClear" : true};
    dataCollectionSectionForm['vars']['dynamicFields']['select2']['{{componentId}}-{{sectionId}}-' + id + '-public-storage'] = { };
    dataCollectionSection['{{componentId}}-{{sectionId}}-' + id + '-public-storage'] = {"placeholder": "SELECT PUBLIC STORAGE"};
    dataCollectionSectionForm['vars']['dynamicFields']['select2']['{{componentId}}-{{sectionId}}-' + id + '-private-storage'] = { };
    dataCollectionSection['{{componentId}}-{{sectionId}}-' + id + '-private-storage'] = {"placeholder": "SELECT PRIVATE STORAGE"};
    dataCollectionSection['{{componentId}}-{{sectionId}}-form']['rules']['{{componentId}}-{{sectionId}}-' + id + '-view'] = "required";
    dataCollectionSection['{{componentId}}-{{sectionId}}-form']['messages']['{{componentId}}-{{sectionId}}-' + id + '-view'] = "please select a view (template)";
    dataCollectionSection['{{componentId}}-{{sectionId}}-form']['rules']['{{componentId}}-{{sectionId}}-' + id + '-public-storage'] = "required";
    dataCollectionSection['{{componentId}}-{{sectionId}}-form']['messages']['{{componentId}}-{{sectionId}}-' + id + '-public-storage'] = "please select public storage";
    dataCollectionSection['{{componentId}}-{{sectionId}}-form']['rules']['{{componentId}}-{{sectionId}}-' + id + '-private-storage'] = "required";
    dataCollectionSection['{{componentId}}-{{sectionId}}-form']['messages']['{{componentId}}-{{sectionId}}-' + id + '-private-storage'] = "please select private storage";
}
</script>