{% if productType == 1 %}
    {% set type = 'stock' %}
    {% set dataDependencies =
        [
            [
                'componentName'      : 'Geo Locations',
                'componentVar'       : geo,
                'componentRoute'     : false
            ],
            [
                'componentName'      : 'Storages',
                'componentVar'       : storages,
                'componentRoute'     : false
            ]
        ]
    %}
{% elseif productType == 2 %}
    {#  #}
{% else %}
    {% set type = 'stock' %}
{% endif %}

{% if product['id'] is defined %}
    {% set productId = product['id'] %}
    {% set title = 'Product (' ~ product['title'] ~ ')' %}
{% else %}
    {% set productId = '' %}
    {% set title = 'New ' ~ type ~ ' Product' %}
{% endif %}

{{adminltetags.useTag('content',
    [
        'component'                     : component,
        'componentName'                 : componentName,
        'componentId'                   : componentId,
        'parentComponentId'             : parent,
        'sectionId'                     : 'main',
        'contentType'                   : 'sectionWithForm',
        'cardHeader'                    : true,
        'cardFooter'                    : true,
        'cardType'                      : 'primary',
        'cardIcon'                      : 'tags',
        'cardTitle'                     : title,
        'cardShowTools'                 : ['maximize'],
        'cardAdditionalClass'           : 'rounded-0',
        'cardBodyInclude'               : 'products/types/' ~ type ~ '/form',
        'formButtons'                   :
        [
            'updateButtonId'                : productId,
            'addActionUrl'                  : 'ims/products/add',
            'addSuccessRedirectUrl'         : 'ims/products',
            'updateActionUrl'               : 'ims/products/update',
            'updateSuccessRedirectUrl'      : 'ims/products',
            'cancelActionUrl'               : 'ims/products',
            'closeActionUrl'                : 'ims/products'
        ],
        'dataDependencies'     : dataDependencies
    ]
)}}