<div class="row">
    <div class="col">
        <div id="work-phone" class="row">
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'contact_phone',
                        'fieldLabel'                     : 'Phone',
                        'fieldType'                      : 'input',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'Phone number of the profile',
                        'fieldRequired'                  : true,
                        'fieldBazScan'                   : true,
                        'fieldBazJstreeSearch'           : true,
                        'fieldBazPostOnCreate'           : true,
                        'fieldBazPostOnUpdate'           : true,
                        'fieldDataInputMinLength'        : 1,
                        'fieldDataInputMaxLength'        : 15,
                        'fieldValue'                     : profile['contact_phone']
                    ]
                )}}
            </div>
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'contact_phone_ext',
                        'fieldLabel'                     : 'Extension',
                        'fieldType'                      : 'input',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'Phone number extension of the profile',
                        'fieldRequired'                  : false,
                        'fieldBazScan'                   : true,
                        'fieldBazJstreeSearch'           : true,
                        'fieldBazPostOnCreate'           : true,
                        'fieldBazPostOnUpdate'           : true,
                        'fieldDataInputMinLength'        : 1,
                        'fieldDataInputMaxLength'        : 15,
                        'fieldValue'                     : profile['contact_phone_ext']
                    ]
                )}}
            </div>
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'contact_mobile',
                        'fieldLabel'                     : 'Mobile',
                        'fieldType'                      : 'input',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'Mobile phone number of the profile',
                        'fieldRequired'                  : true,
                        'fieldBazScan'                   : true,
                        'fieldBazJstreeSearch'           : true,
                        'fieldBazPostOnCreate'           : true,
                        'fieldBazPostOnUpdate'           : true,
                        'fieldDataInputMinLength'        : 1,
                        'fieldDataInputMaxLength'        : 15,
                        'fieldValue'                     : profile['contact_mobile']
                    ]
                )}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'contact_fax',
                        'fieldLabel'                     : 'Fax',
                        'fieldType'                      : 'input',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'Fax number of the profile',
                        'fieldRequired'                  : false,
                        'fieldBazScan'                   : true,
                        'fieldBazJstreeSearch'           : true,
                        'fieldBazPostOnCreate'           : true,
                        'fieldBazPostOnUpdate'           : true,
                        'fieldDataInputMinLength'        : 1,
                        'fieldDataInputMaxLength'        : 15,
                        'fieldValue'                     : profile['contact_fax']
                    ]
                )}}
            </div>
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'contact_other',
                        'fieldLabel'                     : 'Other Contact #',
                        'fieldType'                      : 'input',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'Any other contact # of the profile',
                        'fieldRequired'                  : false,
                        'fieldBazScan'                   : true,
                        'fieldBazJstreeSearch'           : true,
                        'fieldBazPostOnCreate'           : true,
                        'fieldBazPostOnUpdate'           : true,
                        'fieldDataInputMinLength'        : 1,
                        'fieldDataInputMaxLength'        : 15,
                        'fieldValue'                     : profile['contact_other']
                    ]
                )}}
            </div>
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'secondary_email',
                        'fieldLabel'                     : 'Secondary Email',
                        'fieldType'                      : 'input',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'Secondary Email Address',
                        'fieldRequired'                  : false,
                        'fieldBazScan'                   : true,
                        'fieldBazJstreeSearch'           : true,
                        'fieldBazPostOnCreate'           : true,
                        'fieldBazPostOnUpdate'           : true,
                        'fieldDataInputMinLength'        : 1,
                        'fieldDataInputMaxLength'        : 50,
                        'fieldValue'                     : profile['secondary_email']
                    ]
                )}}
            </div>
            <div class="col">
                {% if profile['cc_emails_to_secondary_email'] is defined %}
                    {% if profile['cc_emails_to_secondary_email'] == 1 %}
                        {% set ccEmailsChecked = true %}
                    {% else %}
                        {% set ccEmailsChecked = false %}
                    {% endif %}
                {% else %}
                    {% set ccEmailsChecked = false %}
                {% endif %}
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'cc_emails_to_secondary_email',
                        'fieldLabel'                     : 'CC Emails?',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'CC Emails to secondary email address?',
                        'fieldRequired'                  : false,
                        'fieldType'                      : 'checkbox',
                        'fieldCheckboxType'              : 'info',
                        'fieldCheckboxChecked'           : ccEmailsChecked,
                        'fieldBazJstreeSearch'           : true,
                        'fieldBazPostOnCreate'           : true,
                        'fieldBazPostOnUpdate'           : true,
                        'fieldBazScan'                   : true
                    ]
                )}}
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col">
        {{adminltetags.useTag('fields',
            [
                'component'                      : component,
                'componentName'                  : componentName,
                'componentId'                    : componentId,
                'sectionId'                      : sectionId,
                'fieldId'                        : 'contact_notes',
                'fieldLabel'                     : 'Contact Notes',
                'fieldType'                      : 'textarea',
                'fieldHelp'                      : true,
                'fieldHelpTooltipContent'        : 'Contact Notes',
                'fieldRequired'                  : false,
                'fieldBazScan'                   : true,
                'fieldBazJstreeSearch'           : true,
                'fieldBazPostOnCreate'           : true,
                'fieldBazPostOnUpdate'           : true,
                'fieldDataInputMinLength'        : 1,
                'fieldDataInputMaxLength'        : 2048,
                'fieldTextareaRows'              : 2,
                'fieldValue'                     : profile['contact_notes']
            ]
        )}}
    </div>
</div>