<table id="{{componentId}}-{{sectionId}}-{{moduleType}}-table" class="table table-sm table-hover">
    <thead>
        <tr>
            <th class="text-uppercase">Enable</th>
            {% if moduleType === 'component' %}
                <th class="text-uppercase">
                    {{adminltetags.useTag('fields',
                        [
                            'component'                      : component,
                            'componentName'                  : componentName,
                            'componentId'                    : componentId,
                            'sectionId'                      : sectionId,
                            'fieldId'                        : 'menus',
                            'fieldLabel'                     : 'Menu',
                            'fieldLabelClass'                : 'mb-0',
                            'fieldType'                      : 'html',
                            'fieldAdditionalClass'           : 'mb-0',
                            'fieldHelp'                      : true,
                            'fieldHelpTooltipContent'        : "Show this component in app's menu?",
                            'fieldRequired'                  : false,
                            'fieldBazScan'                   : true,
                            'fieldBazPostOnCreate'           : true,
                            'fieldBazPostOnUpdate'           : true
                        ]
                    )}}
                </th>
                <th class="text-uppercase">
                    {{adminltetags.useTag('fields',
                        [
                            'component'                      : component,
                            'componentName'                  : componentName,
                            'componentId'                    : componentId,
                            'sectionId'                      : sectionId,
                            'fieldId'                        : 'need_auths',
                            'fieldLabel'                     : 'Need Auth?',
                            'fieldLabelClass'                : 'mb-0',
                            'fieldType'                      : 'html',
                            'fieldAdditionalClass'           : 'mb-0',
                            'fieldHelp'                      : true,
                            'fieldHelpTooltipContent'        : "Needs user to be authenticated to access this component?",
                            'fieldRequired'                  : false,
                            'fieldBazScan'                   : true,
                            'fieldBazPostOnCreate'           : true,
                            'fieldBazPostOnUpdate'           : true
                        ]
                    )}}
                </th>
            {% endif %}
            <th class="text-uppercase">Name</th>
            <th class="text-uppercase">Description</th>
            <th class="text-uppercase">Category</th>
        </tr>
    </thead>
    <tbody>
        {% for moduleKey, module in modules %}
            <tr>
                {% if moduleType === 'component' %}
                    {# {% set componentIds[componentId ~ '-' ~ sectionId ~ '-component-' ~ module['id']] = module['id'] %} #}
                    {% if module['name'] === 'Home' %}
                        {% if app['default_component'] is defined and app['default_component'] == 0 %}
                            {% set appDefaultComponent = module['id'] %}
                        {% endif %}
                    {% endif %}

                    {% if module['name'] === 'Errors' %}
                        {% if app['errors_component'] is defined and app['errors_component'] == 0 %}
                            {% set appErrorsComponent = module['id'] %}
                        {% endif %}
                    {% endif %}
                    {% if module['apps'][app['id']]['enabled'] is defined and module['apps'][app['id']]['enabled'] === true %}
                        {% set checked = true %}
                    {% else %}
                        {% set checked = false %}
                    {% endif %}
                    {% set dataAttr =
                        [
                            'id'                        : module['id'],
                            'type'                      : moduleType,
                            'app_id'                    : app['id'],
                            'menu'                      : module['menu_id']
                        ]
                    %}
                {% elseif moduleType === 'view' %}
                    {# {% set viewIds[componentId ~ '-' ~ sectionId ~ '-view-' ~ module['id']] = module['id'] %} #}
                    {% if module['apps'][app['id']] is defined and module['apps'][app['id']]['enabled'] === true %}
                        {% set checked = true %}
                    {% else %}
                        {% set checked = false %}
                    {% endif %}
                    {% set dataAttr =
                        [
                            'id'                        : module['id'],
                            'type'                      : moduleType
                        ]
                    %}
                {% endif %}
                {% if module['name'] in mandatoryModules %}
                    {% set disabled = true %}
                    {% set checked = true %}
                {% else %}
                    {% set disabled = false %}
                {% endif %}
                <td>
                    {{adminltetags.useTag('fields',
                        [
                            'component'                      : component,
                            'componentName'                  : componentName,
                            'componentId'                    : componentId,
                            'sectionId'                      : sectionId,
                            'fieldId'                        : moduleType ~ '-' ~ module['id'],
                            'fieldLabel'                     : false,
                            'fieldHelp'                      : false,
                            'fieldHelpTooltipContent'        : '',
                            'fieldDisabled'                  : disabled,
                            'fieldAdditionalClass'           : 'mb-0',
                            'fieldType'                      : 'checkbox',
                            'fieldCheckboxType'              : 'success',
                            'fieldCheckboxChecked'           : checked,
                            'fieldCheckboxAdditionClass'     : 'text-sm text-uppercase m-0',
                            'fieldBazScan'                   : false,
                            'fieldDataAttributes'            : dataAttr
                        ]
                    )}}
                </td>
                {% if moduleType === 'component' %}
                    <td>
                        {% if module['menu_id'] %}
                            {% if modulesMenus[module['menu_id']]['apps'][app['id']]['enabled'] is defined and modulesMenus[module['menu_id']]['apps'][app['id']]['enabled'] === true %}
                                {% set menuChecked = true %}
                            {% else %}
                                {% set menuChecked = false %}
                            {% endif %}

                            {{adminltetags.useTag('fields',
                                [
                                    'component'                      : component,
                                    'componentName'                  : componentName,
                                    'componentId'                    : componentId,
                                    'sectionId'                      : sectionId,
                                    'fieldId'                        : moduleType ~ '-menu-' ~ module['id'],
                                    'fieldLabel'                     : false,
                                    'fieldHelp'                      : false,
                                    'fieldDisabled'                  : disabled,
                                    'fieldHelpTooltipContent'        : '',
                                    'fieldAdditionalClass'           : 'mb-0',
                                    'fieldType'                      : 'checkbox',
                                    'fieldCheckboxType'              : 'info',
                                    'fieldCheckboxChecked'           : menuChecked,
                                    'fieldCheckboxAdditionClass'     : 'text-sm text-uppercase m-0',
                                    'fieldBazScan'                   : false,
                                    'fieldDataAttributes'            :
                                    [
                                        'component_id'               : module['id'],
                                        'app_id'                     : app['id'],
                                        'type'                       : 'menu',
                                        'menu'                       : module['menu_id'],
                                        'route'                      : module['route']
                                    ]
                                ]
                            )}}
                        {% endif %}
                    </td>
                    <td>
                        {% if module['apps'][app['id']]['needAuth'] is defined and module['apps'][app['id']]['needAuth'] !== 'disabled' %}
                            {% if module['apps'][app['id']]['needAuth'] is defined and module['apps'][app['id']]['needAuth'] === true %}
                                {% set needAuthChecked = true %}
                            {% else %}
                                {% set needAuthChecked = false %}
                            {% endif %}
                            {% if module['apps'][app['id']]['enabled'] is defined and module['apps'][app['id']]['enabled'] === true %}
                                {% set needAuthDisabled = false %}
                            {% else %}
                                {% set needAuthDisabled = true %}
                            {% endif %}
                            {% if module['apps'][app['id']]['needAuth'] is defined and module['apps'][app['id']]['needAuth'] === 'mandatory' %}
                                {% set needAuthChecked = true %}
                                {% set needAuthDisabled = true %}
                            {% endif %}

                            {{adminltetags.useTag('fields',
                                [
                                    'component'                      : component,
                                    'componentName'                  : componentName,
                                    'componentId'                    : componentId,
                                    'sectionId'                      : sectionId,
                                    'fieldId'                        : moduleType ~ '-need_auth-' ~ module['id'],
                                    'fieldLabel'                     : false,
                                    'fieldHelp'                      : false,
                                    'fieldDisabled'                  : needAuthDisabled,
                                    'fieldHelpTooltipContent'        : '',
                                    'fieldAdditionalClass'           : 'mb-0',
                                    'fieldType'                      : 'checkbox',
                                    'fieldCheckboxType'              : 'warning',
                                    'fieldCheckboxChecked'           : needAuthChecked,
                                    'fieldCheckboxAdditionClass'     : 'text-sm text-uppercase m-0',
                                    'fieldBazScan'                   : false,
                                    'fieldDataAttributes'            :
                                    [
                                        'component_id'               : module['id'],
                                        'app_id'                     : app['id'],
                                        'type'                       : 'needauth',
                                        'needauth'                   : module['id']
                                    ]
                                ]
                            )}}
                        {% endif %}
                    </td>
                {% endif %}
                <td>
                    {% if moduleType === 'view' %}
                        {{module['display_name']}}
                    {% else %}
                        {{module['name']}}
                    {% endif %}
                </td>
                <td class="text-truncate" style="max-width: 20rem;">
                    {{module['description']}}
                </td>
                <td>
                    {{module['category']|capitalize}}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>