{% if purchaseOrder['id'] is defined %}
    {% set purchaseOrderId = purchaseOrder['id'] %}
    {% set title = 'Purchase Order Id: ' ~ purchaseOrder['id'] %}
    {% set secondaryButtons = [] %}
    {% if purchaseOrder['status'] == '1' %}
        {% set secondaryButtons = array_merge(secondaryButtons,
            [
                'submit'   :
                [
                    'title'                   : 'Submit for approval',
                    'size'                    : 'sm',
                    'type'                    : 'primary',
                    'icon'                    : 'user-check'
                ]
            ]
        ) %}
    {% elseif purchaseOrder['status'] == '2' and purchaseOrder['approver_id'] == auth.account()['id'] %}
        {% set secondaryButtons = array_merge(secondaryButtons,
            [
                'approve'   :
                [
                    'title'                   : 'Approve',
                    'size'                    : 'sm',
                    'type'                    : 'success',
                    'icon'                    : 'user-check'
                ],
                'send'   :
                [
                    'title'                   : 'Send',
                    'size'                    : 'sm',
                    'type'                    : 'primary',
                    'icon'                    : 'envelope'
                ]
            ]
        ) %}
    {% else %}
        {% set secondaryButtons = array_merge(secondaryButtons,
            [
                'send'   :
                [
                    'title'                   : 'Send',
                    'size'                    : 'sm',
                    'type'                    : 'primary',
                    'icon'                    : 'envelope'
                ]
            ]
        ) %}
    {% endif %}
    {% set formSecondaryButtons =
        [
            'componentId'           : componentId,
            'sectionId'             : 'listing',
            'buttonType'            : 'button',
            'buttons'               : secondaryButtons
        ]
    %}
{% else %}
    {% set purchaseOrderId = '' %}
    {% set title = 'New Purchase Order' %}
    {% set formSecondaryButtons = [] %}
{% endif %}
{{adminltetags.useTag('content',
    [
        'component'                     : component,
        'componentName'                 : componentName,
        'componentId'                   : componentId,
        'parentComponentId'             : parent,
        'sectionId'                     : 'main',
        'contentType'                   : 'sectionWithForm',
        'cardHeader'                    : true,
        'cardFooter'                    : true,
        'cardType'                      : 'primary',
        'cardIcon'                      : 'receipt',
        'cardTitle'                     : title,
        'cardAdditionalClass'           : 'rounded-0',
        'cardBodyInclude'               : 'purchaseorders/form',
        'formButtons'                   :
        [
            'canAdd'                        : canAdd,
            'canUpdate'                     : canUpdate,
            'updateButtonId'                : purchaseOrderId,
            'addActionUrl'                  : 'ims/stock/purchaseorders/add',
            'addSuccessRedirectUrl'         : 'ims/stock/purchaseorders',
            'updateActionUrl'               : 'ims/stock/purchaseorders/update',
            'updateSuccessRedirectUrl'      : 'ims/stock/purchaseorders',
            'cancelActionUrl'               : 'ims/stock/purchaseorders',
            'closeActionUrl'                : 'ims/stock/purchaseorders'
        ],
        'formSecondaryButtons'              : formSecondaryButtons,
        'dataDependencies'     :
        [
            [
                'componentName'         : 'Storages',
                'componentVar'          : storages,
                'componentRoute'        : false
            ],
            [
                'componentName'         : 'Entities',
                'componentVar'          : entities,
                'componentRoute'        : false
            ],
            [
                'componentName'         : 'Vendors',
                'componentVar'          : vendors,
                'componentErrorMessage' : 'Please <a href="' ~ links.url('business/directory/vendors') ~ '" class="contentAjaxLink text-primary">click here</a> to add new vendor (Is Supplier) contact systems administrator for further instructions'
            ],
            [
                'componentName'         : 'Locations',
                'componentVar'          : locations,
                'componentRoute'        : 'business/locations',
                'componentErrorMessage' : 'Please <a href="' ~ links.url('business/locations') ~ '" class="contentAjaxLink text-primary">click here</a> to add new location (with Inbound Shipping) contact systems administrator for further instructions'
            ]
        ]
    ]
)}}