
{# {% if not dtParams['LengthMenu'] %}
    {% set dtParams['LengthMenu'] = [ [10, 20, -1], [10, 20, "All"] ] %}
{% endif %}
{% if dtParams['PrimaryButtons'] %}
    <div id="{{componentId}}-{{sectionId}}-primary-buttons" class="row mb-2">
        <div class="col">
            {% include 'thelpers/buttons.html' with dtParams['PrimaryButtons'] %}
        </div>
    </div>
{% endif %}
{% if dtParams['Striped'] %}
    {% set hasTableStriped = 'table-striped' %}
{% endif %}
{% if dtParams['Bordered'] %}
    {% set hasTableBordered = 'table-bordered' %}
{% endif %}
<div id="{{componentId}}-{{sectionId}}" class="row">
    <div class="col">
        <div class="row m-2 text-center" id="list-data-loader">
            <div class="col">
                <div class="fa-2x">
                    <i class="fa fa-cog fa-spin"></i> Loading...
                </div>
            </div>
        </div>
        <table id="{{componentId}}-{{sectionId}}-table" class="table {{hasTableStriped}} {{hasTableBordered}}" style="margin:0 !important;" width="100%" cellspacing="0">
            <tbody></tbody>
        </table>
    </div>
</div>
{% set dtParams['RowControls'] = false %}
{% set rowsData = [] %}
{% if component %}
    {% for rowId, columns in component %}
        {% set rowData = [] %}
        {% for columnKey, column in columns %}
            {% if dtParams['ReplaceColumns'] %}
                {% for replaceColumnKey, replaceColumn in dtParams['ReplaceColumns'] %}
                    {% if replaceColumnKey == columnKey %}
                        {% for replaceValueKey, replaceValue in replaceColumn %}
                            {% if replaceValueKey == 'customSwitch' %}
                                {% if column == 1 %}
                                    {% set checked = 'checked' %}
                                {% endif %}
                                {% if replaceValue.0.switchType and replaceValue.1.switchType %}
                                    {% set offSwitchType = 'custom-switch-off-' ~ replaceValue.0.switchType %}
                                    {% set onSwitchType = 'custom-switch-on-' ~ replaceValue.1.switchType %}
                                {% endif %}
                                {% set customswitch =
                                    '<div class="form-group">' ~
                                        '<div class="custom-control custom-switch ' ~ offSwitchType ~ ' ' ~ onSwitchType ~ '">
                                            <input type="checkbox" class="custom-control-input" id="' ~ componentId ~ '-sections-list-datatable-' ~ columnKey ~ '-' ~ rowId ~ '" data-switchactionurl="' ~ replaceValue.actionUrl ~ '" data-switchactionincludecolumnsdata="' ~ replaceValue.actionIncludeColumnsData ~ '" data-notificationtextfromcolumn="' ~ dtParams['NotificationTextFromColumn']|default('name') ~ '" data-columnid="' ~ columnKey ~ '" ' ~ checked ~ '>
                                            <label class="custom-control-label" for="' ~ componentId ~ '-sections-list-datatable-' ~ columnKey ~ '-' ~ rowId ~ '"></label>
                                        </div>
                                    </div>' %}
                                {% set column = customswitch %}
                            {% elseif replaceValueKey == 'radioButtons' %}
                                {% set radiobuttons =
                                    '<div class="btn-group btn-group-toggle" data-toggle="buttons" role="group" aria-label="' ~ columnKey ~ ' group">' %}
                                {% for valueKey, value in replaceValue %}
                                    {% if value is iterable %}
                                        {% if valueKey == column %}
                                            {% set focusActive = 'focus active' %}
                                            {% set checked = 'checked' %}
                                        {% else %}
                                            {% set focusActive = '' %}
                                            {% set checked = '' %}
                                        {% endif %}
                                        {% set radiobuttons = radiobuttons ~
                                            '<label class="btn btn-' ~ value.buttonSize|default('xs') ~ ' btn-outline-' ~ value.buttonType|default('primary') ~ ' ' ~ focusActive ~ '" style="cursor: pointer;">
                                            <input type="radio" name="' ~ columnKey ~ '-options" id="' ~ componentId ~ '-sections-list-datatable-' ~ columnKey ~ '-' ~ rowId ~ '-' ~ valueKey ~ '" autocomplete="off" ' ~ checked ~ ' data-radiobuttonsactionurl="' ~ replaceValue.actionUrl ~ '" data-radiobuttonsactionincludecolumnsdata="' ~ replaceValue.actionIncludeColumnsData ~ '" data-notificationtextfromcolumn="' ~ dtParams['NotificationTextFromColumn']|default('name') ~ '" data-columnid="' ~ columnKey ~ '" data-value="' ~ valueKey ~ '">' ~ value.buttonTitle|raw ~ '</label>' %}
                                    {% endif %}
                                {% endfor %}
                                {% set radiobuttons = radiobuttons ~ '</div>' %}
                                {% set column = radiobuttons %}
                            {% elseif replaceValueKey == 'html' %}
                                {% for valueKey, value in replaceValue %}
                                    {% if valueKey == column %}
                                        {% set column = value %}
                                    {% endif %}
                                {% endfor %}
                            {% elseif replaceValueKey == 'copyDataFrom' %}
                                {% set break = false %}
                                {% for componentId, componentValue in component if not break %}
                                    {% for replaceTextValueKey, replaceTextValueValue in componentValue %}
                                        {% if replaceTextValueKey == replaceValue.matchValueToKey %}
                                            {% if column == replaceTextValueValue %}
                                                {% set column = componentValue[replaceValue.getDataFromKey] %}
                                                {% set break = true %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                                {% if not break %}
                                    {% if replaceValue.manualChange %}
                                        {% for valueKey, value in replaceValue.manualChange %}
                                            {% if valueKey == column %}
                                                {% set column = value %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if columnKey == '__control' %}
                {% set controlbuttons = '' %}
                {% set controlButtons = [] %}
                {% for controlKey, control in column %}
                    {% if controlKey == 'view' %}
                        {% set controlButtons = controlButtons|merge({
                            (controlKey) : {
                                'title'             : 'VIEW',
                                'additionalClass'   : 'rowView ' ~ dtParams['ControlsLinkClass']|default('contentAjaxLink'),
                                'icon'              : 'eye',
                                'buttonType'        : 'info',
                                'link'              : control
                            }
                        }) %}
                    {% elseif controlKey == 'edit' or controlKey == 'update' %}
                        {% set controlButtons = controlButtons|merge({
                            (controlKey) : {
                                'title'             : 'EDIT',
                                'additionalClass'   : 'rowEdit ' ~ dtParams['ControlsLinkClass']|default('contentAjaxLink'),
                                'icon'              : 'edit',
                                'buttonType'        : 'warning',
                                'link'              : control
                            }
                        }) %}
                    {% elseif controlKey == 'remove' or controlKey == 'delete' %}
                        {% set controlButtons = controlButtons|merge({
                            (controlKey) : {
                                'title'             : 'REMOVE',
                                'additionalClass'   : 'rowRemove',
                                'icon'              : 'trash',
                                'buttonType'        : 'danger',
                                'link'              : control
                            }
                        }) %}
                    {% else %}
                        {% set controlButtons = controlButtons|merge({
                            'divider'   : '<div class="dropdown-divider"></div>'
                        }) %}
                        {% for additionControlButtonKey, additionControlButton in dtParams['AdditionControlButtons'] %}
                            {% if additionControlButtonKey == controlKey %}
                                {% set controlButtons = controlButtons|merge({
                                    (controlKey) : {
                                        'title'             : additionControlButton.title|default('MISSING TITLE'),
                                        'additionalClass'   : additionControlButton.additionalClass|default('contentAjaxLink'),
                                        'icon'              : additionControlButton.icon|default('circle'),
                                        'buttonType'        : additionControlButton.buttonType|default('primary'),
                                        'link'              : control
                                    }
                                }) %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                {% if controlButtons|length == 1 %}
                    {% for controlButtonKey, controlButton in controlButtons %}
                        {% set controlbuttons = controlbuttons ~ '<a href="' ~ link(controlButton.link) ~ '" id="' ~ componentId ~ '-' ~ controlButtonKey ~ '-' ~ columnKey ~ '-' ~ rowId ~ '" type="button" data-id="' ~ columns.id ~ '" data-rowid="' ~ rowId ~ '" class="ml-1 mr-1 pl-2 pr-2 text-white btn btn-' ~ controlButton.buttonType ~ ' btn-xs ' ~ controlButton.additionalClass ~ '" data-notificationtextfromcolumn="' ~ dtParams['NotificationTextFromColumn']|default('name') ~ '"><i class="mr-1 fas fa-fw fa-xs fa-' ~ controlButton.icon ~ '"></i>' ~ controlButton.title|upper ~ '</a>' %}
                    {% endfor %}
                {% elseif controlButtons|length > 1 %}
                    {% for controlButtonKey, controlButton in controlButtons %}
                        {% if loop.first %}
                            {% set controlbuttons = controlbuttons ~
                            '<div class="btn-group"><a href="' ~ link(controlButton.link) ~ '" id="' ~ componentId ~ '-' ~ controlButtonKey ~ '-' ~ columnKey ~ '-' ~ rowId ~ '" type="button" data-id="' ~ columns.id ~ '" data-rowid="' ~ rowId ~ '" class="pl-2 pr-2 text-white btn btn-' ~ controlButton.buttonType ~ ' btn-xs ' ~ controlButton.additionalClass ~ '" data-notificationtextfromcolumn="' ~ dtParams['NotificationTextFromColumn']|default('name') ~ '"><i class="mr-1 fas fa-fw fa-xs fa-' ~ controlButton.icon ~ '"></i> ' ~ controlButton.title|upper ~ '</a><button type="button" class="pl-2 pr-2 btn btn-default btn-xs dropdown-toggle dropdown-icon" data-toggle="dropdown"><span class="sr-only">Toggle Dropdown</span><div class="dropdown-menu dropdown-menu-right" role="menu">' %}
                        {% else %}
                            {% if controlButtonKey == 'divider' %}
                                {% set controlbuttons = controlbuttons ~ controlButton %}
                            {% else %}
                                {% set controlbuttons = controlbuttons ~ '<a href="' ~ link(controlButton.link) ~ '" id="' ~ componentId ~ '-' ~ controlButtonKey ~ '-' ~ columnKey ~ '-' ~ rowId ~ '" data-id="' ~ columns.id ~ '" data-rowid="' ~ rowId ~ '" class="dropdown-item text-' ~ controlButton.buttonType ~ ' ' ~ controlButton.additionalClass ~ '" data-notificationtextfromcolumn="' ~ dtParams['NotificationTextFromColumn']|default('name') ~ '"><i class="mr-1 fas fa-fw fa-xs fa-' ~ controlButton.icon ~ '"></i> ' ~ controlButton.title|upper ~ '</a>' %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                        {% set controlbuttons = controlbuttons ~ '</div></button></div>' %}
                {% endif %}
                {% set column = controlbuttons %}
                {% set dtParams['RowControls'] = true %}
            {% endif %}
            {% set rowData = rowData|merge({(columnKey): column}) %}
        {% endfor %}
        {% set rowsData = rowsData|merge([rowData]) %}
    {% endfor %}
{% else %}
    <span class="text-uppercase text-danger">{{('TEMPLATE ERROR: {% set component = componentName %} statement missing in component')}}</span>
{% endif %}
<script>
if (!window['bazDataCollection']['{{componentId}}']) {
    window['bazDataCollection']['{{componentId}}'] = { };
}
window['bazDataCollection']['{{componentId}}']['{{componentId}}-{{sectionId}}'] =
    $.extend(window['bazDataCollection']['{{componentId}}']['{{componentId}}-{{sectionId}}'], {
        '{{componentId}}-{{sectionId}}-table' : {
            'listOptions'       : {
                'componentName'         : '{{componentName}}',
                'tableName'             : '{{componentId}}-{{sectionId}}-table',
                'datatable'     : {
                    'columns'                           : JSON.parse('{{sectionsListDatatableTableColumns|json_encode|raw}}'),
                    'NoOfColumnsToShow'                 : '{{sectionsListDatatableTableNoOfColumnsToShow|default("3")}}',
                    'hasIdColumn'                       : '{{sectionsListDatatableTableHasIdColumn|default("true")}}',
                    'hideIdColumn'                      : '{{sectionsListDatatableTableHideIdColumn|default("true")}}',
                    'showHideColumnsButton'             : '{{sectionsListDatatableTableShowHideColumnsButton|default("true")}}',
                    'showHideExportButton'              : '{{sectionsListDatatableTableShowHideExportButton|default("true")}}',
                    'colReorder'                        : '{{sectionsListDatatableTableColReorder|default("false")}}',
                    'stateSave'                         : '{{sectionsListDatatableTableStateSave|default("false")}}',
                    'fixedHeader'                       : '{{sectionsListDatatableTableFixedHeader|default("true")}}',
                    'searching'                         : '{{sectionsListDatatableTableSearching|default("true")}}',
                    'responsive'                        : '{{sectionsListDatatableTableResponsive|default("true")}}',
                    'paging'                            : '{{sectionsListDatatableTablePaging|default("false")}}',
                    'lengthMenu'                        : JSON.parse('{{sectionsListDatatableTableLengthMenu|json_encode|e("js")}}'),
                    'select'                            : '{{sectionsListDatatableTableSelect|default("false")}}',
                    'selectAll'                         : '{{sectionsListDatatableTableSelectAll|default("false")}}',
                    'selectStyle'                       : '{{sectionsListDatatableTableSelectStyle|default("single")}}',
                    'disableColumnsOrdering'            : '{{sectionsListDatatableTableDisableColumnsOrdering|json_encode|e("js")}}',
                    'zeroRecords'                       : '{{sectionsListDatatableTableZeroRecords|default("missing sectionsListDatatableTableZeroRecords")}}',
                    'notificationTextFromColumn'        : '{{sectionsListDatatableTableNotificationTextFromColumn|default("name")}}',//What text to show on delete message
                    'sendConfirmRemove'                 : '{{sectionsListDatatableTableSendConfirmRemove|default("false")}}',
                    'data'                              : JSON.parse('{{rowsData|json_encode|e("js")}}'),
                    'rowControls'                       : '{{sectionsListDatatableTableRowControls}}',
                    'replaceColumns'                    : JSON.parse('{{sectionsListDatatableTableReplaceColumns|json_encode|e("js")}}')
                }
            },
            'customFunctions' : {
                'beforeTableInit'   : function() { 'use strict'; },
                'afterTableInit'    : function() { 'use strict'; },
                'beforeRedraw'      : function() { 'use strict'; },
                'afterRedraw'       : function() { 'use strict'; }
            }
        }
    });
</script> #}
