<!-- htmlmin:ignore -->
{% if treeMode == 'jstree' %}
    {% if groupIcon %}
        <li class="{{groupAdditionalClass}}" data-id="{{items.id}}" data-jstree="{{groupIcon}}">
            {% if items.title %}
                {{items.title}}
            {% elseif items.name %}
                {{items.name}}
            {% elseif items.entry %}
                {{items.entry}}
            {% endif %}
    {% else %}
        <li class="{{groupAdditionalClass}}" data-id="{{items.id}}" data-jstree="">
            {% if items.title %}
                {{items.title}}
            {% elseif items.name %}
                {{items.name}}
            {% elseif items.entry %}
                {{items.entry}}
            {% endif %}
    {% endif %}
        <ul>
            {% if items.childs %}
            {% set children = true %}
            {% set treeData = items.childs %}
            {{ include('thelpers/tree/treeview.html') }}
            {% endif %}
        </ul>
    {% if groupIcon %}
        </li>
    {% else %}
        </li>
    {% endif %}
{% elseif treeMode == 'sideMenu' %}
    <li class="nav-item has-treeview">
        <a href="#" class="nav-link">
            {% if items.title  == 'INVENTORY' %}
                {% set icon = 'box-open' %}
            {% elseif items.title == 'ORDERS' %}
                {% set icon = 'shopping-bag' %}
            {% elseif items.title == 'TOOLS' %}
                {% set icon = 'wrench' %}
            {% elseif items.title == 'SETTINGS' %}
                {% set icon = 'cogs' %}
            {% else %}
                {% set icon = items.icon %}
            {% endif %}
            {% if not icon %}
                <i class="fas fa-fw fa-circle nav-icon"></i><p class="text-uppercase"> {{items.title}} <i class="right fas fa-angle-left"></i></p>
            {% else %}
                {% if icon %}
                    <i class="fas fa-fw fa-{{icon}} nav-icon"></i><p class="text-uppercase"> {{items.title}} <i class="right fas fa-angle-left"></i></p>
                {% else %}
                    <i class="fas fa-fw fa-circle nav-icon"></i><p class="text-uppercase"> {{items.title}} <i class="right fas fa-angle-left"></i></p>
                {% endif %}
            {% endif %}
        </a>
        <ul class="nav nav-treeview">
            {% if items.childs %}
            {% set children = true %}
            {% set treeData = items.childs %}
            {{ include('thelpers/tree/treeview.html') }}
            {% endif %}
        </ul>
    </li>
{% elseif treeMode == 'select2' %}
    {% if (items.value) %}
        <optgroup label="{{items.value}}">
    {% endif %}
    {% if items.childs %}
        {% set treeData = items.childs %}
            {{ include('thelpers/tree/treeview.html') }}
    {% endif %}
    {% if (items.value) %}
        </optgroup>
    {% endif %}
{% endif %}
<!-- htmlmin:ignore -->