<div class="row">
	<div class="col">
		<h5 class="card-title">Install Component Barebone Module</h5>
		<p class="card-text">This will install a component barebone module that you can develop on your own.</p>
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<label class="input-group-text" for="component-barebone-application">Select Application</label>
			</div>
			<select class="custom-select" id="component-barebone-application">
				<option value="0" selected>Select...</option>
				{% for application in applications %}
					{% if application['name'] != 'Admin' %}
						<option value="{{application['id']}}">{{application['name']}}</option>
					{% endif %}
				{% endfor %}
			</select>
		</div>
		<div class="form-group">
			<label for="component-barebone-name">Component Name *</label>
			<div class="input-group">
				<input type="text" name="component-barebone-name" id="component-barebone-name" class="form-control" placeholder="Eg: Home/Settings">
			</div>
		</div>
		<button class="btn btn-primary float-right" type="button" id="component-install-barebone-button">Install</button>
	</div>
</div>
<script type="text/javascript">
	$('#component-install-barebone-button').click(function() {
		$('#alert').attr('hidden', true);
		if ($('#component-barebone-application option:selected').val() === '0') {
			$('#component-barebone-application').addClass('is-invalid');
			$('#component-barebone-application').focus(function() {
				$(this).removeClass('is-invalid');
			});
		} else if ($('#component-barebone-name').val() === '') {
			$('#component-barebone-name').addClass('is-invalid');
			$('#component-barebone-name').focus(function() {
				$(this).removeClass('is-invalid');
			});
		} else {
			var postData =
				{
					'task'						: 'component',
					'application_id'			: $('#component-barebone-application option:selected').val(),
					'componentName'				: $('#component-barebone-name').val().trim(),
				};

			$('#component-install-barebone-button').attr('disabled', true);

			$.post('/{{route}}/barebone/install', postData, function(data) {
				if (data && data.responseCode === 0) {
					PNotify.success({
						text		: data.responseMessage,
						textTrusted	: true
					});

				} else {
					PNotify.error({
						text		: data.responseMessage,
						textTrusted	: true
					});

				}
				$('#component-install-barebone-button').attr('disabled', false);
			}, 'json');
		}
	});
</script>