<div class="row">
    <div class="col">
        <h5>Install Package Barebone Module</h5>
        <p>This will install a package barebone module that you can develop on your own.</p>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="package-barebone-application">Select Application</label>
            </div>
            <select class="custom-select" id="package-barebone-application">
                <option value="0" selected="selected">Select...</option>
                {% for application in applications %}
                    {% if application['name'] != 'Admin' %}
                        <option value="{{application['id']}}">{{application['name']}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="package-barebone-name">Package Name *</label>
            <div class="input-group">
                <input type="text" name="package-barebone-name" id="package-barebone-name" class="form-control" placeholder="Eg: Home/Settings">
            </div>
        </div>
        <button class="btn btn-primary float-right" type="button" id="package-install-barebone-button">Install</button>
    </div>
</div>
<script>
/*global PNotify */
$('#package-install-barebone-button').click(function() {
    'use strict';
    $('#alert').attr('hidden', true);
    if ($('#package-barebone-application option:selected').val() === '0') {
        $('#package-barebone-application').addClass('is-invalid');
        $('#package-barebone-application').focus(function() {
            $(this).removeClass('is-invalid');
        });
    } else if ($('#package-barebone-name').val() === '') {
        $('#package-barebone-name').addClass('is-invalid');
        $('#package-barebone-name').focus(function() {
            $(this).removeClass('is-invalid');
        });
    } else {
        var postData =
            {
                'task'                      : 'package',
                'application_id'            : $('#package-barebone-application option:selected').val(),
                'packageName'               : $('#package-barebone-name').val().trim(),
            };

        $('#package-install-barebone-button').attr('disabled', true);

        $.post('/{{route}}/barebone/install', postData, function(data) {
            if (data && data.responseCode === 0) {
                PNotify.success({
                    text        : data.responseMessage,
                    textTrusted : true
                });

            } else {
                PNotify.error({
                    text        : data.responseMessage,
                    textTrusted : true
                });

            }
            $('#package-install-barebone-button').attr('disabled', false);
        }, 'json');
    }
});
</script>