<div class="p-2">
	{% if viewsData.settings.cache == 'false' %}
		{% set checked = '' %}
	{% elseif viewsData.settings.cache == 'true' %}
		{% set checked = 'checked' %}
	{% endif %}
	<div class="row">
		<div class="col">
			<label>Caching?</label>
			<div class="form-group">
				<div class="checkbox icheck-success">
					<input type="checkbox" name="views-cache" id="views-cache" {{checked}}>
					<label for="views-cache"></label>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="form-group">
				<label for="views-layout">Layout File</label>
				<div class="input-group">
					<input type="text" name="views-layout" id="views-layout" class="form-control" value="{{viewsData.settings.layout}}" placeholder="Layout" disabled>
				</div>
			</div>
		</div>
	</div>
</div>