{% set clientId = '' %}
{% set clientSecret = '' %}
{% set clientIdHidden = true %}
{% set clientSecretHidden = true %}
{% set reGenerateHidden = true %}
{% set generateHidden = false %}
{% set clientSecretInputFieldType = 'text' %}
{% if account['api_client'] is defined and account['api_client']['client_id'] is defined and account['api_client']['client_id'] !== '' and account['api_client']['client_secret'] is defined and account['api_client']['client_secret'] !== '' %}
    {% set clientId = account['api_client']['client_id'] %}
    {% set clientSecret = account['api_client']['client_secret'] %}
    {% set reGenerateHidden = true %}
    {% set generateHidden = false %}
{% endif %}
{% if clientId !== '' and clientSecret !== '' %}
    {% set clientIdHidden = false %}
    {% set clientSecretHidden = false %}
    {% set clientSecretInputFieldType = 'password' %}
    {% set reGenerateHidden = false %}
    {% set generateHidden = true %}
{% endif %}
<div class="row">
    <div class="col">
        {{adminltetags.useTag('buttons',
            [
                'component'                 : component,
                'componentName'             : componentName,
                'componentId'               : componentId,
                'sectionId'                 : sectionId,
                'buttonType'                : 'button',
                'buttonLabel'               : 'Generate/Regenerate API Client Keys',
                'buttons'                   :
                    {
                        'generate-api-client-keys'    : {
                            'title'                   : 'Generate API Client Keys',
                            'size'                    : 'sm',
                            'type'                    : 'primary',
                            'icon'                    : 'cog fa-spin',
                            'iconHidden'              : true,
                            'hidden'                  : generateHidden
                        },
                        'regenerate-api-client-keys'  : {
                            'title'                   : 'Revoke & Regenerate API Client Keys',
                            'size'                    : 'sm',
                            'type'                    : 'danger',
                            'icon'                    : 'cog fa-spin',
                            'iconHidden'              : true,
                            'hidden'                  : reGenerateHidden
                        }
                    }
            ]
        )}}
    </div>
    <div class="col">
        {{adminltetags.useTag('fields',
            [
                'component'                             : component,
                'componentName'                         : componentName,
                'componentId'                           : componentId,
                'sectionId'                             : sectionId,
                'fieldId'                               : 'api_client_id',
                'fieldLabel'                            : 'Client ID',
                'fieldType'                             : 'input',
                'fieldHelp'                             : true,
                'fieldHelpTooltipContent'               : 'Client ID for API authentication.',
                'fieldDisabled'                         : true,
                'fieldHidden'                           : clientIdHidden,
                'fieldBazScan'                          : true,
                'fieldBazJstreeSearch'                  : true,
                'fieldValue'                            : clientId
            ]
        )}}
    </div>
    <div class="col">
        {{adminltetags.useTag('fields',
            [
                'component'                             : component,
                'componentName'                         : componentName,
                'componentId'                           : componentId,
                'sectionId'                             : sectionId,
                'fieldId'                               : 'api_client_secret',
                'fieldLabel'                            : 'Client Secret',
                'fieldType'                             : 'input',
                'fieldHelp'                             : true,
                'fieldHelpTooltipContent'               : 'Client Secret for API authentication.',
                'fieldDisabled'                         : true,
                'fieldInputType'                        : clientSecretInputFieldType,
                'fieldHidden'                           : clientSecretHidden,
                'fieldBazScan'                          : true,
                'fieldBazJstreeSearch'                  : true,
                'fieldValue'                            : clientSecret
            ]
        )}}
    </div>
</div>
<small class="text-danger">Note: Client secret is only shown at the time of key generation. Please copy and save it somewhere safe.</small><br>
<small class="text-info">Note: This client ID and client secret are only for this domain <strong>({{domains.domain['name']}})</strong> and this app <strong>({{apps.getAppInfo()['name']}})</strong>.</small>