{% set clientId = '' %}
{% set clientSecret = '' %}
{% set clientIdHidden = true %}
{% set clientSecretHidden = true %}
{% if account['api'] is defined and account['api']['client_id'] is defined and account['api']['client_id'] !== '' and account['api']['client_secret'] is defined and account['api']['client_secret'] !== '' %}
    {% set clientId = account['api']['client_id'] %}
    {% set clientSecret = account['api']['client_secret'] %}
{% endif %}
{% if clientId !== '' and clientSecret !== '' %}
    {% set clientIdHidden = false %}
    {% set clientSecretHidden = false %}
{% endif %}
<div class="row">
    <div class="col">
        {{adminltetags.useTag('buttons',
            [
                'component'                 : component,
                'componentName'             : componentName,
                'componentId'               : componentId,
                'sectionId'                 : sectionId,
                'buttonType'                : 'button',
                'buttonLabel'               : 'Generate/Regenerate API Client Keys',
                'buttons'                   :
                    {
                        'generate-api-client-keys'   : {
                            'title'                   : 'Generate/Regenerate API Client Keys',
                            'size'                    : 'sm',
                            'type'                    : 'primary',
                            'icon'                    : 'cog fa-spin',
                            'iconHidden'              : true
                        }
                    }
            ]
        )}}
    </div>
    <div class="col">
        {{adminltetags.useTag('fields',
            [
                'component'                             : component,
                'componentName'                         : componentName,
                'componentId'                           : componentId,
                'sectionId'                             : sectionId,
                'fieldId'                               : 'api_client_id',
                'fieldLabel'                            : 'Client ID',
                'fieldType'                             : 'input',
                'fieldHelp'                             : true,
                'fieldHelpTooltipContent'               : 'Client ID for API authentication.',
                'fieldDisabled'                         : true,
                'fieldHidden'                           : clientIdHidden,
                'fieldBazScan'                          : true,
                'fieldBazJstreeSearch'                  : true,
                'fieldValue'                            : clientId
            ]
        )}}
    </div>
    <div class="col">
        {{adminltetags.useTag('fields',
            [
                'component'                             : component,
                'componentName'                         : componentName,
                'componentId'                           : componentId,
                'sectionId'                             : sectionId,
                'fieldId'                               : 'api_client_secret',
                'fieldLabel'                            : 'Client Secret',
                'fieldType'                             : 'input',
                'fieldHelp'                             : true,
                'fieldHelpTooltipContent'               : 'Client Secret for API authentication.',
                'fieldDisabled'                         : true,
                'fieldHidden'                           : clientSecretHidden,
                'fieldBazScan'                          : true,
                'fieldBazJstreeSearch'                  : true,
                'fieldValue'                            : clientSecret
            ]
        )}}
    </div>
</div>