<div class="row p-2">
	<div class="col">
		<input type="hidden" name="id" id="id" class="form-control" value="{{application['id']}}">
{# 		<input type="hidden" name="installed" id="installed" class="form-control" value="{{application['installed']}}">
		<input type="hidden" name="dependencies" id="dependencies" class="form-control" value="{{application['dependencies']}}">
 #}		<div class="row">
			<div class="col">
				<div class="form-group">
					<label for="version">Version</label>
					<div class="input-group">
						<input type="text" name="version" id="version" class="form-control" value="{{application['version']}}" placeholder="Version" disabled>
					</div>
				</div>
			</div>
			{% if application['is_default'] == 0 %}
				{% set checked = '' %}
			{% elseif application['is_default'] == 1 %}
				{% set checked = 'checked' %}
				{% set disabled = 'disabled' %}
			{% endif %}
			<div class="col">
				<label>Application is default?</label>
				<div class="form-group">
					<div class="checkbox icheck-success">
						<input type="checkbox" name="is-default" id="is-default" {{checked}} {{disabled}}>
						<label for="is-default"></label>
					</div>
				</div>
			</div>
			{% if application['mode'] == 0 %}
				{% set production = 'checked' %}
				{% set development = '' %}
				{% set developmentactive = '' %}
				{% set productionactive = 'btn-primary active' %}
				{% set productioninactive = '' %}
				{% set developmentactive = '' %}
				{% set developmentinactive = 'btn-secondary' %}
			{% elseif application['mode'] == 1 %}
				{% set production = '' %}
				{% set development = 'checked' %}
				{% set developmentactive = 'btn-primary active' %}
				{% set developmentinactive = '' %}
				{% set productionactive = '' %}
				{% set productioninactive = 'btn-secondary' %}
			{% endif %}
			<div class="col">
				<label>Mode</label><br>
				<div class="btn-group btn-group-toggle" data-toggle="buttons">
					<label class="btn {{productionactive}}{{productioninactive}}">
						<input type="radio" name="mode-options" class="mode-options" id="production" {{production}}>Production
					</label>
					<label class="btn {{developmentactive}}{{developmentinactive}}">
						<input type="radio" name="mode-options" class="mode-options" id="development" {{development}}>Development
					</label>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="form-group">
					<label for="name">Application Name</label>
					<div class="input-group">
						<input type="text" name="name" id="name" class="form-control" value="{{application['name']}}" placeholder="Application Name" disabled>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="form-group">
					<label for="route">Route</label>
					<div class="input-group">
						<input type="text" name="route" id="route" class="form-control" value="{{application['route']}}" placeholder="Route">
					</div>
				</div>
			</div>
			<div class="col">
				<div class="form-group">
					<label for="display-name">Application Display Name</label>
					<div class="input-group">
						<input type="text" name="display-name" id="display-name" class="form-control" value="{{application['display_name']}}" placeholder="Application Display Name">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="form-group">
					<label for="description">Description</label>
					<div class="input-group">
						<textarea name="description" id="description" class="form-control" placeholder="Description">{{application['description']}}</textarea>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="form-group">
					<label for="application-repo">Repository URL</label>
					<div class="input-group">
						<input type="text" name="application-repo" id="application-repo" class="form-control" placeholder="Eg: https://api.github.com/orgs/h-w-f/application-repo" value="{{application['repo']}}">
					</div>
				</div>
			</div>
		</div>
		<label>Defaults</label>
		<div class="row">
			<div class="col">
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<label class="input-group-text" for="components">Component</label>
					</div>
					<select class="custom-select" id="settings-application-component">
						<option value="0">Select Component</option>
						{% for component in components %}
							{% if component['name'] == settings['component'] %}
								<option value="{{component['name']}}" selected>{{component['display_name']}}</option>
							{% else %}
								<option value="{{component['name']}}">{{component['display_name']}}</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="col">
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<label class="input-group-text" for="views">View</label>
					</div>
					<select class="custom-select" id="settings-application-view">
						<option value="0">Select View</option>
						{% for view in views %}
							{% if view['name'] == settings['view'] %}
								<option value="{{view['name']}}" selected>{{view['display_name']}}</option>
							{% else %}
								<option value="{{view['name']}}">{{view['display_name']}}</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$('.mode-options').each(function(index, option) {
		$($(option).parent()).click(function() {
			var selectedOptionId = $(this).children()[0].id;

			if (selectedOptionId === 'production') {
				$('#' + selectedOptionId).parent().addClass('btn-primary').removeClass('btn-secondary');
				$('#development').parent().removeClass('btn-primary').addClass('btn-secondary');
			}

			if (selectedOptionId === 'development') {
				$('#' + selectedOptionId).parent().addClass('btn-primary').removeClass('btn-secondary');
				$('#production').parent().removeClass('btn-primary').addClass('btn-secondary');
			}
		});
	});

	$('#modal-save').click(function() {
		var postData = { };

		postData['type'] = 'applications';
		postData['id'] = $('#id').val();
		postData['is_default'] = $('#is-default')[0].checked;
		postData['force'] = '0';
		postData['name'] = $('#name').val();
		postData['route'] = $('#route').val();
		postData['display_name'] = $('#display-name').val();
		postData['description'] = $('#description').val();
		postData['repo'] = $('#application-repo').val();
		postData['settings'] = { };
		postData['settings']['component'] = $('#settings-application-component').val();
		postData['settings']['view'] = $('#settings-application-view').val();

		if ($('input[name=mode-options]:checked')[0].id === 'production') {
			postData['mode'] = 0;
		} else if ($('input[name=mode-options]:checked')[0].id === 'development') {
			postData['mode'] = 1;
		}

		if ($('#settings-application-component').val() === '0') {
			$('#settings-application-component').addClass('is-invalid');
			$('#settings-application-component').focus(function() {
				$(this).removeClass('is-invalid');
			});
		} else if ($('#settings-application-view').val() === '0') {
			$('#settings-application-view').addClass('is-invalid');
			$('#settings-application-view').focus(function() {
				$(this).removeClass('is-invalid');
			});
		} else {
			$.post('/{{route}}/modules/module/settings/edit', postData, function(data) {
				if (data.responseCode === 0) {
					location.reload();
				} else if (data.responseCode === 2) {
					Swal.fire({
						title 				: data.responseMessage,
						icon				: 'info',
						showCancelButton	: true,
						showDenyButton		: true,
						confirmButtonText	: 'Save & Make Default',
						denyButtonText		: 'Save & Don\'t Make Default',
						width				: '50%'
					}).then((result) => {
						if (result.isConfirmed) {

							postData['force'] = "1";

							$.post('/{{route}}/modules/module/settings/edit', postData, function(data) {
								if (data && data.responseCode === 0) {
									location.reload();
								} else if (data && data.responseCode === 1) {
									PNotify.error({
										text			: data.responseMessage,
										textTrusted		: true
									});
								}
							}, 'json');
						} else if (result.isDenied) {

							$('#is-default')[0].checked = false;
							postData['is_default'] = false;

							$.post('/{{route}}/modules/module/settings/edit', postData, function(data) {
								if (data && data.responseCode === 0) {
									location.reload();
								} else if (data && data.responseCode === 1) {
									PNotify.error({
										text		: data.responseMessage,
										textTrusted	: true
									});
								}
							}, 'json');
						}
					});
				} else if (data.responseCode === 3) {
					Swal.fire({
						icon	: 'error',
						title 	: data.responseMessage
					});
				} else {
					PNotify.error({
						text		: data.responseMessage,
						textTrusted	: true
					});
				}
			}, 'json');
		}
	});
</script>