{% if customer['id'] is defined %}
    {% set contactPhone = customer['contact_phone'] %}
    {% set contactPhoneExt = customer['contact_phone_ext'] %}
    {% set contactMobile = customer['contact_mobile'] %}
    {% set contactOther = customer['contact_other'] %}
    {% set contactSecondaryEmail = customer['contact_secondary_email'] %}
{% else %}
    {% set contactPhone = '' %}
    {% set contactPhoneExt = '' %}
    {% set contactMobile = '' %}
    {% set contactOther = '' %}
    {% set contactSecondaryEmail = '' %}
{% endif %}
<div class="row">
    <div class="col">
        <div id="work-phone" class="row">
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'contact_phone',
                        'fieldLabel'                     : 'Phone',
                        'fieldType'                      : 'input',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'Phone number of the customer',
                        'fieldRequired'                  : false,
                        'fieldBazScan'                   : true,
                        'fieldBazJstreeSearch'           : true,
                        'fieldBazPostOnCreate'           : true,
                        'fieldBazPostOnUpdate'           : true,
                        'fieldDataInputMinLength'        : 1,
                        'fieldDataInputMaxLength'        : 20,
                        'fieldValue'                     : contactPhone
                    ]
                )}}
            </div>
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'contact_phone_ext',
                        'fieldLabel'                     : 'Extension',
                        'fieldType'                      : 'input',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'Phone number extension of the customer',
                        'fieldRequired'                  : false,
                        'fieldBazScan'                   : true,
                        'fieldBazJstreeSearch'           : true,
                        'fieldBazPostOnCreate'           : true,
                        'fieldBazPostOnUpdate'           : true,
                        'fieldDataInputMinLength'        : 1,
                        'fieldDataInputMaxLength'        : 15,
                        'fieldValue'                     : contactPhoneExt
                    ]
                )}}
            </div>
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'contact_mobile',
                        'fieldLabel'                     : 'Mobile',
                        'fieldType'                      : 'input',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'Mobile phone number of the customer',
                        'fieldRequired'                  : true,
                        'fieldBazScan'                   : true,
                        'fieldBazJstreeSearch'           : true,
                        'fieldBazPostOnCreate'           : true,
                        'fieldBazPostOnUpdate'           : true,
                        'fieldDataInputMinLength'        : 1,
                        'fieldDataInputMaxLength'        : 20,
                        'fieldValue'                     : contactMobile
                    ]
                )}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'contact_other',
                        'fieldLabel'                     : 'Other Contact #',
                        'fieldType'                      : 'input',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'Any other customer # of the customer',
                        'fieldRequired'                  : false,
                        'fieldBazScan'                   : true,
                        'fieldBazJstreeSearch'           : true,
                        'fieldBazPostOnCreate'           : true,
                        'fieldBazPostOnUpdate'           : true,
                        'fieldDataInputMinLength'        : 1,
                        'fieldDataInputMaxLength'        : 100,
                        'fieldValue'                     : contactOther
                    ]
                )}}
            </div>
            <div class="col">
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'contact_secondary_email',
                        'fieldLabel'                     : 'Secondary Email',
                        'fieldType'                      : 'input',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'Secondary Email Address',
                        'fieldRequired'                  : false,
                        'fieldBazScan'                   : true,
                        'fieldBazJstreeSearch'           : true,
                        'fieldBazPostOnCreate'           : true,
                        'fieldBazPostOnUpdate'           : true,
                        'fieldDataInputMinLength'        : 1,
                        'fieldDataInputMaxLength'        : 50,
                        'fieldValue'                     : contactSecondaryEmail
                    ]
                )}}
            </div>
            <div class="col">
                {% if customer['cc_emails_to_secondary_email'] is defined %}
                    {% if customer['cc_emails_to_secondary_email'] == 1 %}
                        {% set ccEmailsChecked = true %}
                    {% else %}
                        {% set ccEmailsChecked = false %}
                    {% endif %}
                {% else %}
                    {% set ccEmailsChecked = false %}
                {% endif %}
                {{adminltetags.useTag('fields',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'fieldId'                        : 'cc_emails_to_secondary_email',
                        'fieldLabel'                     : 'CC Emails?',
                        'fieldHelp'                      : true,
                        'fieldHelpTooltipContent'        : 'CC Emails to secondary email address?',
                        'fieldRequired'                  : false,
                        'fieldType'                      : 'checkbox',
                        'fieldCheckboxType'              : 'info',
                        'fieldCheckboxChecked'           : ccEmailsChecked,
                        'fieldBazJstreeSearch'           : true,
                        'fieldBazPostOnCreate'           : true,
                        'fieldBazPostOnUpdate'           : true,
                        'fieldBazScan'                   : true
                    ]
                )}}
            </div>
        </div>
    </div>
</div>