{% set moduleDependencies = json_encode([], 16) %}
{% if module['id'] is defined %}
    {% set moduleDependencies = module['dependencies'] %}
{% endif %}
{% if type !== 'core' %}
    <div class="row">
        <div class="col">
            {{adminltetags.useTag('fields',
                [
                    'component'                            : component,
                    'componentName'                        : componentName,
                    'componentId'                          : componentId,
                    'sectionId'                            : sectionId,
                    'fieldId'                              : 'dependencies-modules',
                    'fieldLabel'                           : 'Select Module',
                    'fieldType'                            : 'select2',
                    'fieldHelp'                            : true,
                    'fieldHelpTooltipContent'              : 'Module',
                    'fieldRequired'                        : true,
                    'fieldBazScan'                         : true,
                    'fieldDataSelect2Options'              : modules,
                    'fieldDataSelect2OptionsKey'           : 'id',
                    'fieldDataSelect2OptionsValue'         : 'name',
                    'fieldDataSelect2OptionsSelected'      : ''
                ]
            )}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{adminltetags.useTag('fields',
                [
                    'component'                      : component,
                    'componentName'                  : componentName,
                    'componentId'                    : componentId,
                    'sectionId'                      : sectionId,
                    'fieldId'                        : 'dependencies-modulename',
                    'fieldLabel'                     : 'Module Name',
                    'fieldType'                      : 'input',
                    'fieldHelp'                      : true,
                    'fieldHelpTooltipContent'        : 'component Name Example: Dashboard',
                    'fieldRequired'                  : true,
                    'fieldBazScan'                   : true,
                    'fieldDataInputMinLength'        : 1,
                    'fieldDataInputMaxLength'        : 50,
                    'fieldValue'                     : ''
                ]
            )}}
        </div>
        <div class="col">
            {{adminltetags.useTag('fields',
                [
                    'component'                      : component,
                    'componentName'                  : componentName,
                    'componentId'                    : componentId,
                    'sectionId'                      : sectionId,
                    'fieldId'                        : 'dependencies-moduleversion',
                    'fieldLabel'                     : 'module version',
                    'fieldType'                      : 'input',
                    'fieldHelp'                      : true,
                    'fieldHelpTooltipContent'        : 'module version.',
                    'fieldRequired'                  : true,
                    'fieldBazScan'                   : true,
                    'fieldDataInputMinLength'        : 1,
                    'fieldDataInputMaxLength'        : 1024,
                    'fieldValue'                     : ''
                ]
            )}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{adminltetags.useTag('fields',
                [
                    'component'                      : component,
                    'componentName'                  : componentName,
                    'componentId'                    : componentId,
                    'sectionId'                      : sectionId,
                    'fieldId'                        : 'dependencies-modulerepo',
                    'fieldLabel'                     : 'module repo',
                    'fieldType'                      : 'input',
                    'fieldHelp'                      : true,
                    'fieldHelpTooltipContent'        : 'module repo.',
                    'fieldRequired'                  : true,
                    'fieldBazScan'                   : true,
                    'fieldDataInputMinLength'        : 1,
                    'fieldDataInputMaxLength'        : 1024,
                    'fieldValue'                     : ''
                ]
            )}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{adminltetags.useTag('buttons',
                [
                    'component'                      : component,
                    'componentName'                  : componentName,
                    'componentId'                    : componentId,
                    'sectionId'                      : sectionId,
                    'buttonType'                    : 'button',
                    'buttons'                       :
                        [
                            'dependencies-remove'    : [
                                'title'                   : 'Remove',
                                'size'                    : 'xs',
                                'disabled'                : true,
                                'type'                    : 'danger',
                                'icon'                    : 'trash'
                            ],
                            'dependencies-add'    : [
                                'title'                   : 'Add',
                                'size'                    : 'xs',
                                'disabled'                : true,
                                'type'                    : 'primary',
                                'icon'                    : 'plus',
                                'position'                : 'right'
                            ]
                        ]
                ]
            )}}
        </div>
    </div>
    <hr>
{% endif %}
<div class="row">
    <div class="col">
        {{adminltetags.useTag('fields',
            [
                'component'                      : component,
                'componentName'                  : componentName,
                'componentId'                    : componentId,
                'sectionId'                      : sectionId,
                'fieldId'                        : 'dependencies',
                'fieldLabel'                     : 'Dependencies',
                'fieldType'                      : 'textarea',
                'fieldDataMaxLength'             : 2048,
                'fieldHelp'                      : true,
                'fieldHelpTooltipContent'        : 'Dependencies',
                'fieldDisabled'                  : false,
                'fieldHidden'                    : false,
                'fieldBazScan'                   : true,
                'fieldBazPostOnCreate'           : true,
                'fieldBazPostOnUpdate'           : true,
                'fieldDataInputMaxLength'        : 10000,
                'fieldTextareaRows'              : 15,
                'fieldValue'                     : moduleDependencies
            ]
        )}}
    </div>
</div>