<!-- htmlhint tag-pair:false --><!-- htmlmin:ignore -->
{% set changesHtml = '' %}
{% if modules|length > 0 %}
    {% for moduleType, modulesArr in modules %}
        {% if modulesArr['childs'] is defined and modulesArr['childs']|length > 0 %}
            {% for moduleArr in modulesArr['childs'] %}
                {% set isSubView = '' %}
                {% if moduleArr['module_type'] == 'views' and  moduleArr['is_subview'] == true %}
                    {% set isSubView = '/subview/true' %}
                {% endif %}
                {% set editUrl = links.url('devtools/modules/q/module/true/type/' ~ moduleArr['module_type'] ~ '/id/' ~ moduleArr['id'] ~ isSubView) %}
                {% set releaseUrl = links.url('devtools/modules/q/module/true/type/' ~ moduleArr['module_type'] ~ '/id/' ~ moduleArr['id'] ~ '/newrelease/true') %}
                {% if selectedAppType is defined and selectedAppType != '0' %}
                    {% set editUrl = editUrl ~ '/apptype/' ~ selectedAppType %}
                    {% set releaseUrl = releaseUrl ~ '/apptype/' ~ selectedAppType %}
                {% endif %}
                {% set moduleButtons =
                    '<div class="btn-group">
                        <a href="' ~ editUrl ~ '" type="button" data-id="' ~ moduleArr['id'] ~ '" data-type="' ~ moduleArr['module_type'] ~ '" class="pl-2 pr-2 text-white btn btn-primary btn-xs editModule">
                            <i class="fas fa-fw fa-xs fa-edit"></i> <span class="text-xs text-uppercase">Edit</span>
                        </a>
                        <button type="button" class="pl-2 pr-2 btn btn-default btn-xs dropdown-toggle dropdown-icon" data-toggle="dropdown" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                                <a href="' ~ releaseUrl ~ '" data-id="' ~ moduleArr['id'] ~ '" class="dropdown-item text-success releaseModule">
                                    <i class="fas fa-fw fa-xs fa-wand-magic-sparkles"></i> <span class="text-xs text-uppercase">Generate Release</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <div class="dropdown-divider"></div>
                                <a href="#" data-id="' ~ moduleArr['id'] ~ '" data-type="' ~ moduleArr['module_type'] ~ '" class="dropdown-item text-warning recalculateHashModule">
                                    <i class="fas fa-fw fa-xs fa-hashtag"></i> <span class="text-xs text-uppercase">Recalculate Hash</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <div class="dropdown-divider"></div>
                                <a href="#" data-id="' ~ moduleArr['id'] ~ '" data-type="' ~ moduleArr['module_type'] ~ '" class="dropdown-item text-info recalculateHashReleasePendingModule">
                                    <i class="fas fa-fw fa-xs fa-hashtag"></i> <span class="text-xs text-uppercase">Recalculate Hash (Mark Release Pending)</span>
                                </a>
                            </div>
                        </button>
                    </div>'
                %}
                {% set moduleUrl = '-' %}
                {% set moduleVersion = '-' %}
                {% if moduleArr['repoExists'] != false %}
                    {% if moduleArr['repo_details']['details']['html_url'] is defined %}
                        {% set moduleUrl = '<a href="' ~  moduleArr['repo_details']['details']['html_url'] ~ '" target="blank">' ~  moduleArr['repo_details']['details']['html_url'] %}
                    {% endif %}
                    {% if moduleArr['repo_details']['latestRelease'] is defined %}
                        {% set moduleVersion = moduleArr['repo_details']['latestRelease']['name'] %}
                    {% endif %}
                {% endif %}
                {% set moduleReleasePending = '-' %}
                {% if moduleArr['releasePending'] == true %}
                    {% set moduleReleasePending = 'Yes' %}
                {% endif %}
                {% set moduleModified = '-' %}
                {% if moduleArr['isModified'] != false %}
                    {% set moduleModified =
                        '<button href="#" type="button" data-id="' ~ moduleArr['id'] ~ '" data-name="' ~ moduleArr['name'] ~ '" data-type="' ~ moduleArr['module_type'] ~ '" class="ml-1 mr-1 text-white btn btn-primary btn-xs moduleModified">' ~
                        '   <i class="fas fa-fw fa-xs fa-eye"></i>' ~
                        '</button>'
                    %}
                {% endif %}
                {% set moduleName = moduleArr['name'] %}
                {% if moduleArr['display_name'] is defined %}
                    {% set moduleName = moduleArr['display_name'] ~ ' (' ~ moduleArr['name'] ~ ')' %}
                {% elseif moduleArr['route'] is defined %}
                    {% set moduleName = moduleArr['name'] ~ ' (' ~ moduleArr['route'] ~ ')' %}
                {% endif %}
                {% set changesHtml = changesHtml ~ '<tr>' ~
                '           <td>' ~ moduleName ~ '</td>' ~
                '           <td>' ~ moduleArr['module_type'] ~ '</td>' ~
                '           <td>' ~ moduleUrl ~ '</td>' ~
                '           <td>' ~ moduleVersion ~ '</td>' ~
                '           <td>' ~ moduleReleasePending ~ '</td>' ~
                '           <td>' ~ moduleModified ~ '</td>' ~
                '           <td id="{{componentId}}-{{sectionId}}-changes-modules-' ~ moduleArr['name'] ~ '">' ~  moduleButtons ~ '</td>' ~
                '       </tr>' %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endif %}
{% if changesHtml != '' %}
    <div class="row">
        <div class="col">
                {{adminltetags.useTag('buttons',
                    [
                        'component'                      : component,
                        'componentName'                  : componentName,
                        'componentId'                    : componentId,
                        'sectionId'                      : sectionId,
                        'buttonType'                    : 'button',
                        'buttons'                       :
                            [
                                'modules-link'    : [
                                    'title'                   : 'link',
                                    'size'                    : 'xs',
                                    'disabled'                : true,
                                    'hidden'                  : true,
                                    'url'                     : '#'
                                ]
                            ]
                    ]
                )}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table id="{{componentId}}-{{sectionId}}-changes-table" class="table table-sm table-hover responsive nowrap mb-0" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th class="text-uppercase">Name</th>
                        <th class="text-uppercase">Module Type</th>
                        <th class="text-uppercase">Repository</th>
                        <th class="text-uppercase">Latest Version</th>
                        <th class="text-uppercase">Release pending</th>
                        <th class="text-uppercase">Modified</th>
                        <th class="text-uppercase">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{changesHtml}}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}
{% set modifiedModules = json_encode(modifiedModules, 16) %}
<div>
    {{adminltetags.useTag('modal',
        [
            'component'                 : component,
            'componentName'             : componentName,
            'componentId'               : componentId,
            'sectionId'                 : sectionId,
            'modalId'                   : 'modifiedfiles-modal',
            'modalBodyInclude'          : 'modules/changes/modifiedfiles',
            'modalSize'                 : 'xl',
            'modalType'                 : 'primary',
            'modalHeader'               : true,
            'modalFooter'               : true,
            'modalHeaderCloseButton'    : true,
            'modalEscClose'             : true,
            'modalTitle'                : 'MODIFIED FILES : '
        ]
    )}}
</div>
<script>
/*global paginatedPNotify BazProgress BazContentFields BazHelpers BazContentLoader Pace BazCore Swal dataCollection Diff2HtmlUI */
var dataCollectionComponent, dataCollectionSection, dataCollectionSectionForm;
if (!window['dataCollection']) {
    window['dataCollection'] = { };
}
if (!window['dataCollection']['{{componentId}}']) {
    dataCollectionComponent =
        window['dataCollection']['{{componentId}}'] = { };
} else {
    dataCollectionComponent =
        window['dataCollection']['{{componentId}}'];
}
if (!dataCollectionComponent['{{componentId}}-{{sectionId}}']) {
    dataCollectionSection =
        dataCollectionComponent['{{componentId}}-{{sectionId}}'] = { };
} else {
    dataCollectionSection =
        dataCollectionComponent['{{componentId}}-{{sectionId}}'];
}
if (!dataCollectionSection['{{componentId}}-{{sectionId}}-form']) {
    dataCollectionSectionForm =
        dataCollectionSection['{{componentId}}-{{sectionId}}-form'] = { };
} else {
    dataCollectionSectionForm =
        dataCollectionSection['{{componentId}}-{{sectionId}}-form'];
}

dataCollectionSectionForm['vars'] = { };
dataCollectionSectionForm['vars']['modifiedModules'] = JSON.parse('{{modifiedModules}}');
dataCollectionSectionForm['vars']['selectedAppType'] = '{{selectedAppType}}';

dataCollectionSectionForm['funcs'] = { };
dataCollectionSectionForm['funcs']['init'] = function() {
    if ($.fn.DataTable && !$.fn.DataTable.isDataTable('#{{componentId}}-{{sectionId}}-changes-table')) {
        dataCollectionSectionForm['vars']['modulesTable'] = $('#{{componentId}}-{{sectionId}}-changes-table').DataTable({
            columns: [
                null,
                null,
                null,
                null,
                null,
                null,
                { orderable: false }
            ],
            order: [[1, 'asc']],
            lengthMenu: [
                [50, 100, -1],
                [50, 100, 'All']
            ]
        });

        dataCollectionSectionForm['vars']['modulesTable'].on('draw responsive-display', function() {
            resetButtons();
        });
    }

    function resetButtons() {
        $('.editModule').off();
        $('.editModule').click(function(e) {
            e.preventDefault();

            dataCollectionSectionForm['funcs']['browse']($(this).attr('href'));
        });

        $('.releaseModule').off();
        $('.releaseModule').click(function(e) {
            e.preventDefault();

            dataCollectionSectionForm['funcs']['browse']($(this).attr('href'));
        });

        $('.moduleModified').off();
        $('.moduleModified').click(function(e) {
            e.preventDefault();

            $('#{{componentId}}-{{sectionId}}-modifiedfiles-modal-label')
                .html('<span class="text-uppercase"> CHANGES FOR MODULE : ' + $(this).data()['name'] + ' (' + $(this).data()['type'] + ')</span>');

            var moduleThatHasChanged = dataCollectionSectionForm['vars']['modifiedModules'][$(this).data()['type']][$(this).data()['id']];

            var changedModule = { };
            for (var changeType in moduleThatHasChanged) {
                if (Object.keys(moduleThatHasChanged[changeType]).length === 0) {
                    changedModule[changeType.toUpperCase() + ' (0)'] = '-';
                } else {
                    var modifiedModules = { };

                    for (var modifiedModuleCounter in moduleThatHasChanged[changeType]) {
                        if (changeType === 'modified') {
                            modifiedModules[modifiedModuleCounter] =
                                moduleThatHasChanged[changeType][modifiedModuleCounter] +
                                '<a href="#" class="diff" ' +
                                    'data-type="' + $(this).data()['type'] +
                                    '" data-id="' + $(this).data()['id'] +
                                    '" data-file="' + moduleThatHasChanged[changeType][modifiedModuleCounter] + '"> (diff)</a>';
                        } else {
                            modifiedModules[modifiedModuleCounter] = moduleThatHasChanged[changeType][modifiedModuleCounter];
                        }
                    }

                    changedModule[changeType.toUpperCase() + ' (' + Object.keys(moduleThatHasChanged[changeType]).length + ')'] = modifiedModules;
                }
            }

            var changes = BazHelpers.createHtmlList({'obj': changedModule});

            $('#{{componentId}}-{{sectionId}}-modifiedfiles-modal .modal-body').empty().html(changes + '<div id="diff"></div>');

            $('#{{componentId}}-{{sectionId}}-modifiedfiles-modal').modal('show');

            $('#{{componentId}}-{{sectionId}}-modifiedfiles-modal').on('shown.bs.modal', function() {
                $('#{{componentId}}-{{sectionId}}-modifiedfiles-modal').off('shown.bs.modal');

                $('.diff').click(function(e) {
                    e.preventDefault();

                    var postData = { };
                    postData[$('#security-token').attr('name')] = $('#security-token').val();
                    postData['id'] = $(this).data()['id'];
                    postData['module_type'] = $(this).data()['type'];
                    postData['file'] = $(this).data()['file'];

                    getDiff(postData);
                });
            });
        });

        $('.recalculateHashModule').off();
        $('.recalculateHashModule').click(function(e) {
            e.preventDefault();

            var postData = { };
            postData[$('#security-token').attr('name')] = $('#security-token').val();
            postData['id'] = $(this).data()['id'];
            postData['module_type'] = $(this).data()['type'];

            Swal.fire({
                title                       : '<span class="text-warning"> Recalculate Hash for module?</span>',
                icon                        : 'question',
                background                  : 'rgba(0,0,0,.8)',
                backdrop                    : 'rgba(0,0,0,.6)',
                buttonsStyling              : false,
                confirmButtonText           : 'Yes',
                cancelButtonText            : 'No',
                customClass                 : {
                    'confirmButton'             : 'btn btn-warning btn-sm text-uppercase',
                    'cancelButton'              : 'ml-2 btn btn-secondary btn-sm text-uppercase',
                },
                showCancelButton            : true,
                keydownListenerCapture      : true,
                allowOutsideClick           : true,
                allowEscapeKey              : true,
                didOpen                     : function() {
                    dataCollection.env.sounds.swalSound.play();
                }
            }).then((result) => {
                if (result.value) {
                    reCalculateFilesHash(postData);
                } else {
                    return;
                }
            });
        });

        $('.recalculateHashReleasePendingModule').off();
        $('.recalculateHashReleasePendingModule').click(function(e) {
            e.preventDefault();

            var postData = { };
            postData[$('#security-token').attr('name')] = $('#security-token').val();
            postData['id'] = $(this).data()['id'];
            postData['module_type'] = $(this).data()['type'];
            postData['release_pending'] = 'true';

            Swal.fire({
                title                       : '<span class="text-warning"> Recalculate Hash (with release pending) for module?</span>',
                icon                        : 'question',
                background                  : 'rgba(0,0,0,.8)',
                backdrop                    : 'rgba(0,0,0,.6)',
                buttonsStyling              : false,
                confirmButtonText           : 'Yes',
                cancelButtonText            : 'No',
                customClass                 : {
                    'confirmButton'             : 'btn btn-warning btn-sm text-uppercase',
                    'cancelButton'              : 'ml-2 btn btn-secondary btn-sm text-uppercase',
                },
                showCancelButton            : true,
                keydownListenerCapture      : true,
                allowOutsideClick           : true,
                allowEscapeKey              : true,
                didOpen                     : function() {
                    dataCollection.env.sounds.swalSound.play();
                }
            }).then((result) => {
                if (result.value) {
                    reCalculateFilesHash(postData);
                } else {
                    return;
                }
            });
        });
    }

    resetButtons();

    function reCalculateFilesHash(postData) {
        $.post('{{links.url("devtools/modules/reCalculateFilesHash")}}', postData, function(response) {
            if (response.tokenKey && response.token) {
                $('#security-token').attr('name', response.tokenKey);
                $('#security-token').val(response.token);
            }

            if (response.responseCode == 0) {
                paginatedPNotify('success', {'text': response.responseMessage});

                if (dataCollectionSectionForm['vars']['selectedAppType'] != '0') {
                    dataCollectionSectionForm['funcs']['browse']('{{links.url("devtools/modules/q/changes/true/apptype/' + dataCollectionSectionForm['vars']['selectedAppType'] + '")}}');
                } else {
                    dataCollectionSectionForm['funcs']['browse']('{{links.url("devtools/modules/q/changes/true")}}');
                }
            } else {
                paginatedPNotify('error', {'text': response.responseMessage});
            }
        }, 'json');
    }

    function getDiff(postData) {
        $.post('{{links.url("devtools/modules/getDiff")}}', postData, function(response) {
            if (response.tokenKey && response.token) {
                $('#security-token').attr('name', response.tokenKey);
                $('#security-token').val(response.token);
            }

            if (response.responseCode == 0) {
                var targetElement = document.getElementById('diff');
                var configuration = {
                    drawFileList: true,
                    fileListToggle: false,
                    fileListStartVisible: false,
                    fileContentToggle: false,
                    matching: 'lines',
                    outputFormat: 'line-by-line',
                    highlight: true,
                    renderNothingWhenEmpty: false,
                };

                var diff2htmlUi = new Diff2HtmlUI(targetElement, response.responseData.diff.join("\r\n"), configuration);
                diff2htmlUi.draw();
                diff2htmlUi.highlightCode();
            } else {
                paginatedPNotify('error', {'text': response.responseMessage});
            }
        }, 'json');
    }
}

dataCollectionSectionForm['funcs']['browse'] = function(url) {
    $('#{{componentId}}-{{sectionId}}-modules-link').attr('href', url);

    BazContentLoader.loadAjax($('#{{componentId}}-{{sectionId}}-modules-link'), {
        ajaxBefore                      : function () {
                                            Pace.restart();
                                            $("#baz-content").empty();
                                            $("#loader").attr('hidden', false);
                                        },
        ajaxFinished                    : function () {
                                            BazCore.updateBreadcrumb();
                                            $("#loader").attr('hidden', true);
                                        },
        ajaxError                       : function () {
                                            $("#loader").attr('hidden', true);
                                            BazCore.updateBreadcrumb();
                                        }
    });
}

$(document).ready(function() {
    dataCollectionSectionForm['funcs']['init']();
});
</script>
<!-- htmlmin:ignore -->