<!-- htmlhint tag-pair:false --><!-- htmlmin:ignore -->
{{get_doctype()}}
<html lang="en">
    <head>
        {% for meta in assets.get('meta').getCodes() %}
            {% if meta.getType() === 'charset' %}
                <meta charset="{{meta.getContent()}}">
            {% else %}
                <meta name="{{meta.getType()}}" content="{{meta.getContent()}}">
            {% endif %}
        {% endfor %}
        {{renderTitle()}}
        {{assets.outputCss('headLinks')}}
        {{assets.outputJs('headJs')}}
        {{assets.outputInlineCss()}}
    </head>
    {% if assets.get('body').getCodes()[0].getContent() !== '' %}
        <body {{assets.get('body').getCodes()[0].getContent()}}>
    {% else %}
        <body id="body" class="sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed text-sm">
    {% endif %}
        <script type="text/javascript" charset="utf-8">
            {{assets.get('body').getCodes()[1].getContent()}}
        </script>
        <div class="wrapper">
            {% include("layouts/default/header/view") %}
            {% include("layouts/default/sidebar/view") %}
            {% include("layouts/default/content/view") %}
            {% include("layouts/default/controlsidebar/view") %}
            {% include("layouts/default/footer/view") %}
        </div>
    </body>
</html>
<!-- htmlmin:ignore -->