<div class="p-2">
	<div class="row">
		<div class="col">
			<div class="form-group">
				<label for="views-title">Title</label>
				<div class="input-group">
					<input type="text" name="views-title" id="views-title" class="form-control" value="{{viewsData.settings.head.title}}" placeholder="Title">
				</div>
			</div>
		</div>
	</div>
	<legend>Meta</legend>
	<div class="row">
		{% for metaKey, meta in viewsData.settings.head.meta %}
			{% if metaKey == 'description' or metaKey == 'keywords' %}
				{% set disabled = '' %}
			{% else %}
				{% set disabled = 'disabled' %}
			{% endif %}
			<div class="col-md-6">
				<div class="form-group">
					<label for="meta-{{metaKey}}">{{metaKey|capitalize}}</label>
					<div class="input-group">
						<input type="text" name="meta-{{metaKey}}" id="meta-{{metaKey}}" class="form-control" value="{{meta}}" {{disabled}}>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="row">
		{% set links = [] %}
		{% for link in viewsData.settings.head.link.href %}
			{% set links = links|merge([link]) %}
		{% endfor %}
		<div class="col">
			<div class="form-group">
				<label for="head-links">Links</label>
				<div class="input-group">
					<textarea name="head-links" id="head-links" class="form-control" placeholder="Links" disabled>{{links|join('\n')}}</textarea>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		{% set scripts = [] %}
		{% for script in viewsData.settings.head.script.src %}
			{% set scripts = scripts|merge([script]) %}
		{% endfor %}
		<div class="col">
			<div class="form-group">
				<label for="head-scripts">Scripts</label>
				<div class="input-group">
					<textarea name="head-scripts" id="head-scripts" class="form-control" placeholder="Scripts" disabled>{{scripts|join('\n')}}</textarea>
				</div>
			</div>
		</div>
	</div>
</div>
