<!-- htmlhint tag-pair:false --><!-- htmlmin:ignore -->
{{get_doctype()}}
<html lang="en">
    <head>
        {% for meta in assets.get('meta').getCodes() %}
            {% if meta.getType() === 'charset' %}
                <meta charset="{{meta.getContent()}}">
            {% else %}
                <meta name="{{meta.getType()}}" content="{{meta.getContent()}}">
            {% endif %}
        {% endfor %}
        {{renderTitle()}}
        {{assets.outputCss('headLinks')}}
        {{assets.outputJs('headJs')}}
        {{assets.outputInlineCss()}}
    </head>
    {% if assets.get('body').getCodes()[0].getContent() !== '' %}
        <body {{assets.get('body').getCodes()[0].getContent()}}>
    {% else %}
        <body id="body" class="sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed text-sm">
    {% endif %}
        <script>
/* globals dataCollection */
if (!window.dataCollection) {
    window.name = 'Bazaari';
    //For all data collection. Section Data collection, has list of fields, whole section HTML, section fields data
    window.dataCollection = { };
    dataCollection = window.dataCollection;
    dataCollection.env = { };
    dataCollection.env.breadcrumb = '{{breadcrumb}}';
    //Paths
    dataCollection.env.httpScheme = '{{request.getScheme()}}';
    dataCollection.env.httpHost = '{{request.getHttpHost()}}';
    dataCollection.env.rootPath = '{{request.getScheme()}}' + '://' + '{{request.getHttpHost()}}' + '/';
    dataCollection.env.appRoute = "{{apps.getAppInfo()['route']}}";
    dataCollection.env.jsPath =
        dataCollection.env.rootPath +
        "{{apps.getAppInfo()['app_type']}}" + '/' +
        "{{strtolower(modules.views.getViewInfo()['name'])}}" + '/' + 'js/';
    dataCollection.env.cssPath =
        dataCollection.env.rootPath +
        "{{apps.getAppInfo()['app_type']}}" + '/' +
        "{{strtolower(modules.views.getViewInfo()['name'])}}" + '/' + 'css/';
    dataCollection.env.imagesPath =
        dataCollection.env.rootPath +
        "{{apps.getAppInfo()['app_type']}}" + '/' +
        "{{strtolower(modules.views.getViewInfo()['name'])}}" + '/' + 'images/';
    dataCollection.env.soundPath =
        dataCollection.env.rootPath +
        "{{apps.getAppInfo()['app_type']}}" + '/' +
        "{{strtolower(modules.views.getViewInfo()['name'])}}" + '/' + 'sounds/';

    dataCollection.env.sounds = { };
    dataCollection.env.sounds.pnotifySound = new Audio(dataCollection.env.soundPath + 'pnotify.mp3');
    dataCollection.env.sounds.swalSound = new Audio(dataCollection.env.soundPath + 'swal.mp3');
    dataCollection.env.sounds.notificationSound = new Audio(dataCollection.env.soundPath + 'notification.mp3');
    dataCollection.env.sounds.messengerSound = new Audio(dataCollection.env.soundPath + 'messenger.mp3');

    dataCollection.env.notifications = { };
    dataCollection.env.account = { };

    dataCollection.env.fontsPath =
        dataCollection.env.rootPath +
        "{{apps.getAppInfo()['app_type']}}" + '/' +
        "{{strtolower(modules.views.getViewInfo()['name'])}}" + '/' + 'fonts/';
    dataCollection.env.libsLoaded = false;
    var uri = window.location.href.replace(dataCollection.env.rootPath, '');
    var splitUri = uri.split('/q/');
    dataCollection.env.currentRoute = splitUri[0];
}
</script>
        {% if config.debug === true %}
            <script>
if (localStorage.getItem('bazDevMode') === null) {
    localStorage.setItem('bazDevMode', null);
}
</script>
        {% endif %}
        <script type="text/javascript" charset="utf-8">
            {{assets.get('body').getCodes()[1].getContent()}}
        </script>
        <div class="wrapper">
            {% include(modules.views.getPhalconViewPath() ~ 'layouts/default/header/view') %}
            {% include(modules.views.getPhalconViewPath() ~ 'layouts/default/sidebar/view') %}
            {% include(modules.views.getPhalconViewPath() ~ 'layouts/default/content/view') %}
            {% if modules.components.getNamedComponentForApp('Messenger', apps.getAppInfo()['id']) %}
                {% include(modules.views.getPhalconViewPath() ~ 'layouts/default/messenger/view') %}
            {% endif %}
            {% include(modules.views.getPhalconViewPath() ~ 'layouts/default/footer/view') %}
        </div>
    </body>
</html>
<!-- htmlmin:ignore -->