{% if settings['cache'] is defined and settings['layout'] is defined %}
	{% set general = '' %}
	{% set generalActive = 'active' %}
	{% set generalTabActive = 'show active' %}
	{% set headActive = '' %}
	{% set headTabActive = '' %}
{% else %}
	{% set general = 'hidden' %}
	{% set generalActive = '' %}
	{% set generalTabActive = '' %}
	{% set headActive = 'active' %}
	{% set headTabActive = 'show active' %}
{% endif %}
<div class="p-2">
	<ul class="nav nav-tabs" id="viewSettingsTab" role="tablist">
		<li class="nav-item" role="presentation" {{general}}>
			<a class="nav-link {{generalActive}}" id="settings-general-tab" data-toggle="tab" href="#settings-general" role="tab" aria-controls="settings-general" aria-selected="true">Ganeral</a>
		</li>
		<li class="nav-item" role="presentation">
			<a class="nav-link {{headActive}}" id="settings-head-tab" data-toggle="tab" href="#settings-head" role="tab" aria-controls="settings-head" aria-selected="false">Head</a>
		</li>
		<li class="nav-item" role="presentation">
			<a class="nav-link" id="settings-body-tab" data-toggle="tab" href="#settings-body" role="tab" aria-controls="settings-body" aria-selected="false">Body</a>
		</li>
		<li class="nav-item" role="presentation">
			<a class="nav-link" id="settings-footer-tab" data-toggle="tab" href="#settings-footer" role="tab" aria-controls="settings-footer" aria-selected="false">Footer</a>
		</li>
	</ul>
	<div class="tab-content" id="viewSettingsTabContent">
		<div class="tab-pane fade {{generalTabActive}}" id="settings-general" role="tabpanel" aria-labelledby="settings-general-tab" {{general}}>
			{% include 'settings/general.html' %}
		</div>
		<div class="tab-pane fade {{headTabActive}}" id="settings-head" role="tabpanel" aria-labelledby="settings-head-tab">
			{% include 'settings/head.html' %}
		</div>
		<div class="tab-pane fade" id="settings-body" role="tabpanel" aria-labelledby="settings-body-tab">
			{% include 'settings/body.html' %}
		</div>
		<div class="tab-pane fade" id="settings-footer" role="tabpanel" aria-labelledby="settings-footer-tab">
			{% include 'settings/footer.html' %}
		</div>
	</div>
</div>